[2021-05-17 18:35] #163 closed

[2021-05-17 19:44] SupremeTechnopriest commented on #163
Glad you sorted it out.  This is probably the most common use case and it's definitely possible.  It seems most people use the Idle Timeout to open the modal and then use their own setTimeout to actually do the logout.  Clear the timeout on the "Im still here" button.

I imagine for your use case you want user activity to clear the modal instead of a button, in which case, you are on the right tra

[2021-05-17 19:49] SupremeTechnopriest commented on #89
I also came across this which could help you out with this issue:

https://github.com/turuslan/HackTimer

Maybe idle timer can implement something like this behind a flag to hack the timers from being throttled... I am just a bit hesitant to release something like that because it can easily be abused and smoke all of a users resources (think mobile).  There is a reason google implemented timer thr

[2021-05-18 01:28] caranad opened #164 "Package causing CSP issues"
Hi there,

It appears that when I'm implementing this module with CSP (script-src) you're relying on the regenerator-runtime package to bundle this module, which will end up triggering the following CSP error when I try it:

![image](https://user-images.githubusercontent.com/16296061/118576561-c54a8d80-b756-11eb-8dd1-b714d609b9ce.png)

Thanks for all your assistance.

[2021-05-18 17:56] mellis481 commented on #60
@SupremeTechnopriest Did the `IdleTimer` class' `ref` property get removed from the types at some point?  I see it referenced above as `ref: (ref: IdleTimer) => any;` and it's also referenced in the [component usage](ref: (ref: IdleTimer) => any;) documentation, but I'm not seeing it in my Typescript project.

[2021-05-18 21:35] SupremeTechnopriest commented on #60
Let me check on that.

[2021-05-18 21:39] SupremeTechnopriest commented on #60
Looks like it did get removed, adding it back and will roll out a patch shortly.

[2021-05-18 21:42] mattjneuber opened #165 "When using multiple tabs, onIdle seems to trigger when it should not"
I'm experiencing strange behavior where after `onIdle` triggers the first time, and subsequently calling `reset()`, events in the browser are not preventing `onIdle` from triggering again, but only if I have multiple tabs open with `emitOnAllTabs` set to true, and using `stopOnIdle`.  The same thing happens if I don't use `stopOnIdle` but manually call `pause()` in `onIdle` and `resume()` in my mo

[2021-05-18 21:44] SupremeTechnopriest commented on #165
Thanks for the report.  I will look into this.

[2021-05-18 22:11] SupremeTechnopriest commented on #164
Hello, let me see what I can do about that.  I will be publishing a release candidate later today.

[2021-05-18 22:56] SupremeTechnopriest commented on #159
By screen readers, do you mean text to speech/ accessibility or reader mode where most of the styles are removed giving the user a clean reading experience?

[2021-05-18 23:00] SupremeTechnopriest commented on #159
In either case, it doesn't seem like there is a unified API for me to be able to add support. The closest solutions I can find are:

https://github.com/wicg/aom
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/toggleReaderMode

If/when these APIs are well supported I can add support for screen readers and reader mode.  Until then there is not much I can do.  Going to

[2021-05-18 23:00] #159 closed

[2021-05-18 23:30] SupremeTechnopriest commented on #60
@mellis481 Can you try out `4.6.3-rc.1` by `npm i react-idle-timer@next`?  Should be all set now.

[2021-05-18 23:31] SupremeTechnopriest commented on #164
Published `4.6.3-rc.1` to npm `next` tag.  Install with `npm i react-idle-timer@next` and let me know if that build fixes your issue :)

[2021-05-18 23:32] SupremeTechnopriest commented on #165
@mattjneuber Pretty sure I found and patched this issue.  I published `4.6.3-rc.1` to npm under the `next` tag.  Install it with `npm i react-idle-timer@next` and let me know if that fixes your issue.

[2021-05-19 00:13] caranad commented on #164
Yikes, that was fast. Thanks for the quick response! I'll test it and get back to you.

[2021-05-19 00:16] mattjneuber commented on #165
I updated the above code sandbox with the new version, but it still doesn't seem to work.  Same exact behavior as before there.
I also can no longer run my actual application (built with webpack) after updating to the new version, it's complaining like so:

[code]

I don't have that problem with the previous version.

[2021-05-19 00:41] caranad commented on #164
Sir, you are a God amongst men. I salute you and your work, for your solution has SOLVED MY ISSUE! THANK YOU AND BLESS YOU! :D :D :D :D :D :D

[2021-05-19 00:44] SupremeTechnopriest commented on #164
Glad to be of service!  I will roll this out to the `latest` tag as soon as I resolve a few more issues.  Until then feel free to use the `next` tag.  I will update you here when you can switch back over!

[2021-05-19 00:56] SupremeTechnopriest commented on #165
Hmm yeah there was a CSP issue with regeneratorRuntime eval that I tried patching in this version.  Let me fix that and ill update you here when its done.  Which browser are you using to test?

[2021-05-19 01:11] mattjneuber commented on #165
I'm using Chrome on Mac.

[2021-05-19 21:03] SupremeTechnopriest commented on #165
@mattjneuber

Hmmm i cant seem to get that error to happen in the sandbox.  I published `4.6.3-rc.2` where I try transforming the runtime again.  Could you test on your end?

[2021-05-19 21:04] SupremeTechnopriest commented on #164
Hello @caranad,

I had to make a few changes to try and support older browsers that need the runtime.  I checked the built code and theres no `eval` being called.  Can you just confirm your CSP example still works with `4.6.3-rc.2`?

Thanks!

[2021-05-19 21:05] SupremeTechnopriest commented on #60
Cool!  WIll be rolling this to the `latest` tag today hopefully. Just working on fixing a few other things. I will update you here when you can switch back.

[2021-05-19 21:21] mattjneuber commented on #165
rc2 does allow me to build and run my application again, and allowed me to verify that the behavior described in the first post still occurs there.

Thanks for working with me on this.

[2021-05-19 22:08] SupremeTechnopriest commented on #165
Sure no problem.  I see the issue.  Working on it now.

[2021-05-19 23:26] SupremeTechnopriest commented on #165
@mattjneuber can you try `4.6.3-rc.3`?

[2021-05-19 23:39] mattjneuber commented on #165
That seems to have fixed it!

[2021-05-19 23:40] SupremeTechnopriest commented on #165
Beautiful!  Just waiting for a response from one other person regarding an issue and I will get this rolled out!  Thanks again for the report.

[2021-05-20 01:38] caranad commented on #164
Hi @SupremeTechnopriest,

Thanks for checking. Unfortunately the error comes back when I use 4.6.3-rc.2.

[2021-05-20 03:18] SupremeTechnopriest commented on #164
Yeah, thought it might.  From what I've read about this issue, it involves `use-strict;` or something.  Is your project a CRA by any chance?  I think this is definitely a problem with regeneratorRuntime....  Here are a few threads that I found:

https://github.com/facebook/regenerator/issues/378
https://github.com/facebook/regenerator/issues/450

From what I gather here, if you were to remove stri

[2021-05-20 03:32] caranad commented on #164
Correct - my app uses **create-react-app**. I have looked at those two threads previously, but unfortunately I could not make do with them.

[2021-05-20 03:43] SupremeTechnopriest commented on #164
Sure can do.  Im going to do a bit more research and see if I can fix this.  Otherwise I will add a modern importable.  In the mean time you can just work with `4.6.3-rc.1` and I will let you know when I have a solution.

[2021-05-20 03:56] caranad commented on #164
Will do. Once more thank you so much for your work on this; I appreciate it. Best of luck on your efforts and if there's any way I can help let me know 🙂

[2021-05-20 20:47] SupremeTechnopriest commented on #164
Can you send me your csp header so I can test some things locally?

[2021-05-20 20:59] SupremeTechnopriest commented on #164
I can export a modern.js along side the current builds, but its not ideal because it breaks typescript definitions. Id rather figure out a way to resolve the issue with the current build system.

[2021-05-21 02:32] caranad commented on #164
This is the CSP I'm using right now. Note that I censored the name of the site I'm working on for privacy reasons.

require-trusted-types-for 'script';
frame-ancestors 'self';
form-action 'self';
img-src 'self';
style-src-elem 'self' 'unsafe-inline';
default-src 'self';
script-src 'self' https://www.<websitename>.com https://cdnjs.cloudflare.com https://ajax.cloudflare.com https://js.stripe.com/v3

[2021-05-21 12:07] mellis481 commented on #60
@SupremeTechnopriest Just checking in to see when the new package can be published.

[2021-05-21 16:43] SupremeTechnopriest commented on #60
Hey @mellis481,

Hoping to have this out today.  Just seeing what I can do about supporting CSP.  RegeneratorRuntime is broken IMO, but looking for a work around.  If I come up dry I will just release these fixes today and work on it for another patch.

[2021-05-21 16:44] SupremeTechnopriest commented on #164
Thanks for that.  I will hopefully find a good solution today.

[2021-05-22 02:59] caranad commented on #164
Sounds good - let me know if anything arises

[2021-05-22 14:13] initin commented on #165
using 4.6.3-rc.3.

I am experiencing the same behavior. I have implemented exact same thing as @mattjneuber's sandbox.

Here are some steps,
I have two tabs open, tab A and tab B.
Timeout is 10 seconds. once `onIdle` triggers, and click on 'stay on' ( `reset()` ).
After that moving mouse in tab A for more then 10 seconds, then go on tab B. and moving mouse, `onIdle` will trigger in both tabs.
Even

[2021-05-22 18:06] SupremeTechnopriest commented on #165
@initin Sounds like you aren't focusing the second window. Can you try it again and make sure the window has focus?

[2021-05-22 18:11] initin commented on #165
Yes, window is in focus. Even I am pressing left and right clicks in window and doing other activity.

[2021-05-22 18:53] SupremeTechnopriest commented on #165
If you are using `stopOnIdle` you wont get any events if you are idle, even `onAction`. Can you make a sandbox with your exact use case?  Ive tested the fix and @mattjneuber confirmed it works.  There must be something different about the configuration.

[2021-05-22 21:10] SupremeTechnopriest commented on #164
Hey @caranad,

I just published `4.6.3-rc.4`.  What I did is created a modern browser export. If you are using Webpack 5 you can do:

[code]

If you are on Webpack 4 (which I believe CRA still uses), you have to do:

[code]

In both cases typedefs should still work and there are no babel transpilations of any sort.  For version 5 I plan to make this the default and if you want to support dead brow

[2021-05-23 22:36] caranad commented on #164
Hi Randy,

I tried **npm install --save react-idle-timer@4.6.3-rc.4** and it didn't work.

[2021-05-24 04:33] initin commented on #165
https://codesandbox.io/s/intelligent-frost-76eu8?file=/src/App.js

here is the sandbox, forked from @mattjneuber's .

I have added `onAction` count, to just check event triggers or not. open 2 tabs. once 'stay on' clicked, try to move mouse tab A, and don't do any action in tab B for 5 seconds. then do action in tab B, `onAction` will not trigger and after 5 sec on tab B, `onIdle` will trigger on

[2021-05-24 20:25] SupremeTechnopriest commented on #164
@caranad,

Looks like I forgot to publish it 😬.  It's up now.  Give that a go.

[2021-05-24 20:28] SupremeTechnopriest commented on #165
@initin Thanks for the sandbox.  I can confirm the issue.  Let me work on this today and get back to you.

[2021-05-25 00:01] SupremeTechnopriest commented on #165
@initin updating to the latest release candidate seems to have done the trick.  Check this fork and make sure its working for you.

https://codesandbox.io/s/blissful-goldwasser-90mws

[2021-05-25 21:02] SupremeTechnopriest commented on #60
I should be rolling this out today.  In the mean time you can use:

[code]

to ignore type checking for the ref.  If they don't get back to me today on their issues, I will roll out a patch this evening.

[2021-05-25 21:32] SupremeTechnopriest commented on #165
Did you have a chance to confirm this?  Im planning on rolling it out today.

[2021-05-25 21:32] SupremeTechnopriest commented on #164
@caranad

Did you have a chance to confirm this?  I plan to roll it out today.

[2021-05-25 22:43] caranad commented on #164
Not yet, I will do so now.

[2021-05-25 22:48] caranad commented on #164
Yes, it works. Thanks!

[2021-05-25 23:25] SupremeTechnopriest commented on #164
Perfect, going to roll this out shortly.

[2021-05-26 03:01] SupremeTechnopriest commented on #60
@mellis481 `4.6.3` published to `latest` tag!

[2021-05-26 03:02] SupremeTechnopriest commented on #164
@caranad `4.6.3` published to `latest` tag!

[2021-05-26 03:02] #164 closed

[2021-05-26 03:02] SupremeTechnopriest commented on #165
This patch has been published to `4.6.3` on the `latest` tag.  If you are still experiencing problems feel free to re open this or create another issue.

[2021-05-26 03:02] #165 closed

[2021-05-26 08:45] initin commented on #165
sorry for the delay, was not able to test. I will test it today and let you know. Thanks.

[2021-05-28 11:39] manuelbusch opened #166 "With version 4.6.3 the API of 4.6 breaks"
With the change "Add missing ref to TypeScript definitions." in IdleTimer, dependent projects will have to adapt the usage. According to semantic versioning, this is usually not desired, as an incompatible API change should force a major release.
kind regards
Manuel

[2021-05-28 18:28] SupremeTechnopriest commented on #166
that should definitely be an optional parameter.  I will switch it to `ref?: (ref: IdleTimer) => any` and that should take care of the issue.

[2021-05-29 05:32] initin commented on #165
@SupremeTechnopriest still experiencing the issue in this sandbox

[2021-05-29 07:15] initin commented on #165
![idle-lib-error](https://user-images.githubusercontent.com/11597697/120061571-83391a00-c07b-11eb-8a92-4320234b0b2a.PNG)
![idle-lib-error1](https://user-images.githubusercontent.com/11597697/120061572-83d1b080-c07b-11eb-9687-27288d842845.PNG)

also getting this error while opening / refreshing my app.

[2021-05-29 17:54] ahayden-lg opened #167 "When no mouse/keyboard event onIdle is not triggered"
We are using react-idle-timer v. 4.6.4 to programmatically log out of our react app when the user has been idle.
I've found that if I login with the keyboard (with my mouse not over the browser window contain our app), that the `onIdle` event never gets triggered, until I move the mouse back into the window or press a key, at which time the onIdle is triggered, assuming the the timeout has passed.

[2021-05-29 22:10] SupremeTechnopriest commented on #167
Could you send me your IdleTimer config?  Sounds like you might have `startOnMount` set to false.  Ideally if you can send me a codesandbox that reproduces the issue I can confirm and fix it.

[2021-05-29 22:12] SupremeTechnopriest commented on #165
Yeah that error was happening for someone else too.  It's related to hot reload but never actually happens in production.

For the other issue I'll need some additional info as I can not seem to reproduce it.  For starters, what browser are you testing in and on which operating system?

[2021-05-30 01:26] ahayden-lg commented on #167
I don't have a sandbox setup but here is a couple code snippets:

[code]

[2021-06-01 06:56] initin commented on #165
Web browser is - Firefox 88.0.1 (64-bit)
OS - Windows 10

[2021-06-08 18:07] Charles6 opened #169 "ignore mouse movement"
I see that mouse movement is one of the event triggers to reset the timer, is there a way to ignore this?

[2021-06-08 20:21] SupremeTechnopriest commented on #169
Hello,

Yes you can set which events you want IdleTimer to listen to. Just set the `events` property.  The default events are https://github.com/SupremeTechnopriest/react-idle-timer#default-events

Here is a list of most events you can use.

[2021-06-08 20:24] #169 closed

[2021-06-10 11:30] initin commented on #165
@SupremeTechnopriest any updates on this?

[2021-06-10 20:51] SupremeTechnopriest commented on #165
@initin Sorry work got really busy.  Its on my list.  Hopefully ill be able to take a look this weekend.

[2021-06-16 09:34] rffensick opened #170 "Continue timer operation when more than one tab is inactive."
We noticed that the timer stops working when no tabs are active. That is, all tabs are active but the user is not on them

Why is it done there? I would like to hear the opinion of the author

It seems to me that such cases should be done as a parameter. There are many cases when you need the timer to always work.

[2021-06-16 19:28] SupremeTechnopriest commented on #170
Not sure what you are asking here.  The purpose of an Idle Timer is to detect when a user is no longer active on your page.  What is your use case?  Do you have any sample code I can look at?

[2021-06-21 22:32] dastardlychimp commented on #167
@SupremeTechnopriest I am encountering the same or similar issue, although I am using the `useIdleTimer` hook.
This also might be related to issue: #155

I looked around in the code, and the issue seems to be that if the timeout changes, the timeout initiated by the `start` function isn't updated or reset to use the new timeout value (if the timeout is not idle), unless there is a user event that

[2021-06-23 19:19] mellis481 commented on #170
@SupremeTechnopriest I'm not sure if this is what the author is getting at, but is react-idle-timer expected to work properly when a tab/browser is inactive?

[2021-06-23 19:53] SupremeTechnopriest commented on #170
It should work as designed when a tab or browser is inactive. Meaning that user activity will activate the timers and associated events will be emitted.  Im not sure what is being asked here.  What criteria are you using to denote an "active" tab if a user is not on them? As far as IdleTimer is concerned, if a user is not on the tab and actively interacting with it, it is considered inactive.

[2021-06-23 19:55] SupremeTechnopriest commented on #167
Mmm I see the issue.  I should probably not check if the timer is currently idle before resetting.  That would allow you to update the timeout during an existing timer.

Will get that patched for the next release.

[2021-06-24 16:00] nigellima opened #172 "Is there a way to know that onIdle has been triggered after sleep mode?"
Hello, thanks for the awesome lib.

I'm using this to sign out users after they are idle for some time. So, when the onIdle is called I show a modal with a message, which then automatically logs off users if no action is taken.

I realized that when I close my laptop and opens it again, the modal is immediately  triggered due to the onIdle call. I saw that this is implemented due to this issue: ht

[2021-06-24 20:29] SupremeTechnopriest commented on #172
Hello!  Can you tell me what your timeout is set to?  Maybe show me the props you are passing to the IdleTimer?  Currently I don't do anything special here, but I am thinking about tracking the timestamp diffs in between timer ticks. What i think is happening here is that when the computer goes to sleep the user is considered idle, and when you open it, the onIdle event gets emitted.

Just so Im c

[2021-06-24 21:07] RealDrewKlayman commented on #172
@SupremeTechnopriest Yeah, it looks like it does hit the onIdle when the user re-opens but because I have a countdown that happens upon the onIdle function they are able to restore the session and exceed timeout..

[2021-06-24 21:08] RealDrewKlayman commented on #172
I think he is facing the same issue as me.

[2021-06-24 22:07] SupremeTechnopriest commented on #172
So what you're looking for is either a different event like `onWake` or an argument to `onIdle` to let you know if the timer is coming back from a throttle or a sleep?

If so I will have to think about how to detect that.  My initial thoughts would be to track a timestamp `lastAction` and compare that against a timestamp when the set timeout is triggered.  If its greater than the `timeout` prop th

[2021-06-28 01:50] sbologescu commented on #170
If you are taking about the behavior in Chromium based browsers, maybe this is the reason?
https://developer.chrome.com/blog/timer-throttling-in-chrome-88/

[2021-06-29 20:25] SupremeTechnopriest commented on #170
If thats what we are talking about I am considering moving timers to web workers where they are supported.  This will get around the throttling of the timer. Probably will implement it using https://www.npmjs.com/package/worker-timers

Im currently working on releasing a new product for my day job, but as soon as I get some free time I will add this.

[2021-06-30 14:50] lainglo opened #173 "Unable to play video due to onActive trigger"
Hi

Please refer to my stack overflow question:
https://stackoverflow.com/questions/68175294/react-component-keeps-rerendering-causing-video-to-restart

Basically when the video plays, it will immediately restart whenever there is a mouse movement. I have finally realised this was because of the idle timer triggers.

Is there a way to avoid this behaviour without removing the idle timer?

Special

[2021-06-30 20:21] SupremeTechnopriest commented on #173
Yeah it sounds like something in your onActive function is causing a re-render.  Can you show me your idle timer code?

[2021-07-01 13:18] lainglo commented on #173
There is a setState in the onActive function - I was in a rush when I implemented orginally and I wasn't sure the difference between onActive and onAction so just put the same call in both of them.

I have managed to get the timer to pause when I am on a page where a video is playing, but I am having some trouble now getting it to resume.

Here is the idle timer:

`<IdleTimer

[2021-07-01 16:38] SupremeTechnopriest commented on #173
So `onAction` fires every time the user inputs some action.  `onActive` is when they are active after being idle.  You probably don't need `onAction`, but I'm not sure what your use case is.  If you `setState` inside your handler you are going to have to either selectively rerender the component using `shouldComponentUpdate` or blackbox your video component so it doesn't receive state updates.  Th

[2021-07-01 16:38] #173 closed

[2021-07-01 18:17] RealDrewKlayman commented on #172
That would be great.

[2021-07-01 18:26] SupremeTechnopriest commented on #172
Okay I will work on it for the next release.  Work is a bit busy right now so it probably wont be for a couple weeks, but I will keep you posted.

[2021-07-01 19:17] RealDrewKlayman opened #174 "Any plans to allow us to use the broadcast channel?"
We have some data going back and forth between tabs.

If they are active after a couple minutes I send a refresh call to the API which also refreshes the user and instead of creating an additional broadcast channel I'd like to be able to use the already existing one to pass the refreshed user to the other tabs.

[2021-07-01 19:24] SupremeTechnopriest commented on #174
No plans for that currently.  I don't see there being any harm in having more than one broadcast channel on your page.  Its actually probably better to keep a different channel for different events.  That said, I suppose you would want to take advantage of the fallback local storage method to support older browsers.  It shouldn't be too hard to expose.  I will look at some options for the next rel

[2021-07-01 19:39] RealDrewKlayman commented on #172
How would the onWake function work with crossTab?

The lastActive is on a per tab basis and not shared between tabs so the leader may have a much earlier lastActive then the actual tab that the user was working on before.

[2021-07-01 19:42] RealDrewKlayman commented on #174
Alright, that sounds great. Should I close this?

[2021-07-01 19:43] SupremeTechnopriest commented on #174
You can leave it open, I will close it when I get it implmented.

[2021-07-01 19:46] SupremeTechnopriest commented on #172
`lastActive` is probably not the right nomenclature.  Maybe `lastEvent` is more succinct.  It would be the timestamp of the last time an 'onIdle` or `onActive` was emitted.  Those events are synced across tabs.  Then when the tab is focused (`pageshow`) I can compare `currentTime - lastEvent > timeout` you are probably coming back from being asleep or throttled.  I will have to do some tests to ve

[2021-07-01 19:49] RealDrewKlayman commented on #172
Technically speaking though they can just keep moving their mouse on a page and the onIdle / onActive events will not be hit.

Won't that make also trigger this event you are talking about if they move around for awhile and then pause and hit the onIdle or onActive function?

[2021-07-01 19:51] RealDrewKlayman commented on #172
The onIdle function will not get hit if the computer is already asleep so when it does get hit you are just setting it to the current datetime when the re-open the computer, right?

[2021-07-01 19:54] SupremeTechnopriest commented on #172
If they are moving around they definitely aren't asleep.  Im going to move the timeout to a webworker and that should solve the throttle issue.

When the computer goes to sleep, the `setTimeout` is paused and is resumed when the computer wakes up.  Another idea is to make the timer `setInterval` based and use timestamps.  That way `currentTime - lastActionTime > timeout` fire `onIdle`.  If your co

[2021-07-02 02:44] RealDrewKlayman commented on #174
Just thought of a good use case for this:

I have a countdown that comes up after the timeout and a user has 30 seconds to click that they'd like to continue the session. There is an additional 30 second timeout that I set for logging off the user. If a user clicks continue on another tab that isn't the leader I need it to clear the timeout on the leader tab.

Rather then creating a whole broadcas

[2021-07-02 02:46] SupremeTechnopriest commented on #174
If you call `reset` on any of the tabs it should propagate to all the other tabs and reset the timer.

[2021-07-02 09:29] skyshine999 opened #175 "session timeout warning"
I am using this library and it is working fine but if i put my timeout for 20 mins , at 15 mins i want to show some warning kind of message. I haven't found any parameter watching time change. Should i need to maintain separate time check stuff or is there any existing parameter that satisfy warning condition.

[2021-07-02 16:34] RealDrewKlayman commented on #174
Correct, but I can't modify the reset function and also add the ability to clear out my custom timeout on my leader tab that logs them off from a non-leader tab.

[2021-07-02 16:40] RealDrewKlayman commented on #175
This would be nice. Was going to write something about this.

[2021-07-02 16:43] RealDrewKlayman commented on #175
Seems like everybody is doing this anyways so would be nice to have this built into the package to make it an all in one solution.

[2021-07-02 16:46] RealDrewKlayman commented on #174
Maybe if we had a way to add stuff onto the reset function that would work.

[2021-07-02 19:18] nigellima commented on #172
@SupremeTechnopriest hello. Sorry for the delay, but for some reason I was not getting the comments notifications.

So, I tried one of the solutions I found googling around, and one of them is similar to what you are saying there. However, I realized after around 6min without using the computer, this difference gets greater than the timeout.

This thing is it's happening ONLY on Google Chrome. I t

[2021-07-12 22:18] RealDrewKlayman commented on #172
@nigellima Use a web worker for the interval.

[2021-07-15 13:14] luxplanjay opened #176 "useIdleTimer memoization"
Hi, great work you are doing. Many thx 👏.

Public API methods like `getTotalActiveTime` and such need to be memoized on your end. Right there is source code. https://github.com/SupremeTechnopriest/react-idle-timer/blob/114f4640e951622184af0307843c58afbed4cb73/src/useIdleTimer.js#L299

Otherwise when used in deps array of useEffect, useMemo or other hook with deps, it causes render loop. Your examp

[2021-07-15 17:57] RealDrewKlayman commented on #170
Is this the reason why it when I open a ton of the same tab, the timer seems to stop working?

[2021-07-15 18:09] SupremeTechnopriest commented on #170
Yeah could be related.

[2021-07-15 18:13] SupremeTechnopriest commented on #176
Hey @luxplanjay,

If you wouldn't mind submitting a PR that would be great.  I am in the middle of releasing a new product and wont have time to work on this until early Q4.  As far as the eslint exclusion in the examples, you don't need to do that in a production app.  Its only because I'm importing the local copy of react-idle-timer which resides outside of the example package's root.  This allo

[2021-07-23 15:11] KatieKoslosky commented on #167
@SupremeTechnopriest thanks for the great library!
I would definitely be interested in that patch, do you know when that next release is coming?

[2021-07-23 20:00] SupremeTechnopriest commented on #167
hi @KatieKoslosky

I am in the middle of a big release for my day job and wont really have time until beginning of Q4.  Some time around September or October version 5 will be released.

[2021-07-26 11:18] bhattaraib58 opened #177 "On crossTab.emitOnAllTabs non-leader browser tab doesn't trigger/emit any events"
Version: 4.6.4

Thank you so much for the awesome package. On the new feature addition, I noticed a issue,
I am using react-idle-timer on Chrome Version 91.0.4472.164 (Official Build) (64-bit), so broadcast is enabled.

I have enabled crossTab and emitOnAllTabs.
Here is the code.

`
  const { start, reset } = useIdleTimer({
    timeout: 15000,
    onActive: handleOnActive,
    onIdle: handleOnIdle

[2021-07-29 08:02] skyshine999 commented on #175
is there any update on this ?

[2021-07-29 18:28] SupremeTechnopriest commented on #175
Right now you have to manage your own timeout. I can look into adding this feature to the v5 release scheduled for early Q3. I don't have time to work on this until then.

[2021-08-03 18:45] RealDrewKlayman commented on #177
I think this is being fixed in V5.

[2021-08-03 18:48] RealDrewKlayman commented on #175
@SupremeTechnopriest Next year early Q3?

[2021-08-03 18:52] SupremeTechnopriest commented on #175
Sorry Q4 this year.  September/ October I will have time.  We are releasing a new product at work and its consuming all my time, free and otherwise...

[2021-08-03 18:54] SupremeTechnopriest commented on #177
Yeah v5 will have a patch for this.  Im going to start working on it in September.  Been really busy releasing a new product at work.

[2021-08-10 18:23] arnonate commented on #175
This was my solution for now. A simple modal with a 60 second countdown that calls `reset`. Hope it helps!

[code]

[2021-08-25 18:57] SVaeth opened #179 "Testing onAction with useIdleTimer hook in Enzyme"
We are trying to write a test for our health check module that uses this library.The issue we are running into is the onAction is not firing for a simulated mouse event with enzyme.

The code:

[code]

Sandbox:

https://codesandbox.io/embed/react-idle-timer-with-hook-forked-s4tq2?fontsize=14&hidenavigation=1&theme=dark

I looked at the code here in the tests for react-idle-timer for ideas, but it

[2021-08-27 23:23] madmaxlax opened #180 "Feature request: trigger the onIdle function manually"
Howdy!
this has helped us a lot, we use it for logging out all tabs after inactivity.

the cross tabs feature actually handles the logout on all tabs very well, i was wonder if it would be possible to open the 'onIdle' function to be triggered manually.
say when a user clicks a logout button, it does the same thing on all tabs for us

thanks!

[2021-08-28 00:52] SupremeTechnopriest commented on #180
Sure I can add this for you.  Ill be starting work on the v5 release in the next few weeks and you can look forward to that being exposed then!

[2021-08-28 18:59] madmaxlax commented on #180
Wow thanks!

[2021-08-31 13:36] andrewcaulfield opened #181 "Stop reset from firing"
Hi there,

The package is great and solves a lot of headaches for us.

Just wondering if there is a clean way to stop the reset from firing given a certain scenario?

In my case when the remaining time <= x - I want to show a dialog with a countdown (`getTimeRemaining()`) that prompts a user to stay logged in or log out.

When `getTimeRemaing()` in this case reaches 0 the system will automatically

[2021-08-31 14:21] #181 closed

[2021-09-02 16:13] RealDrewKlayman commented on #180
V5 is coming out soon?

[2021-09-02 18:44] SupremeTechnopriest commented on #180
In the next two months. Soon as I get the time to focus on it uninterrupted.

[2021-09-03 13:15] nenjamin2405 opened #182 "Bug: crossTab.emitOnAllTabs will not trigger the onIdle from the second time when open more than 2 tabs"
I want to say thanks to this awesome library, it's easy to use and well organized. However I found a bug today and want to describe the reproduction steps to you:

1. Use the hook example like below
[code]

2. Open 1 tab and test the functionality. It works well in this case, onIdle will be always called whenever I'm idle for 10 seconds.

3. Open 2 tabs and test the functionality. It still works w

[2021-09-15 12:43] T-Nagui opened #183 "Unhandled Rejection"
hello, i have this problem :
Unhandled Rejection (InvalidStateError): Failed to execute 'postMessage' on 'BroadcastChannel': Channel is closed
----
use case : code is implimented only in authonticated Layout and when the user disconnect is other layout is charged
i think the brodcast is still active and whay is the event is trigred.

any solution for this

sorry for my english ;p

[2021-09-17 15:26] anupamabauri commented on #182
I am also facing the same issue.

[2021-09-17 15:31] anupamabauri commented on #182
@SupremeTechnopriest Please check the issue and help resolve this.
Thank you

[2021-10-12 02:15] drecali opened #186 "Please consider making this repo eligible for `hacktoberfest`"
@SupremeTechnopriest thank you so much for maintaining such a useful library!

Would you be willing to participate in Hacktoberfest (https://hacktoberfest.digitalocean.com/). It's a yearly initiative to encourage people to contribute to open source project. For some, this is their first OS experience.I think this would be a good way to encourage more contributions on the repo. All you have to do i

[2021-10-12 09:27] ShrikantGit88 opened #187 "onIdle even handler function is not invoked as per 'timeout' until tab is active on ipad (safari)"

[2021-11-08 07:46] ET-CS opened #188 "using crossTab not working when first tab is already Idle"
There is a bug that when new tab opened after another tab goes Idle, the Idle tab will not go into Active when `crossTab` is enabled.

Reproduce:
* open a tab
* wait for it to do idle
* open another tab
* work in the new tab (it's active)

expected:
The first tab which is Idle should be active

actual:
The first tab will stay Idle and will not become Active even if the second tab is active.

[2021-11-10 13:34] Niks218 opened #189 "Memoized callbacks"
Hi, thank you for your wonderful library!

Is it possible to return memoized versions of callbacks from `useIdleTimer` hook. Like to wrap `pause`, `isLeader` and so on in `useCallback` for example. Currently we use `eslint-plugin-react-hooks` in our project and it's challenging to have these callbacks in dependency array.

[2021-11-19 22:28] SupremeTechnopriest commented on #170
I've carved out some time to get v5 out over the holiday.  This is on the list of features coming.

[2021-12-08 16:44] velociwabbit opened #191 "microSeconds is returning an incorrect variable or i am losing my marbles"
This is the code for microSeconds

[code]

According to MDN getTime returns
"// milliseconds since Jan 1, 1970, 00:00:00.000 GMT"

so this function returns 1000 times the value of now - epoch time  which is very large

For example, lets say that it is one hour of time 3600 *1000  (in ms)
then multiplying   by 1000 returns 3600000 * 1000 (the return value)
then dividing by ms to get the value   360

[2021-12-08 17:06] #191 closed

[2021-12-10 05:41] mayurpatel6 opened #192 "does it support on mobile browser as well?"
i have used react-idle-timer for my website and it is responsive. the issue is, when i remain idle on the mobile browser it does not log me out (timeout = 15 mins). so, i want to know if the library supports the mobile browser as well or not?
@SupremeTechnopriest

[2021-12-10 21:52] SupremeTechnopriest commented on #192
Are you backgrounding the browser on the device?  If so the timers are likely getting throttled.  I will be working on version 5 over the holiday that will fix this issue.

[2021-12-13 21:47] eugeneborodkin opened #193 "Allow mouse movement, only increment Idle on Click/Double-Click"
Is it possible to allow mouse movement, but only apply Idle incrementation on actual mouse clicks (single or double)?

[2021-12-19 21:50] mschiano opened #194 "BroadcastChannel Not Found iOS Safari"
I'm seeing issues with BroadcastChannel not found in iOS Safari. I'm assuming its because its still not baked into Safari. Any plans to support a polyfill? Or better error handling when not found?

[2021-12-19 21:52] SupremeTechnopriest commented on #194
It should be falling back to localStorage when broadcast channel is not available.  Just make sure you aren't setting `crossTab.type` and it will feature detect and use the best strategy for the device.  Im currently working on v5 which is going to improve a lot of things on mobile devices.  Hoping to have it out before the end of the year.

[2021-12-23 21:02] d9k opened #195 "Getting negative getTotalActiveTime()"
I get negative (`< 0`) `getTotalActiveTime()` result after `reset()`.

I think that's because `lastIdle.current` value is not reset in `reset()` function.

Related code:

[code]

[code]

[2021-12-23 21:50] d9k commented on #195
temporary fix in top-level code

before:

[code]

after:

[code]

[2021-12-23 22:08] d9k opened #196 "Auto idle on document visibilitychange?"
How about automatically switching to idle mode if `document` event `visibilitychange` is being caught and `document.hidden: true`?

[2021-12-23 22:52] SupremeTechnopriest commented on #196
Not a bad idea. I'm currently working on v5. Hope to have it out soon. I noticed what you are seeing in your other issue and that will be fixed. Thanks for the report.

[2022-01-11 02:40] mschiano commented on #194
Hm, I randomly keep getting this error on my iPhone 11 Pro.

`Unhandled Promise Rejection: Error: ❌ No method found ["broadcastChannel","localStorage"]`

My implementation is...

`const { getRemainingTime, getLastActiveTime } = useIdleTimer({
    timeout,
    onIdle: handleOnIdle,
    onActive: handleOnActive,
    onAction: handleOnAction,
    debounce: 0,
    crossTab: {
      emitOnAllTabs: true

[2022-01-11 03:05] SupremeTechnopriest commented on #194
I'm getting very close to a release candidate for v5.  I'm refactoring all the cross tab logic.  Ill be sure to test it on an iOS device as well.

When you say randomly, does that mean some times it works and other times it does not?

[2022-01-11 03:55] mschiano commented on #194
It seems when it works, it works. Code was working fine for a bit (hence the gap in my threads) and it just reared its head again. I’m now seeing this issue every time.

[2022-01-11 07:07] SupremeTechnopriest commented on #194
Interesting... Nothing has changed on my side.  Ill have a new version for you to try out shortly.  It should solve this issue all together.

[2022-01-11 07:09] SupremeTechnopriest commented on #194
Also thank you for the donation :) Version 5 is going to have a documentation site and you will be credited as an investor.

[2022-01-11 23:12] sbologescu commented on #170
@SupremeTechnopriest , how do I get a hold of the v5 ? I would like to test the switch to web workers. thanks!

[2022-01-11 23:19] SupremeTechnopriest commented on #170
Im just working on wrapping it up.  Ill be deploying to the @next tag soon.  I will let you know when its ready.

[2022-01-19 06:00] richacodesofficial opened #202 "Reset doesn't reset the timer."
Reset doesn't reset the timer, tried running the code from examples of the official repo (hook-ts).
Removed some code.
App.tsx:
/* eslint-disable react-hooks/exhaustive-deps */
import React, { useState, useEffect } from 'react'
import { format } from 'date-fns'
import { useIdleTimer } from 'react-idle-timer'

export default function App () {
  const timeout = 500000000;
  const [remaining, setRema

[2022-01-19 06:08] SupremeTechnopriest commented on #202
Reset is pretty throughly tested.  Either way,  v5 is right around the corner.  Its a from scratch rewrite so I wont be supporting v4.  Im currently just finishing up the test suite and i hope to have a release candidate out soon.

Hang tight!

[2022-01-19 06:13] richacodesofficial commented on #202
I'm expecting reset to reset the timer to reset to starting value(timeout) and not to the last  incremented value.
const timeout = 500000000;
Something like reinitializing the timer value.
Is reset expected to do that or some other method available ?

[2022-02-01 16:43] bgaynor78 opened #203 "Setting timeout prop as part of an async API response"
I'm using the library and one of my requirements is to get a config from a REST api call and set the `timeout` property to whatever is returned. The problem I'm seeing is that the timer starts on mount, and because of that, I can't really set the timeout to my value. It starts with the default `timeout` value. I've tried using the startManually but it the props are already passed to the IdleTimer

[2022-02-01 18:47] bgaynor78 commented on #203
So, what I ended up doing is using a HOC to retrieve the data and then pass that to the component that my InactivityModal was part of and pass the config for the timeout value directly into the component. FWIW, there was nothing wrong with doing it in the component itself as done in the example code, but this just made more sense to use in a larger app.

[2022-02-01 20:05] SupremeTechnopriest commented on #203
Hey there,

I think the issue is that your useEffect is being called twice. You can try to change it to:

[code]

Start manually and updating timeout should definitely work... but a HOC would do the trick as well.

[2022-02-03 11:08] salihvs commented on #187
This happens in chrome too. When I'm idle for the timeout, onIdle event doesn't fire but after I stop being idle it fires.

This should work when the user isn't active not when the user is active. I use version 4.6.4

[2022-02-03 18:21] SupremeTechnopriest commented on #187
I have a fix for this in v5. I'm just wrapping up the new test suite and I will have a beta ready for testing. Hopefully by the weekend.

[2022-02-10 03:49] hortizgarrido opened #204 "Timeout using old timeout value"
I have functional component that uses the non-hook for of react-ifle-timer. The initial timeout is set on load (ex. 30 mins) but a user has the option to set a different timeout via a modal (ex 45 min). I have the new timeout set to a state. I then call reset(). When doing so, the timeout is still using the old timeout and not the user’s new timeout entered.

[2022-02-10 04:23] SupremeTechnopriest commented on #204
Thanks for the report. I am within days of releasing version 5 and it should fix your issue. The code and tests are all done, just working on finishing up the documentation. I will let you know when you can update.

[2022-02-15 16:32] sbologescu commented on #170
@SupremeTechnopriest , is by any chance v5 available anywhere for me to try? thank you

[2022-02-15 20:17] SupremeTechnopriest commented on #170
Pretty sure I'll be pushing the beta today. If not tomorrow. Just a small amount of documentation remaining.

[2022-02-18 01:00] SupremeTechnopriest commented on #204
Hello @hortizgarrido!  Version 5 has been released and it should resolve your issue.  You can install the beta from npm with `npm i react-idle-timer@next` and check out the documentation at [https://idletimer.dev](https://idletimer.dev).  Im going to close this issue.  If your issue persists on v5 please open another issue.

[2022-02-18 01:00] #204 closed

[2022-02-18 01:03] SupremeTechnopriest commented on #202
Hey @richacodesofficial! The version 5 beta has been released and it should resolve your issue.  You can install the beta from npm with `npm i react-idle-timer@next` and check out the documentation at [https://idletimer.dev](https://idletimer.dev).  I'm going to close this issue.  If your issue persists on v5 please open another issue.

[2022-02-18 01:03] #202 closed

[2022-02-18 01:22] SupremeTechnopriest commented on #196
The version 5 beta has been released and it includes this new feature.  The property is called `immediateEvents`.  You can install the beta from npm with `npm i react-idle-timer@next` and check out the documentation at [https://idletimer.dev](https://idletimer.dev).  The documentation for this specific feature can be found [here](https://idletimer.dev/docs/api/props#immediateevents). If you experi

[2022-02-18 01:22] #196 closed

[2022-02-18 01:25] SupremeTechnopriest commented on #195
Hey @d9k! The version 5 beta has been released and it should resolve your issue. You can install the beta from npm with `npm i react-idle-timer@next` and check out the documentation at [https://idletimer.dev](https://idletimer.dev).  I'm going to close this issue. If your issue persists on v5 please open another issue.

[2022-02-18 01:25] #195 closed

[2022-02-18 03:47] #193 closed

[2022-02-18 03:50] SupremeTechnopriest commented on #192
Hey @mayurpatel6,

I just released the beta of v5 and this issue should be resolved.  You can install it with `npm i react-idle-timer@next` and check out the docs at [https://idletimer.dev](https://idletimer.dev).  If your issue still persists on v5 feel free to open another issue.

[2022-02-18 03:50] #192 closed

[2022-02-18 04:00] SupremeTechnopriest commented on #189
Hey @Niks218!

I just released the v5 beta and all callbacks and methods are memoized.  You can test out the beta by installing from npm `npm i react-idle-timer@next`.  There are also new docs you can find at [https://idletimer.dev](https://idletimer.dev).  Going to close this, but if you are still having issues with memoization, feel free to open another issue.

[2022-02-18 04:00] #189 closed

[2022-02-18 04:03] SupremeTechnopriest commented on #186
Hey @drecali!

The version 5 beta has been released and it includes the [contributing guide](https://idletimer.dev/docs/about/contributing), issue templates and pull request templates.  I went ahead and added the `hacktoberfest` topic so we will be good to go for this year!

[2022-02-18 04:03] #186 closed

[2022-02-18 04:09] SupremeTechnopriest commented on #180
Hey Everyone!

The version 5 beta has been released and can be installed with `npm i react-idle-timer@next`.  I added a feature that exposes the underlying messaging layer for your own use.   In short I've added an [`onMessage`](https://idletimer.dev/docs/api/props#onmessage) callback and a [`message()`](https://idletimer.dev/docs/api/methods#message) method. You can check out the feature overview

[2022-02-18 04:09] #180 closed

[2022-02-18 04:11] SupremeTechnopriest commented on #174
Hey @RealDrewKlayman!

The version 5 beta has been released and can be installed with `npm i react-idle-timer@next`.  I added a feature that exposes the underlying messaging layer for your own use.   In short I've added an [`onMessage`](https://idletimer.dev/docs/api/props#onmessage) callback and a [`message()`](https://idletimer.dev/docs/api/methods#message) method. You can check out the feature

[2022-02-18 04:11] #174 closed

[2022-02-18 04:15] SupremeTechnopriest commented on #175
Hey @RealDrewKlayman and @arnonate!

The version 5 beta has been released and can be installed with `npm i react-idle-timer@next`.  I added a feature that internalizes the prompt mechanism.  It seems to be a very common use case and is worth having a built in solution.  In short I've added a [`promptTimeout`](https://idletimer.dev/docs/api/props#prompttimeout) property, an [`onPrompt`](https://idl

[2022-02-18 04:15] #175 closed

[2022-02-18 04:22] SupremeTechnopriest commented on #170
Hey @rffensick, @mellis481. @RealDrewKlayman, @JWess and @sbologescu!

Thanks for your patience while I worked through this release.  It's a really big one!  I rewrote everything from scratch in typescript including the test suites and an all new documentation site.

Finally, the version 5 beta has been released.  You can install it with `npm i react-idle-timer@next` and check out the new document

[2022-02-18 04:22] #170 closed

[2022-02-18 04:27] SupremeTechnopriest commented on #176
Hey @luxplanjay,

The version 5 beta is now out and can be installed with `npm i react-idle-timer@next`.  All methods and callbacks are now memoized.  You can check out the docs at [https://idletimer.dev](https://idletimer.dev).  Im going to close this issue, but if you have any additional problems or concerns, feel free to open another one.

[2022-02-18 04:27] #176 closed

[2022-02-18 04:30] SupremeTechnopriest commented on #172
Hey everyone!

The version 5 beta is out and can be dowloaded with `npm i react-idle-timer@next`.  All timers are now moved to web-workers, so you should no longer have issues with backgrounded tabs.  Check out the docs at [https://idletimer.dev](https://idletimer.dev).  Im going to close this issue, but if your problem persists in v5, feel free to open another one.

[2022-02-18 04:32] SupremeTechnopriest commented on #177
Hey @vickyvxr.

The version 5 beta has been released and should fix this issue.  The cross tab feature received a ground up rewrite.  You can install it with `npm i react-idle-timer@next` and check out the docs at [https://idletimer.dev](https://idletimer.dev).  Im going to close this issue, but if you have any additional problems or concerns, feel free to open another one!

[2022-02-18 04:32] #177 closed

[2022-02-18 04:35] SupremeTechnopriest commented on #187
Hey @ShrikantGit88 and @salihvs,

The version 5 beta has been released and can be installed with `npm i react-idle-timer@next`.  All timers have been moved into web-workers.  This will mitigate the effects you are seeing here. You can check out the docs at [https://idletimer.dev](https://idletimer.dev).  Im going to close this issue, but if you are still experiencing problems with v5.  Feel free t

[2022-02-18 04:35] #187 closed

[2022-02-18 04:48] SupremeTechnopriest commented on #179
Thats an interesting bug... Could you possibly create a codesandbox so I can see whats going on?  What happens if you remove the `act` wrapping function?  Is there a reason why you are using both testing-library and enzyme?  Why not just use testing-library to render as well?

I just finished version 5 of idle timer and I dropped enzyme in favor of testing-library.  Enzyme has no official support

[2022-02-18 04:52] #167 closed

[2022-02-18 04:54] SupremeTechnopriest commented on #182
Hi everyone!

The version 5 beta has just been released and it should resolve this issue.  The cross tab feature has been rewritten from the ground up and throughly tested.  You can install it with `npm i react-idle-timer@next` and check out the new docs at [https://idletimer.dev](https://idletimer.dev).  I'm going to close this issue, but if you are still experiencing problems on v5, feel free to

[2022-02-18 04:54] #182 closed

[2022-02-18 04:56] SupremeTechnopriest commented on #188
Hey @ET-CS!

I just released the version 5 beta.  The cross tab feature has been completely rewritten and this issue should be resolved now.  You can install it with `npm i react-idle-timer@next` and check out the new docs at [https://idletimer.dev](https://idletimer.dev).  Im going to close this issue, but if you are still experiencing problems, feel free to open a new one.

[2022-02-18 04:56] #188 closed

[2022-02-18 13:23] sbologescu commented on #170
@SupremeTechnopriest , thank you for getting the beta out. I will pick it up and hopefully start testing it today.

[2022-02-18 20:40] SupremeTechnopriest opened #211 "Cross Tab bug with Safari"
## Bug information

### Affected Module

- `Version`: 5.0.0-rc.4

### Describe the bug

Seems to be an issue with the `BroadcastChannel` polyfill.  Will need some additional testing to make sure the polyfill is resolved when `BroadcastChannel` global is not there.

### To Reproduce

Steps to reproduce the behavior:

1. Go to the demo on Safari
2. Open the console
3. Click the cross tab toggle
4. O

[2022-02-21 08:35] salihvs commented on #187
Thanks @SupremeTechnopriest, will check out v5

[2022-02-22 22:30] owen-deepsee opened #212 "Uncaught ReferenceError: Global is not defined"
## Bug information

### Affected Module

- `Version`: 5.0.0-rc.9

### Describe the bug

When using Create React App 5 + TypeScript in Yarn 2 with React Idle Timer, my application immediately errors out with `Uncaught ReferenceError: global is not defined` before it can do the initial render. The culprit is [Line 123 in BroadcastChannel.ts](https://github.com/SupremeTechnopriest/react-idle-timer/bl

[2022-02-22 22:42] SupremeTechnopriest commented on #212
Thanks for the report!  I can add DOM libs and change this to `window` and it should resolve the problem.  Seems to be a brave specific issue.  Theres no issues on the 3 major browsers.

[2022-02-22 23:09] SupremeTechnopriest commented on #212
Hey @owen-deepsee,

Can you test out `5.0.0-rc.10`?  It should resolve your issue.

[2022-02-22 23:16] owen-deepsee commented on #212
@SupremeTechnopriest - Love the quick response time! RC-10 fixes it, I am able to remove my workaround and it works great. Thanks!

[2022-02-22 23:17] SupremeTechnopriest commented on #212
Awesome!  Thanks again for finding the bug.  Im going to close this issue!

[2022-02-22 23:17] #212 closed

[2022-02-22 23:20] bhattaraib58 opened #213 "mjs file breaking CRA on react-idle-timer v5 release"
## Bug information
Idle timer seems to have import and module export as mjs file. It is breaking react application (made using JS based Create React App v4.0.3).

### Affected Module
- `Version`: react-idle-timer@5.0.0-rc.11

### Describe the bug
I am using application with Create React App v4.0.3 which is in Javascript (not TS). When I import the new react-idle-timer and try to run the applicatio

[2022-02-22 23:43] SupremeTechnopriest commented on #213
@bhattaraib58,

Ah thats no problem.  I can change the `esm` export to have the `.js` extension and it should all work out of the box.  Give me a few.

[2022-02-23 00:09] SupremeTechnopriest commented on #213
@bhattaraib58,

Can you try `5.0.0-rc.12`. It should fix your issue.

[2022-02-23 00:28] bhattaraib58 commented on #213
@SupremeTechnopriest thank you `react-idle-timer@5.0.0-rc.12` fixed the issue.

[2022-02-23 00:29] SupremeTechnopriest commented on #213
Awesome!  Thanks for reporting the bug.  I'm going to close this issue now!

[2022-02-23 00:29] #213 closed

[2022-02-23 01:07] bhattaraib58 opened #214 "Activity not being detected when onPrompt is called"
## Bug information
When the onPrompt is active, onAction and onActive are not being called on user activity.

### Affected Module

- `Version`: 5.0.0-rc.12

### Describe the bug
I can't say for sure if its bug or by design.

By looking at documentation:
`https://idletimer.dev/docs/features/idle-detection`
[onActive](https://idletimer.dev/docs/props#onactive): Function called when a user becomes ac

[2022-02-23 01:22] SupremeTechnopriest commented on #214
Hey @bhattaraib58,

This is actually by design. When the prompt is open, I don't think we would want user activity to reset it.  It would be jarring to the user to see a prompt briefly and then move the mouse to have it disappear.  So when the prompt is active, all events are unbound and either the prompt will expire calling `onIdle`, or the user clicks your `Im Still Here` button at which point y

[2022-02-23 02:38] bhattaraib58 commented on #214
@SupremeTechnopriest thank you. I didn't knew that it was by design.
It's a good enhancement to have but not a must-have. Thank you for looking into it.

[2022-02-23 02:51] SupremeTechnopriest commented on #214
No problem! I have a rollout coming up tomorrow for my day job, but I should have some time on Thursday to sort this out.

[2022-02-25 11:35] rupeshdeotale97 opened #215 "After installing Latest version of React-idle-timeout getting compilation error"
I'm not using React CRA in my project .
Current version npm i react-idle-timer@5.0.0-rc.12  --save getting below error
[code]

![image](https://user-images.githubusercontent.com/18717863/155707975-0c2a160c-b05e-4538-81bc-419667ba69ed.png)

Please let me know how to fix this issue as I need to add multi tab session extension feature over my project. With react-idle-timer@4.6.4 The ideal event is no

[2022-02-25 17:02] silenzium commented on #183
For me it is still not working with `next`, but @pcasa's solution does.
Wanted to checkout the documentation for crossTab but got a 404 there https://idletimer.dev/docs/props#crosstab

[2022-02-25 21:06] mszmida opened #216 "Missing TypeScript declarations file './types/IIdleTimerProps' causes compilation errors"
## Bug information

### Affected Module

- `Version`: **5.0.0-rc.12**

### Describe the bug

In the `index.d.ts` file there is an export of the `IIdleTimerProps` type that should be defined in the missing file `./types/IIdleTimerProps` which results in TypeScript compilation errors. Probably something went wrong during the library building phase.

### To Reproduce

Steps to reproduce the behavior:

[2022-02-25 21:12] SupremeTechnopriest commented on #216
@mszmida Thanks for the report!  I will take a look at it this weekend!

[2022-02-25 21:13] SupremeTechnopriest commented on #215
Hey @rupeshdeotale97,

What version of react-scripts are you running?

[2022-02-25 21:14] SupremeTechnopriest commented on #215
Oh you said not using.  What are you using to build your project?  Babel and webpack?

[2022-02-25 21:16] SupremeTechnopriest commented on #183
Hey @silenzium the link is https://idletimer.dev/docs/api/props#crosstab

Can you `rm -rf node_modules package-lock.json && npm i` just to confirm you have the latest version?  Im definitely catching this error.  Maybe your package is stuck.  If it still persists can you describe the event in which this happens?  Is it after a HMR reload?

[2022-02-25 21:19] SupremeTechnopriest commented on #183
Yeah @pcasa's solution doesn;t apply to the new api.  It sounds like you still have v4 installed.

[2022-02-25 22:54] SupremeTechnopriest commented on #216
I found the issue.  Should have a fix for you tomorrow.

[2022-02-25 23:33] mszmida commented on #216
@SupremeTechnopriest That's great news. Thank you very much for the quick response 👍

[2022-02-26 01:55] #216 closed

[2022-02-26 02:38] rupeshdeotale97 commented on #215
Hi @SupremeTechnopriest I'm using below version of Babel and webpack
[code]

[2022-02-26 02:50] rupeshdeotale97 commented on #215
@SupremeTechnopriest  Below is my .babelrc config

[code]

[2022-02-26 02:51] SupremeTechnopriest commented on #215
Okay give me a little bit to investigate.  Will get back to you shortly.

[2022-02-26 02:52] rupeshdeotale97 commented on #215
Thanks a lot @SupremeTechnopriest I'll wait for your reply

[2022-02-26 03:00] rupeshdeotale97 commented on #215
[code]

[2022-02-26 03:17] SupremeTechnopriest commented on #215
The problem is missing support for optional chaining which preset-env should take care of.

[2022-02-26 03:21] rupeshdeotale97 commented on #215
Same error I'm getting after upgrading babel-preset-env

[2022-02-26 03:23] SupremeTechnopriest commented on #215
Can you also try updating babel/core to the latest.  Worst case scenario I can compile the optional chaining out of the library, but it is widely supported now and would result in a larger package.

[2022-02-26 03:25] SupremeTechnopriest commented on #215
`test: /\.(js|jsx)$/,` this looks like it should match just fine.  Its something with the optional chaining.

[2022-02-26 03:27] rupeshdeotale97 commented on #215
let me check

[2022-02-26 03:30] rupeshdeotale97 commented on #215
@SupremeTechnopriest getting same error after upgrading to latest version of babel/core

[2022-02-26 03:49] SupremeTechnopriest commented on #215
Hmm interesting. Someone else on the discord had this problem and updating preset-env fixed it for them.  You could try adding https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining.

I think we are going to need a code sandbox to get this one solved.  Would you mind putting it together so I can hop in?

[2022-02-26 03:57] rupeshdeotale97 commented on #215
Let me check with above instructions if it still doest work then I will try to create code sand box

[2022-02-26 05:03] SupremeTechnopriest commented on #215
Cool, Let me know how you make out.

[2022-02-26 11:06] mszmida commented on #216
@SupremeTechnopriest Confirmed. It works like a charm. Thanks for a quick fix!

[2022-02-27 03:20] rupeshdeotale97 commented on #215
@SupremeTechnopriest No luck I tried to create sandbox but won't able to reproduce the issue

[2022-02-27 03:57] SupremeTechnopriest commented on #215
Is there a reason why you aren't excluding node_modules from your transpilation?

[2022-02-27 04:28] rupeshdeotale97 commented on #215
Ahh not sure I recently joined this project but could you suggest me what if we include it in translation. And if there will be no side effect then please let me know how to do that.

[2022-02-28 11:30] rupeshdeotale97 commented on #215
@SupremeTechnopriest  This is how I'm using

[code]

[2022-02-28 21:50] SupremeTechnopriest commented on #215
It actually might be related to the name of the file. Can you try to change it in your local node_modules. `index.esm.js` to `index.js` and update it in the `package.json` as well?

[2022-03-01 11:31] silenzium commented on #183
Ah ok there is no more object configuration.
And yeah, a forced version update helped, thank you!

[2022-03-04 07:59] hangtwenty opened #218 "404s in the docs"
## Bug information

It seems like a few links have broken in the new docs.

### Affected Module

Latest on idletimer.dev

### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

1. Go to any of these pages:
	* https://idletimer.dev/docs/features/idle-detection
	* https://idletimer.dev/docs/features/activity-detection
	* https://idletimer.dev/docs/features/confi

[2022-03-04 16:34] mszmida opened #219 "The worker-timers library cannot be properly mocked in Jest"
## Bug information

### Affected Module

- `Version`: **5.0.0-rc.13**

### Describe the bug

According to the [Mock Worker Timers](https://idletimer.dev/docs/getting-started/testing#mock-worker-timers) documentation the following code should be sufficient to mock [worker-timers](https://github.com/chrisguttandin/worker-timers) library:

[code]

Unfortunately mock is not applied correctly and a rea

[2022-03-04 22:01] pocketbookbrando commented on #219
I am also experiencing this inability to mock worker-timers as suggested in the documentation. I am receiving the same error as the OP. Using latest version 5.0.0-rc.13.

[2022-03-04 22:13] SupremeTechnopriest commented on #218
Thanks for the report!  I will get this fixed this weekend.

[2022-03-04 22:15] SupremeTechnopriest commented on #219
Ah, yes this actually makes sense since worker-timers actually gets bundled into the exported code.  Give me the weekend to come up with a solution.  I will update you here when its resolved.

[2022-03-07 04:57] SupremeTechnopriest commented on #218
This has been resolved.  Thank you for the report!

[2022-03-07 04:57] #218 closed

[2022-03-07 04:59] SupremeTechnopriest commented on #219
Thanks for the report @mszmida!

Can you try to update to `5.0.0-rc.15` and use the new `createMocks` function?  The documentation has been updated.

https://idletimer.dev/docs/getting-started/testing

This should do the trick.  If you are still having issues, please reopen this ticket!

[2022-03-07 04:59] #219 closed

[2022-03-07 05:01] SupremeTechnopriest commented on #215
@rupeshdeotale97,

Did you have any luck with this? If that worked for you I can figure out a new naming scheme for the exported modules.

[2022-03-07 05:12] rupeshdeotale97 commented on #215
@SupremeTechnopriest  Sorry, it doesn't work for me.

[2022-03-07 05:15] SupremeTechnopriest commented on #214
Hey @bhattaraib58!

Try out `5.0.0-rc.16`.  The `onAction` event should be emitted while the prompt is open.  So if you want user activity to close the prompt automatically, you can piggyback on `onAction`!

This was a good suggestion.  Thanks for your input!  If there are any issues, feel free to reopen this.

[2022-03-07 05:15] #214 closed

[2022-03-07 05:17] SupremeTechnopriest commented on #215
@rupeshdeotale97 Damn... Im sorry you are having trouble.  I want to be able to help, but I'm kind of grasping at straws without a reproducible case.  If you can get a code sandbox or sample repo for me to poke at, I'm sure I can get to the bottom of it.

[2022-03-07 05:27] SupremeTechnopriest commented on #179
Hey @SVaeth

This issue has been waiting for a response for over two weeks.  I am going to close it for now, but if you get back to it and still need help, feel free to reopen.

[2022-03-07 05:27] #179 closed

[2022-03-07 06:19] rupeshdeotale97 commented on #215
Thanks @SupremeTechnopriest  for actively helping but bit occupied with prod release this month .So won't be able to work on this. As of now I have written by custom code to support multi tab session extension.

[2022-03-07 16:58] mszmida commented on #219
@SupremeTechnopriest Problem solved. Thanks!

[2022-03-08 09:49] shashika18923 opened #220 "multiple tab issue"
## Question

when I using this component I used that cross tab feature to use multiple tabs but if I used another web application in another tab in same browser the idle timer is not working can you help me to solve that.

[2022-03-08 19:56] SupremeTechnopriest commented on #220
Hello @shashika18923!

When you say "another web application" is it the same site?  You cant communicate to other tabs across origins so the other web app would have to be on the same origin for cross tab to work.  The only way to message across tabs on two different web apps is to get a server involved, probably with web sockets.

Which version of IdleTimer are you running?

[2022-03-09 01:50] shashika18923 commented on #220
No as an example I'm using my web application in localhost and same time I'm using Facebook in same browser on another tab when I'm doing that the idle time is not triggering. I think component is taking user is active if we used another web application in same browser. is there any way to fix that issue.

[2022-03-09 03:48] SupremeTechnopriest commented on #220
You're using version 5? Cross tab wouldn't apply here. The normal timer should work just fine for that case. Can you show me how you are initializing IdleTimer?

[2022-03-11 07:46] specialdoom opened #221 "IdleTimerProvider triggers 'React is not defined' error"
## Bug information
IdleTimerProvider triggers 'React is not defined' error

### Affected Module

- `Version`: 5.0.0-rc.16

### Describe the bug

Using ```IdleTimerProvider``` over the app triggers 'React is not defined' error.

### To Reproduce

Steps to reproduce the behavior:

1. Install react-idle-time@next
2. Import ```IdleTimerProvider```
3. Wrap the app with ```IdleTimerProvider```
4. See er

[2022-03-11 12:01] deepikazuci opened #222 "isPrompted, promptTimeout, onPrompt in useIdleTimer is not working"
## Question

![doubt](https://user-images.githubusercontent.com/95339477/157861816-814c45a7-d8d1-4f16-8dab-ed1a5b65be2a.PNG)
This is my code,

I wanted to set up a modal by using onPrompt and promptTimeout properties. But it is not working as expected. I tried reinstalling the npm packing. But still, I couldn't bring that functionality.

[2022-03-11 12:16] specialdoom commented on #222
What version are you using?

[2022-03-11 12:20] deepikazuci commented on #222
Oh, Thanks. I was using `"react-idle-timer": "^4.6.4",`

Is onPrompt Feature stable in beta version, so that I can use it in production App??

[2022-03-11 16:02] tugboat-m commented on #222
is there a timeline we can expect v5+ @specialdoom?

[2022-03-11 18:23] SupremeTechnopriest commented on #222
Thanks for hopping on this @specialdoom. Im thinking the end of the month, middle of next month before releasing v5 out in the wild.  I want to give beta testers adequate time to put it through the paces so we can release it in a bug free state.  There was a lot of changes this patch.

[2022-03-11 18:24] SupremeTechnopriest commented on #221
Thanks for the report @specialdoom!  I will take a look at this today.

[2022-03-11 18:26] SupremeTechnopriest commented on #222
Im going to close this issue.  Please create another one if v5 doesn't fix it for you @deepikazuci!

[2022-03-11 18:26] #222 closed

[2022-03-11 22:55] rowrowrowrow opened #223 "Multiple tab leader issue & sync timers feature"
## Bug information

### Affected Module

- `Version`: 5.0.0-rc.16

### Describe the bug

When using two tabs an inactive tab fires onPrompt even though the user is active on the second tab. I was able to confirm that the tab firing the onPrompt is not the leader using the isLeader method in an interval on both tabs.

### To Reproduce

Steps to reproduce the behavior:

1. Enable cross tab, set a th

[2022-03-11 23:01] SupremeTechnopriest commented on #223
Thanks for the report!  Will get to it this weekend.

[2022-03-12 00:17] rowrowrowrow opened #224 "Add option to sync timeout/prompTimeout between tabs"
## Feature Information

### Is your feature request related to a problem? Please describe.

This is related to https://github.com/SupremeTechnopriest/react-idle-timer/issues/223. I originally expected the crossTab behavior to keep each tabs timeout and prompTimeout countdowns in sync. Because each tab's countdowns are independent I ran into the issue described in https://github.com/SupremeTechnopr

[2022-03-14 10:03] baselbj commented on #213
same issue on 5.0.0-rc.16

[2022-03-15 14:32] mschultz4 opened #225 "Content Security Policy violation for version 5.0.0-rc.16"
## Bug information

### Affected Module

- `Version`: 5.0.0-rc.16

### Describe the bug

We are getting a Content Security Policy error when running 5.0.0-rc.16 version.  Version 4.6.4 works fine for us.

[code]

### To Reproduce

Run with our CSP and attempt to load the app.

### Expected behavior

No CSP error.

### System Information (please complete the following information)

 - `OS`: Windows

[2022-03-15 17:59] SupremeTechnopriest commented on #225
Hi @mschultz4!

This is because of a new feature that moves timers into a web worker to prevent background throttling from causing unintended behavior. If you want to use that feature you would have to create an exception in your CSP rules. If you can do with our it you can call the `createMocks` function to use native timers instead. I will actually make it a configuration option.

As far as supp

[2022-03-15 18:16] mschultz4 commented on #225
That sounds reasonable.  Thank you for the clarification!

[2022-03-17 18:22] Kepro commented on #215
same issue here, webpack 4, all packages latest version... it's still loading esmodule version instead of commonJS not sure why

[2022-03-17 19:07] SupremeTechnopriest commented on #215
Webpack 4 does not support the `exports` field.  You might want to try updating to webpack 5... though the `main` field is the cjs module.  So there should not be any issues...

Can you try importing like this `import { useIdleTimer } from 'react-idle-timer/dist/index.cjs.js'` and let me know if that does the trick?

[2022-03-17 19:16] SupremeTechnopriest commented on #215
Okay noted.  If you could take the time to recreate the issue in a stack blitz, I can work on fixing it.  We will def want to resolve this before releasing v5 to GA.

[2022-03-20 21:05] SupremeTechnopriest commented on #221
Hey @specialdoom, Can you tell me what version of react you are using?

[2022-03-23 03:23] jinweiri-only commented on #221
Got the same issue!

[2022-03-23 08:04] Phalguna2125 opened #226 "Info on cross tab option for multiple windows"
## Question

Ask your question here!
Hi,

**I want to say thanks to this awesome library.**

We have a nextjs project and store the expiry information in sessionStorage upon user being logged in. The timer initializes  from the obtained sessionStorage value.We have custom hoc being written for our project and we use the **useIdleTimer** hook in it for keeping tab of when to show pop up and a frequ

[2022-03-23 18:16] SupremeTechnopriest commented on #226
Hey @Phalguna2125!

Could you tell me how you are creating the new window for your popout page?  I have tested crossTab with iframes and browser tabs and windows.  The only thing that would prevent crossTab from working is if the two pages were technically on different origins.

[2022-03-23 18:18] SupremeTechnopriest commented on #213
Hey @baselbj,

Could you show me your webpack config?  Also which version of webpack are your using?  Is the line you pasted the line its throwing on?

[2022-03-23 18:23] Phalguna2125 commented on #226
Hi, the windows we open will be of same origin. We are opening windows by window.open method (/informationpage) and target=_blank. This informationpage refers to pages in nextjs context. The custom higher order component has this SessionTimer component which is wrapped for all the pages.

[2022-03-23 18:26] SupremeTechnopriest commented on #226
Could you do a test and try to use the message layer in v5 to make sure you can communicate with your window?

` ``js
const { message } = useIdleTimer({ onMessage: console.log })

// Call this from the main window after you open your child window.
message('hello world')
[code]

[2022-03-23 18:43] Phalguna2125 commented on #226
I can receive the messages and communicate on the child window with v 5.0.0-rc.16.

[2022-03-23 18:47] SupremeTechnopriest commented on #226
Okay thats good news.  I think what you want is the `emitOnAllTabs` option.  Can you set that and tell me if that works for you?  By default events are only emitted on the leader tab (usually the first tab).  This is so you don't send duplicate events to your backend.  Events will only fire when all tabs are idle or a tab becomes active after all tabs have been idle.  `emitOnAllTabs` will make eve

[2022-03-23 19:41] Phalguna2125 commented on #226
With emitOnAllTabs , I see events coming up on both tabs and I can send events to my need. Thanks for the tip I have used onActive and to check when user becomes active.

Thanks again for the demo site , it helped a lot in understanding.

[2022-03-23 20:32] SupremeTechnopriest commented on #226
My pleasure @Phalguna2125!  Will close this out.

[2022-03-23 20:32] #226 closed

[2022-03-23 20:41] mschultz4 commented on #215
We are experiencing this as well.  On webpack 4.44.2 and 5.0.0-rc.16 of idle timer.

[2022-03-23 21:07] SupremeTechnopriest commented on #215
This weekend is my birthday, but I will try to debug this next week.  A stack blitz with a repro would be helpful, or if you can add me to the repo where its happening so I can debug it locally.

[2022-03-24 11:19] baselbj commented on #213
I am using create react app(react-scripts 4.0.3) with https://github.com/gsoft-inc/craco. Yes this is the line it is throwing.

[2022-03-24 16:46] baselbj commented on #213
@SupremeTechnopriest Thank you ... I just updated my react-scripts to 5.0.0 and it works but with some warnings, about 20 warnings. Those are the first tow:

[code]
[code]

[2022-03-24 17:00] aburleigh94 opened #227 "isPrompted value changing between false and true when specifying events"
## Bug information

### Affected Module

- `Version`: 5.0.0-rc.16

### Describe the bug

Adding a list of event types causes the prompt timeout to behave erratically due to isPrompted switching between true and false.

### To Reproduce

Steps to reproduce the behavior:

Codesandbox to reproduce the issue is here: https://codesandbox.io/s/react-idle-timer-events-issue-swnfcr?file=/index.js

When th

[2022-03-24 17:14] SupremeTechnopriest commented on #213
thats odd.  It shouldn't be looking in node_modules.  Everything gets bundled.  Can you show me how you are importing idle timer?

[2022-03-24 17:19] SupremeTechnopriest commented on #227
Hey @aburleigh94,

Im not able to reproduce this with your code sandbox.  I tried it in chrome and in Edge (same version as you). The only difference here is Im still running Windows 10.  Windows 11 still has a lot of problems imo.  Would it be possible for you to open your code sandbox on another machine with a different os so we can rule that out?

[2022-03-24 17:21] SupremeTechnopriest commented on #227
Scratch that, you mean the counter.  Confirmed.  Let me see whats going on.

[2022-03-24 20:09] baselbj commented on #213
just like the example:
import {useIdleTimer} from 'react-idle-timer';

[2022-03-24 20:12] SupremeTechnopriest commented on #213
Okay I can fix that by disabling source maps I think.  Its looking for sourcemaps that don't exist because everything is bundled.

[2022-03-24 20:51] mschultz4 commented on #215
I get mine to build if I stop excluding node_modules in the babel-loader webpack rule.  Though, as you mentioned above, we shouldn't have to do this.

[2022-03-24 20:53] mschultz4 commented on #215
Happy Birthday!

Going to be tough to reproduce our environment in a stackblitz and it is private company so I can't get you access.  Will keep plugging away at it.

[2022-03-24 20:58] SupremeTechnopriest commented on #215
No worries.  Ill try to recreate on my side.

[2022-03-24 21:54] SupremeTechnopriest commented on #215
Yeah it looks like earlier versions of webpack doesnt know how to deal with optional chaining.  Im going to try and transpile them on my side.

[2022-03-24 21:58] SupremeTechnopriest commented on #215
Transpiling optional chaining is really going to bloat the package quite a bit.  It has very good browser support now, so Id rather not have to do that.  https://caniuse.com/?search=optional%20chaining

I might instead release a legacy mode pacakge.  Maybe importing something like...

[code]

...if you need transpilation of ESNext features.  I would recommend trying to upgrade to webpack 5 as its

[2022-03-24 22:01] SupremeTechnopriest commented on #215
Actually I'm only using it once in the whole project.  I will just use a standard conditional instead and that should solve this problem without the need for another module.

[2022-03-24 22:23] mschultz4 commented on #215
Ha. Yeah, that would be the easiest thing.

We do plan on upgrading to webpack version 5 in the future. But don’t have
the time to do it now.

Thanks for your help!

On Thu, Mar 24, 2022 at 6:01 PM Randy Lebeau ***@***.***>
wrote:

[2022-03-24 22:28] SupremeTechnopriest commented on #215
No problem.  I will have a new release candidate out tonight.  Pretty sure this will work for you.

[2022-03-25 00:09] Project-Omelet opened #228 "Dynamic timeout value on useIdleTimer"
Before begin, thank you for making a awesome program.

I want to use this module in my project, but I have a problem.
Module version is 5.0.0-rc.16

This is common steps in my program.
1. When my app is started, do not start idle timer automatically.
2. User login user's account, then start idle timer
3. Mouse event occur (mouse move), do not fall into idle state.
4. If the mouse does not move for

[2022-03-25 00:30] SupremeTechnopriest commented on #228
this is just a hunch, but can you try changing your state to something like:

[code]

Then use those values in the rest of your code

[code]

`setTimeout` is a javascript global and that might be why your state is not updating.

[2022-03-25 00:43] Project-Omelet commented on #228
I fix [timeout, setTimeout] to [timeoutValue, setTimeoutValue] and run, but still work on 1min.
When I change idleLockTime other component, console print 'Start idle timer' and changed value..but still lock on 1min.
Did I use it wrong?

[2022-03-25 01:01] SupremeTechnopriest commented on #228
A couple things worth noting:  IdleTimer v5 has built in prompting that you might want to consider using for your lock screen.  More on that [here](https://idletimer.dev/docs/getting-started/new#integrated-prompting).  Then you wouldn't need to use `stopOnIdle`.

Maybe try one more thing, if this doesn't work I might need you to make a code sandbox so I can help you debug it.

[code]

[2022-03-25 01:02] SupremeTechnopriest commented on #228
While you are at it try it with `stopOnIdle: false`.

[2022-03-25 01:41] Project-Omelet commented on #228
Thank you for your prompt reply!
I change my code stopOnIdle false and move calculate logic to setTimeoutValue, but still not work on 5.0.0-rc.16.

But I downgrade version 4.6.4, it works.
Soon the deadline for the project came near, I'll use version 4.6.4.
After deadline, I make test code on code sendbox and share to you.

[2022-03-25 01:44] SupremeTechnopriest commented on #228
Sounds good! I will try to recreate in tests in the mean time.

[2022-03-25 01:53] SupremeTechnopriest commented on #213
@baselbj `5.0.0-rc.17` should get rid of those warnings for you.

[2022-03-25 01:53] SupremeTechnopriest commented on #215
`5.0.0-rc.17` published!  This issue should be resolved now.  Please reopen if it persists.

[2022-03-25 01:53] #215 closed

[2022-03-25 01:59] SupremeTechnopriest commented on #227
`5.0.0-rc.17` should fix the issue.  I added a test case to make sure it doesn't creep back in.  Reopen if you still have trouble.  I tried updating the code sandbox, but the module version cache is taking a while to update.

[2022-03-25 02:00] SupremeTechnopriest commented on #225
Hey @mschultz4!

Added `nativeTimers` prop in `5.0.0-rc.17`.  If you wan to keep your CSP rules strict you can use that, but you will have the same browser throttling effects as v4.

[2022-03-25 02:00] #225 closed

[2022-03-25 02:00] SupremeTechnopriest commented on #221
Resolved in `5.0.0-rc.17`!  Reopen if you still have issues!

[2022-03-25 02:00] #221 closed

[2022-03-25 02:04] SupremeTechnopriest commented on #220
It's been a bit since I have heard from you.  If you are still having issues, feel free to reopen this.

[2022-03-25 02:04] #220 closed

[2022-03-25 07:00] SupremeTechnopriest commented on #228
I wrote this test which should recreate your scenario and it's passing.

[code]

This makes me think that something is preventing the new timeout from making it to IdleTimer.  Its concerning that the same code works in v4 but not in v5.  All the test coverage from v4 is also in v5.  Looking forward to taking a look at your reproduction.

[2022-03-25 08:55] Project-Omelet commented on #228
Interesting...my code worked perfect on v4, but still not working v5, whicth factor prevent making new timeout..

Is it because of the problem with the project environment? My environment is as follows.
- React 17.0.2 (react-scripts 5.0.0)
- Electronjs 17.1.0 (chromium version: 98.0.4758.102)
- Typescript 4.5.5

And my final code (worked perfact on v4)
[code]

TGIF!

[2022-03-25 10:04] baselbj commented on #213
@SupremeTechnopriest thank you it is working perfectly

[2022-03-25 14:13] mschultz4 commented on #215
Thanks!  Works great now.

[2022-03-25 16:30] Phalguna2125 opened #229 "Reset getElapsedTime when reset() method is called"
Hi,

Thanks for the awesome library,

While I was migrating from v4.6.4 to v 5 to leverage new methods of message and others, I have observed upon calling **reset() method.** The getElapsedTime() is automatically being reset to 0 in v4.

But in v5 it seems to not reset the time, I was using this **getElapsedTime()** and out sessionTimeout variable to check and add a background refresh call.

I am

[2022-03-25 17:35] SupremeTechnopriest commented on #229
Hey @Phalguna2125,

This def sounds like a bug.  Let me add some tests to confirm.

[2022-03-25 17:37] SupremeTechnopriest commented on #228
You might want to add `authenticated` to your second `useEffect` dependencies.  Other than that this code looks good to me.  I will continue testing and see if I can make a test fail.

[2022-03-25 17:39] SupremeTechnopriest commented on #227
Hmm according to the sandbox this is still broken... Gonna continue debugging.

[2022-03-25 18:09] SupremeTechnopriest commented on #213
This will also work with webpack v4 now as well.

[2022-03-25 18:42] aburleigh94 commented on #227
Thanks for the follow up, much appreciated. I'll continue to keep an eye out.

[2022-03-25 21:19] SupremeTechnopriest commented on #229
@Phalguna2125

So I wrote this test which should cover this use case and its passing.

[code]

Any chance you can try to recreate in a code sandbox?

[2022-03-25 21:36] Phalguna2125 commented on #229
Hi @SupremeTechnopriest , can you check for **getElapsedTime** after reset, instead of getRemainingTime and let me know.
Any reason you were checking for getRemainingTime.?

i believe and verified the getRemainingTime was working well. In my case i was using elapsed time(getElapsedTime) to check difference between component mount time and session expiry time from my storage. although I also use ge

[2022-03-25 21:37] SupremeTechnopriest commented on #229
Ah damn. I misread that.  Coming right up.

[2022-03-25 21:39] SupremeTechnopriest commented on #229
So for elapsed time you want it to return the inverse of remaining time `timeout - getRemainingTime`.  I think right now its total elapsed time since the timer was mounted.

[2022-03-25 21:50] Phalguna2125 commented on #229
It keeps on incrementing now, instead of resetting when i call reset(). Can we just reset it to default when calling it or have a way to reset it , instead of getting total elapsed time.
I might not need inverse , but just a way to reset it. Because when using the way of hook initialization, i could remount them after extending session and set elapse time to default. Is it possible.?
In v4 we woul

[2022-03-25 21:56] SupremeTechnopriest commented on #229
I will add a `getTotalElapsedTime` that behaves like the current implementation. Then I will make `getElapsedTime` reset like it did in v4.

[2022-03-25 22:02] Phalguna2125 commented on #229
Thanks a lot that would be great.

[2022-03-26 00:50] SupremeTechnopriest commented on #228
@Project-Omelet This is published as `5.0.0-rc.18`.  I added tests so it should work the way you want it now!

[2022-03-26 00:51] SupremeTechnopriest commented on #228
Sorry commented on the wrong ticket.  This is still open until we figure out whats going on.

[2022-03-26 00:52] SupremeTechnopriest commented on #229
@Phalguna2125 This is deployed as `5.0.0-rc.18`under the `next` tag.  Also updated the docs.  Everything is tested so it should do what you expect now!

[2022-03-26 00:52] #229 closed

[2022-03-26 00:53] SupremeTechnopriest commented on #227
@aburleigh94 Found the culprit!  The events array wasn't being properly memoized.  Applied the same fix to `immediateEvents` and added reliable tests.  You should be good to go now!

[2022-03-26 00:53] #227 closed

[2022-03-28 06:04] Phalguna2125 commented on #229
Checked and its working as expected

[2022-03-28 12:27] aburleigh94 commented on #227
Awesome! Thanks a lot!

[2022-03-29 23:00] wbobeirne opened #233 "Consider making `worker-timers` a parameter instead of embedding in the bundle"
## Feature Information

### Is your feature request related to a problem? Please describe.

The module `worker-timers` is being included by default in the bundle even though the default for using it is `false`. According to Bundlephobia, this means that `worker-timers` is currently about one third of the bundle size of this library ([`worker-timers`](https://bundlephobia.com/package/worker-timers@

[2022-03-30 17:16] SupremeTechnopriest commented on #233
@wbobeirne

This is an interesting suggestion.  I am definitely considering it.  May I ask why you are opting out from using the worker timers?  My original intention was to make it required since it is definitely an improvement.  I then made it optional due to CSP violations from the worker.  Regardless, I can make this more tree shakable, but that would make the default be native timers (not wor

[2022-03-30 18:18] SupremeTechnopriest commented on #233
Cool thank you for the info.  I think what I will do is make the default the main thread timers and then export workerTimers as a separate export so its tree shakable.  Then you can fulfill the `timers` interface with any set of timers you want.  I'll try to get this done today.

[2022-03-31 01:31] SupremeTechnopriest commented on #233
Hey @wbobeirne,

This has been published as `5.0.0-rc.19`.  Please let me know if that tree shakes out ok for you.  Relevant docs can be found [here](https://idletimer.dev/docs/getting-started/new#web-worker-timers).

[2022-03-31 01:31] #233 closed

[2022-03-31 01:40] SupremeTechnopriest commented on #225
Just an update on this.  I made some changes to help with treeshaking for those who wish to opt out of worker timers.  Basically I removed the `nativeTimers` property and replaced it with a `timers` property that takes an interface to replace the main thread timers. I also exposed an implementation of the interface that moves timers to a web worker (this will have the same CSP requirements as the

[2022-03-31 01:50] Project-Omelet commented on #228
@SupremeTechnopriest Hi! I installed 5.0.0-rc.19 on my project, and I met this error message
<img width="523" alt="image" src="https://user-images.githubusercontent.com/79133857/160959703-d450b696-cd83-4d6a-8c66-bd005fd8be66.png">

My code is changed using useIdleTimer hooks, add events manually (for remove visibilitychange)
[code]

[2022-03-31 02:23] SupremeTechnopriest commented on #228
Hmmm, interesting.  Thanks for checking.  Your project is electron if I'm not mistaken?

[2022-03-31 02:29] Project-Omelet commented on #228
When app entered idle state, onIdle function send idle signal to electron (like backend server).
There's nothing else, but this. :)

[2022-03-31 02:36] masterbater opened #234 "Illegal invocation"
Uncaught TypeError: Illegal invocation
    at z (index.esm.js:1:1)
    at index.esm.js:1:1
    at index.esm.js:1:1
    at commitHookEffectListMount (react-dom.development.js:19731:1)
    at commitPassiveHookEffects (react-dom.development.js:19769:1)
    at HTMLUnknownElement.callCallback (react-dom.development.js:188:1)
    at Object.invokeGuardedCallbackDev (react-dom.development.js:237:1)
    at

[2022-03-31 03:34] SupremeTechnopriest commented on #228
Okay good to know.  I will keep you posted.

[2022-03-31 03:36] SupremeTechnopriest commented on #234
Could you show me how you are initializing `IdleTimer`?

[2022-03-31 08:44] JSDUNIYA opened #235 "Link broke"
## Bug information
https://idletimer.dev/docs/getting-started/installation on this page

To see what has updated in a given version of IdleTimer, you can check the [changelog](https://idletimer.dev/docs/changelog) or the [github releases](https://github.com/SupremeTechnopriest/react-idle-timer/releases).

github releases link doesn't seem to be working
### Affected Module

- `Version`: Put the mod

[2022-03-31 12:05] masterbater commented on #234
import { useIdleTimer } from 'react-idle-timer'

export const App = () => {
  const onIdle = () => {
    // Close Modal Prompt
    // Do some idle action like log out your user
  }

  const onActive = (event) => {
    // Close Modal Prompt
    // Do some active action
  }

  const idleTimer = useIdleTimer({ onIdle, onActive })

  return (
    <div>Test</div>
  )
}

[2022-03-31 13:01] #234 closed

[2022-03-31 13:40] aburleigh94 commented on #223
Also interested in this behavior for my use case, +1

[2022-03-31 15:26] mschultz4 commented on #225
Awesome.  Thank you!

[2022-03-31 15:28] mschultz4 opened #236 "React 17 peer dependency"
## Question

Wondering why you are requiring React 17 as a peer dependency.  We are running 16 and have no issues with the latest IdleTimer RC.  Is there some feature we can't use while still on React 16?

[2022-03-31 17:34] SupremeTechnopriest commented on #236
I can make it compatible with 16.  The reason why I bumped it was because I stopped importing React on every file that used jsx.  I will make it compatible with 16 later today.

[2022-03-31 17:35] SupremeTechnopriest commented on #235
Thanks for the report.  Will fix this today.

[2022-03-31 17:39] mschultz4 commented on #236
Ignored.  Thanks again!

[2022-03-31 18:33] masterbater commented on #234
Hello I appreciate your prompt replies. For now I close this because stable version @latest works fine for me not the @next

[2022-03-31 18:34] SupremeTechnopriest commented on #234
I will see what I can do to reproduce this and let you know!

[2022-03-31 19:59] SupremeTechnopriest commented on #223
So I think setting `emitOnAllTabs` will achieve what you are looking for.  This will ensure the events are triggered on your users active tab regardless of which tab is the leader.  Making the leader follow the user between active tabs would be difficult and a bit chatty on the messaging channel.  I am still considering it, just let me know if `emitOnAllTabs` covers your use cases.

[2022-03-31 20:52] rowrowrowrow commented on #223
Setting `emitOnAllTabs` to true is able to get them closely in sync such that the inactive tab still fires onIdle at roughly the same time that the active tab would fire onIdle. However, in my testing the discrepancy can be relatively large and unpredictable, up to 5 seconds in some cases, if multiple tabs/windows are open and being used. The user will expect that they are the same or near exact s

[2022-03-31 20:59] SupremeTechnopriest commented on #223
The only issue with #224 i can see is that It's going to be extremely chatty on the messaging channel.  It would be fine for browsers that support broadcast channel, but for browsers that do not, the local storage fallback is going to be blocking. We can do some tests using the `message` `onMessage` features to sync actions.  Ill whip up an example later today.

[2022-03-31 21:04] rowrowrowrow commented on #223
With emitOnAllTabs set to true I think just adding some extra logic to the send and receive for the start and reset actions is all that would be needed. I can take a closer look but I don't think you would need to change the amount of messages just the content of the messages.

[2022-04-01 01:23] SupremeTechnopriest commented on #236
React peer dependencies dropped to 16 in `5.0.0-rc.20`

[2022-04-01 01:23] #236 closed

[2022-04-01 01:23] SupremeTechnopriest commented on #235
Fixed!  Thanks again!

[2022-04-01 01:23] #235 closed

[2022-04-01 01:45] SupremeTechnopriest commented on #223
Alright here is the simple proof of concept.  https://codesandbox.io/s/idle-timer-sync-timeout-zsr5de

It works pretty well. Thinking about how I want to include this in the library. Maybe a `syncTimers: number` property where the value is how often you want to sync the timers.

What do you think?

[2022-04-01 01:54] SupremeTechnopriest commented on #224
Closing this in favor of #223.  We can continue the discussion there.

[2022-04-01 01:54] #224 closed

[2022-04-01 02:45] rowrowrowrow commented on #223
This seems to be working a lot better, they are definitely closer in sync. Yep, I think a syncTimers prop that throttles the reset message makes sense as well. It'd probably need to be in the eventHandler just like emitOnAction. Thanks for putting this together!

I can more or less see the changes needed would it help if I started a PR?

[2022-04-01 03:24] rowrowrowrow commented on #223
@SupremeTechnopriest see https://github.com/SupremeTechnopriest/react-idle-timer/pull/237 Hope it's a good start.

[2022-04-01 04:31] dpgalloway commented on #175
Hey @SupremeTechnopriest thank you for your work here. Do you have any estimated date on when v5 will go out of beta? I'd like to use this now-built-in feature but plan to deploy in the next couple weeks. Is it stable enough to use in a production environment or should I stick with v4?

[2022-04-01 05:02] SupremeTechnopriest commented on #175
@dpgalloway I would say its stable enough for production.  You should join the discord so you can keep track of any major changes during the release candidate phase.  I'm getting pretty close to ready.  There's just a few more features I want to add.

[2022-04-01 16:58] rikinshah23 commented on #163
I could not open the example link. do you have a new link by any chance? Thanks

[2022-04-01 16:59] rikinshah23 commented on #163
I could not open the example link. do you have a new link by any chance? Thanks

[2022-04-01 17:47] rikinshah23 commented on #234
I tried with the latest version and it gives me the same error.

I used _A minimal example with the bare essential configuration._

import { useIdleTimer } from 'react-idle-timer'

[code]

[2022-04-01 17:51] rikinshah23 opened #238 "Illegal invocation (same as 234)"
I tried with the latest version and it gives me the error.

I needed to use the latest version with modal prompt feature which is necessary for the web app.

I used A minimal example with the bare essential configuration.

`   "react-idle-timer": "^5.0.0-rc.20",`
[code]

![image](https://user-images.githubusercontent.com/26806597/161316304-77d8dd85-e98e-4ab8-a01a-84a9825de007.png)

[2022-04-01 17:52] rikinshah23 commented on #234
I created new [issue](https://github.com/SupremeTechnopriest/react-idle-timer/issues/238) as this is closed.

[2022-04-01 18:41] SupremeTechnopriest commented on #238
Can you tell me which version of react you are using?

[2022-04-01 18:43] SupremeTechnopriest commented on #163
Yeah that example is in the v4 branch.  The new examples will live on the docs site.  Heres a link to the old examples for v4:
https://github.com/SupremeTechnopriest/react-idle-timer/tree/v4/examples

[2022-04-01 18:46] rikinshah23 commented on #238
"react": "^17.0.2",

[2022-04-01 19:09] SupremeTechnopriest commented on #238
Confirmed.  I found the issue.  Will fix it today.

[2022-04-04 06:10] SupremeTechnopriest commented on #238
This has been resolved in version `5.0.0-rc.21`.  Thanks for catching this.  Worth noting that if you want to use the web worker timers, you now have to explicitly set the timer interface.  More on that [here](https://idletimer.dev/docs/getting-started/new#web-worker-timers).

[2022-04-04 06:10] #238 closed

[2022-04-04 06:11] SupremeTechnopriest commented on #228
@Project-Omelet Fixed the illegal invocation.  Can you try version `5.0.0-rc.21`?

[2022-04-04 06:23] SupremeTechnopriest commented on #223
@rowrowrowrow @aburleigh94,

This is implemented in version `5.0.0-rc.21`!  Let me know how it works out for you. The relevant docs are [here](https://idletimer.dev/docs/api/props#synctimers) but its pretty straight forward like we discussed.

[code]

The value is the throttle for the sync event. (At most once every 500ms in this example).  It's also implemented in the demo so you can play around

[2022-04-04 06:23] #223 closed

[2022-04-04 09:25] rowrowrowrow commented on #223
Thanks! I'll be sure to try it out.

[2022-04-04 17:51] SupremeTechnopriest commented on #234
Illegal invocation fixed in the latest release candidate!

[2022-04-04 17:55] SupremeTechnopriest commented on #228
Thanks for checking!

The only thing I can think of is that IdleTimer's state isn't being updated.  When you change the timeout, are you sure a rerender is being triggered?  Im not able to reproduce this on the demo page or in tests.  That would be the first step to getting this resolved.

[2022-04-04 18:11] SupremeTechnopriest commented on #228
On second thought... I might have just reproduced it while investigating a bug with the new feature.  Will get back to you when I push a new release candidate.

[2022-04-04 20:12] SupremeTechnopriest commented on #228
@Project-Omelet Can you give `5.0.0-rc.22` a shot?  Pretty sure I found and fixed the issue.  LMK!

[2022-04-04 23:47] Project-Omelet commented on #228
@SupremeTechnopriest Wow!! It works!!!
I tested 5.0.0-rc.22 changed timeout 10 times, works perfect.
When v5 is ready, I'll update this module in my project immediately!
Thank you for dealing with my issue. I'm really appreciate!

[2022-04-04 23:48] SupremeTechnopriest commented on #228
@Project-Omelet  YESSS!  We got it!  Thanks for finding the bug.  Much appreciated.  I expect to be releasing v5 within the next few weeks.  You can join the discord to get notified when it goes live (and other news) but I will also comment here when it has been released!

[2022-04-04 23:48] #228 closed

[2022-04-07 23:34] masterbater opened #240 "Please add getPromptRemainingTime"
It would be nice if you could add getPromptRemainingTime.  For now I just make my own timer when onPrompt gets triggered

[2022-04-08 00:04] SupremeTechnopriest commented on #240
When `isPrompted()` is true, `getRemainingTime()` returns the prompt remaining time. That should be what you want :)

[2022-04-08 00:24] SupremeTechnopriest commented on #240
If for some reason thats not working for you (it should there are a bunch of tests), feel free to re open this.

[2022-04-08 00:24] #240 closed

[2022-04-08 00:25] SupremeTechnopriest commented on #240
Here are the relevant docs https://idletimer.dev/docs/api/methods#getremainingtime

[2022-04-08 00:27] masterbater commented on #240
Yup thank you I also read it here https://idletimer.dev/docs/features/confirm-prompt.
Everything is well documented. Excited for the stable release

[2022-04-08 00:39] SupremeTechnopriest commented on #240
Going to be adding a bunch of code sandbox examples to the docs as well.  If you join the discord you can stay up to date on the release.  I have an event for the release on April 22 at 5 PM PST.

https://discord.gg/fjNdTG4k?event=961525880365121586

The current release candidate is most likely the last one.  I think we got all the bugs worked out.

[2022-04-08 14:19] PrasannaVenkatesh08 opened #241 "Cross Tab Issue/ Doubt"
## Question

Ask your question here!
My Scenerio is I have to show a prompt when timeout is passed and after certain time, I have to trigger the auto logout function.
For Example:
timeout = 1000 * 60 * 5 (5 mins)
promptTimeout = 1000 * 60 * 2 (2 mins)
also I should enable crossTabs and emitOnAllTabs because User should not be auto logged out if the user is active in one tab and idle in other tabs.

[2022-04-08 18:32] PrasannaVenkatesh08 commented on #155
Hai,
I am facing the above issue. My onIdle is not triggered when the promptTimeout is passed. Everything is working fine in one tab. If I have multiple tabs, The Prompt is getting dispalyed once the timeout is passed but after the promptTimeout, the onIdle function is not getting triggered.

Code :

import { React } from "@xarc/react";
import { useEffect, useRef, useState } from "react";
import {

[2022-04-08 18:54] SupremeTechnopriest commented on #241
Confirmed.  I will look into this this evening.

[2022-04-08 19:11] SupremeTechnopriest commented on #155
@PrasannaVenkatesh08 Does this persist after you removed `startManually`?  For it to start with no input `startManually` has to be `false` and `startOnMount` has to be `true` (which is the default).

[2022-04-09 02:47] PrasannaVenkatesh08 commented on #241
Thanks @SupremeTechnopriest for taking this up quickly. Added to above one, Sometimes the timers in different tabs aren't sync like showing different times so that it affects the consistency of auto logout function and stay logged-in function.  Could you tell me how to use **syncTimers** for this. I tried with 1000(1 sec) but nothing seems to work for me.

[2022-04-09 03:36] SupremeTechnopriest commented on #241
Set it to something lower like 200. The number that you set is how often it syncs. So at 1000 you will get one second of drift.

[2022-04-09 03:53] PrasannaVenkatesh08 commented on #241
Could you share me some examples of version 4 that have prompt feature and cross tab feature?

[2022-04-09 04:53] SupremeTechnopriest commented on #241
In version 4 the prompt has to be implemented on your own.  Its a new feature in v5.  I should have it resolved this weekend.  I might need to refactor the way cross tab works. I've got some time blocked out for it tomorrow.

Cross Tab works in v4, but its configured a little differently.  There's no `syncTimers` option either.  The docs and examples for v4 can be found on the v4 branch. https://g

[2022-04-10 05:59] SupremeTechnopriest commented on #241
Did a rework of `crossTab`. Its published as `5.0.0-rc.24`.  It will solve your issue.  You can see the relevant changes on the docs here https://idletimer.dev/docs/getting-started/new#simplified-cross-tab-api.

[2022-04-10 05:59] #241 closed

[2022-04-11 18:04] mellis481 commented on #170
@SupremeTechnopriest I installed 5.0.0-rc.24 and my cursory testing of the expected behavior was successful.

Is there any timeline for version 5 being released?

[2022-04-11 23:44] SupremeTechnopriest commented on #170
Hey @mellis481!

Yes there is a release planned for April 22, 2022 at 5 PM PST.  You can join the discord to be updated on releases and future beta tests!

[2022-04-18 11:23] emresandikci opened #242 "Throw an error when a crosstab feature activated Failed to execute 'postMessage' on 'BroadcastChannel': Channel is closed"
## Bug information

### Affected Module

- `Version`: 4.6.4

### Describe the bug

When activate the `crosstab ` feature and open a new tab with the same URL I getting an error like `Unhandled Rejection (InvalidStateError): Failed to execute 'postMessage' on 'BroadcastChannel': Channel is closed`

### To Reproduce

Steps to reproduce the behavior:

1. Run project
2. When a project running on a bro

[2022-04-18 19:44] SupremeTechnopriest commented on #242
Hi @emresandikci!

Could you please try the v5 beta?  V4 is at end of life and v5 is being promoted on Friday.  Join the discord for important announcements.  `npm i react-idle-timer@next`.  You can see the new docs here https://idletimer.dev.  Specifically you want to check the whats new section.

[2022-04-18 19:49] emresandikci commented on #242
Hi @SupremeTechnopriest,

First of all, thanks for your quick answer, I will try it out tomorrow and let you know the result.

[2022-04-18 19:51] SupremeTechnopriest commented on #242
Sure thing!  It's been very well beta tested and is definitely ready for production use.  Let me know if you have any problems getting started.

[2022-04-21 07:38] #242 closed

[2022-04-21 09:17] honghainguyen777 opened #243 "Availability of emitOnAllTabs props in the useIdleTimer hook - upcoming V5"
## Question

One of the features I love about the `react-idle-timer` is the `crossTab`. In the `4.6.4` version, there is `emitOnAllTabs` for emitting the `onIdle` and `onActive` functions on all tabs.
[code]

I often have some actions that emit for all tabs and some that execute in the lead tab only (with `crossTab: true`). However, the new V5 (ie. 5.0.0-rc.24 currently) has no `emitOnAllTabs` but

[2022-04-21 19:31] SupremeTechnopriest commented on #243
Hi @honghainguyen777,

So in v5 `emitOnAllTabs` is the default behavior. So no worries there you wont loose it. However, in v5 leader election was removed.  It was incompatible with new features like the prompt.  I exposed the message channel via the `onMessage` prop and the `message` method, so you could implement it yourself.  You can have two `useIdleTimer` hooks if you like.  There should be n

[2022-04-22 06:47] honghainguyen777 commented on #243
Hi @SupremeTechnopriest , I hope that you are doing great! I will implement the leader election on my project and let you know here if it works. Thank you so much for your quick response and cool example!

[2022-04-22 10:54] honghainguyen777 commented on #243
Hi @SupremeTechnopriest It works! Thank you so much!

I have to spend some time working around the case if the leader is closed to pass the leadership to another tab.
[code]
Have a great weekend!

[2022-04-22 11:34] ssureez opened #244 "Cross tab support not working with multiple tabs"
cross tab feature not working with more than two tab

### Affected Module

- `Version`: 4.6.4

### Describe the bug

react-idle-timer's cross tab support working with two tabs opened but when we open the third tab i see that onIdle callback is not invoked.

### To Reproduce

`<IdleTimer
          ref={ref => {
            this.idleTimer = ref;
          }}
          timeout={1000 * 10}
          o

[2022-04-22 18:49] SupremeTechnopriest commented on #243
Glad I could help!  Going to close this for now.  Feel free to re open or pop in discord if you need more help!

[2022-04-22 18:49] #243 closed

[2022-04-22 18:54] SupremeTechnopriest commented on #244
Hey @ssureez,

Can you try the v5 beta? `npm i react-idle-timer@next`.  Cross tab has been rewritten from scratch.  It's actually being promoted to the latest tag today and is definitely stable for production use.  You can check out the new docs site here. https://idletimer.dev. I suggest reading over the whats new section to start.  https://idletimer.dev/docs/getting-started/new

It's been tested

[2022-04-22 18:54] #244 closed

[2022-04-23 00:31] SupremeTechnopriest commented on #240
@masterbater v5 is released!

[2022-04-23 00:31] SupremeTechnopriest commented on #228
@Project-Omelet v5 released!

[2022-04-23 00:32] SupremeTechnopriest commented on #175
@dpgalloway v5 is released!

[2022-04-23 00:32] SupremeTechnopriest commented on #170
@mellis481 v5 is released!

[2022-04-24 01:43] masterbater commented on #240
Congratulations 🎉. I will surely update to stable release thanks for
informing me.

On Sat, Apr 23, 2022, 8:31 AM Randy Lebeau, ***@***.***>
wrote:

[2022-04-26 08:21] Niks218 opened #246 "CrossTab functionality"
## Question
Hi, I have a small question I can't figure it out myself.

In v4 I used `isLeader()` method to determine the main tab. This timer would send request to backend to close session, so I could send only one request. Other tabs just logged out user locally without sending request.
Do you have something similar in v5? It's not a feature request, I just wanna know how much I need to refactor

[2022-04-26 08:54] SupremeTechnopriest commented on #246
Hey @Niks218!

Im about to go to bed, but you can take a look at this issue and it should point you in the right direction.

https://github.com/SupremeTechnopriest/react-idle-timer/issues/243#issuecomment-1105673416

Im considering adding leader election back in V5, though it wouldn't isolate the events for you.  Events will be emitted on all tabs, and then you could just use `isLeader()` inside y

[2022-04-26 10:04] Niks218 commented on #246
Thank you!

Yes, this looks like working solution, I'll give it a try and reply here later.

[2022-04-27 10:38] Niks218 commented on #246
Hey @SupremeTechnopriest!

I tried to play around this issue today. I tried to use `beforeunload` event to notify other tabs about leader change, but I discovered that you use the same event, so I can't send message on this event because apparently channel is already closed at the moment.

Another thing I found, but didn't dig too deep, is that `onAction` handler is fired on mouse move event despi

[2022-04-28 01:56] SupremeTechnopriest commented on #246
Yeah that is true.  The message socket gets disconnect on `beforeunload`.  I will put it on the road map for v5.1 to add leader election back in.  I will look into the onAction throttle this weekend.

[2022-04-28 04:30] nenjamin2405 opened #247 "Web Worker Timers is not working as expected."
## Bug information

### Affected Module

- `Version`: 5.0.0

### Describe the bug

I followed the [Integrated Prompting](https://idletimer.dev/docs/getting-started/new#integrated-prompting) example, and already applied the [Web Worker Timers](https://idletimer.dev/docs/getting-started/new#web-worker-timers). It works well when I have only a few tabs, however, when I open multiple tabs (11 or more)

[2022-04-28 04:34] SupremeTechnopriest commented on #247
Thanks for the report.  I will look into this.  Out of curiosity, does it happen when you use the native timers?  (Omit the `workerTimers` prop.  That would help me in narrowing down the issue.

[2022-04-28 04:42] nenjamin2405 commented on #247
Hi @SupremeTechnopriest, thank you for looking into this. The answer is `yes`, it still happens when I use the native timers. Previously I used native timers and saw this issue, that's why I checked stackoverflow and saw this related [bug](https://stackoverflow.com/questions/5927284/how-can-i-make-setinterval-also-work-when-a-tab-is-inactive-in-chrome), people suggested to use WebWorker, then I fo

[2022-04-28 05:06] SupremeTechnopriest commented on #247
So I had another async middleware that was calling `next`. Pulled that out and I stopped getting the error, but the main issue is still persisting (the hanging on the second call).  I create a very minimal test file to make sure its not related to my code:

[code]
/node_modules/hyper-express/src/components/http/Request.js:93
        this.#raw_response.pause();
                           ^

Error:

[2022-04-28 05:43] SupremeTechnopriest commented on #247
Sorry that was for another issue...

[2022-04-28 06:01] SupremeTechnopriest commented on #247
Are you by chance using the `syncTimers` option?  Maybe you could drop your instantiation code here on the issue so I will have a good idea of where to look for issues.

[2022-04-28 06:50] nenjamin2405 commented on #247
@SupremeTechnopriest Yes, my project requires me to deal with high number of tabs, it requires the high security for the data, so no matter how many tabs I open, after the user is inactive for 20 minutes for example, it should log the user out. But because of this bug I cannot guarantee that requirement. Here is the [codesandbox](https://codesandbox.io/s/trusting-galois-gum2vy?file=/src/App.js) fo

[2022-04-28 06:59] SupremeTechnopriest commented on #247
I understand. Could you try one more thing for me. Try disabling syncTimers and see if the issue still occurs. I will carve out some time on Saturday to solve this for you.

[2022-04-28 16:26] johnilizy17 opened #248 "reactnode"
## Bug information
Type '{}' is not assignable to type 'ReactNode'
### Affected Module
IdleTimer
- `Version`: Put the module version number here (0.0.1)
^4.6.4
### Describe the bug

it  don't make me compiler my work on vercel

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2022-04-28 17:59] SupremeTechnopriest commented on #247
Hey @nenjamin2405,

One last thing for you to try.  Can you try to disable the `syncTimers` prop?  I will get into this this weekend.

[2022-04-29 02:50] nenjamin2405 commented on #247
@SupremeTechnopriest I just tested again by removing `syncTimers`, the issue still occurs. When the issue occurs, as soon as I remove some of the tabs (4-5 tabs), the status of the timer will be changed from frozen to running.

[2022-04-29 02:54] SupremeTechnopriest commented on #247
Alright thank you for the info.  I will look into this this weekend.  We might be hitting the limits of web workers in the browser, but I will dig in and confirm.  The only two things that could be at play here are `BroadcastChannel` or `WebWorkers`.  Have you tried on any other platforms or devices?  Or maybe you could grab a snapshot from Activity Monitor for me?

[2022-04-29 03:43] nenjamin2405 commented on #247
@SupremeTechnopriest Sometimes even I opened 14 or 15 tabs, the timer is still running, but most of the time it's frozen, so I'm not sure is it related to the limits of web workers in the browser or not. I tested this issue on my iPhone and it occurs.

[2022-04-29 03:49] SupremeTechnopriest commented on #247
Alright... I cant imagine what could be the cause of this other than a limit on web workers. The react code itself should have no issues with many tabs.  Ill get into this weekend and at least get you a root cause, if not a solution.

[2022-04-30 05:55] SupremeTechnopriest commented on #247
So I just updated to chrome v100 and man something is up with this release.  It's crushing my cpu with my usual tab load. without running any IdleTimer instances. Could you test in a different browser like Safari or Firefox? Im pretty sure this is an issue with the latest release of chrome:

<img width="965" alt="Screen Shot 2022-04-29 at 10 53 12 PM" src="https://user-images.githubusercontent.com

[2022-04-30 17:01] doron-cohen opened #249 "Build fails due to missing dev dependency"
## Bug information

### Affected Module

- `Version`: 5.0.0

### Describe the bug

Build fails with this message:
[code]

### To Reproduce

Steps to reproduce the behavior:

1. Build it in a project (with Vite?)

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### System Informati

[2022-04-30 17:03] doron-cohen commented on #249
Adding the missing lib with `yarn add -D utility-types` solved it. But it should be added to the dev dependencies.

[2022-04-30 17:38] SupremeTechnopriest commented on #249
Thanks for the report. I will resolve this today.

[2022-04-30 20:41] SupremeTechnopriest commented on #248
Hi @johnilizy17,

Version 4 is no longer supported.  Can you update to v5?  The relevant docs can be found here https://idletimer.dev/docs/getting-started/new

[2022-04-30 20:42] #248 closed

[2022-04-30 20:43] SupremeTechnopriest commented on #249
Utility types is already in the dev dependencies... Are you using it elsewhere in your app?

https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/package.json#L64

[2022-04-30 20:53] SupremeTechnopriest commented on #246
@Niks218,

Im going to work on the leader detection today.  I looked into the throttle, and it seems to be working correctly.  All the tests are passing and I made a simple code sandbox to demonstrate it.

https://codesandbox.io/s/stupefied-glade-db2hg8?file=/src/App.js

If you open the console, you will see that action is only logged once every 5 seconds.  Could you modify the sandbox to get it i

[2022-05-01 01:18] SupremeTechnopriest commented on #246
Hey @Niks218!

I just published `5.1.0` which brings back Leader Election.  There are some subtle differences from v4 that are outlined [here](https://idletimer.dev/docs/getting-started/new#leader-election).  Let me know how it goes.  Also, if you are able to recreate that throttle issue in a code sandbox for me, just re open this issue.

[2022-05-01 01:18] #246 closed

[2022-05-01 01:19] SupremeTechnopriest commented on #243
Hey @honghainguyen777!

I just published `5.1.0` which brings back Leader Election. There are some subtle differences from v4 that are outlined [here](https://idletimer.dev/docs/getting-started/new#leader-election). Let me know how it goes!

[2022-05-01 20:00] doron-cohen commented on #249
That's weird. After the error I didn't see it there (in `node_modules`). Then, I upgraded from v5 beta to the release but it didn't help so I added it. Now I do see it in there. Will close the issue, thanks for the response.

[2022-05-01 20:53] SupremeTechnopriest commented on #249
No problem!

[2022-05-02 09:34] Niks218 commented on #246
@SupremeTechnopriest Just checked new release today. Works like a charm, thank you!

Regarding throttling problem I mentioned earlier. Turns out it was RTQ query that unexpectedly causes rerendering on every call. Sorry for bothering you with this nonexistent issue.

[2022-05-02 10:14] mCzolko commented on #247
Hi, I'm having same problem as @nenjamin2405 has. Our setup is:

[code]

With 5 and more windows the chrome tabs started to crash.
We had to remove idle timer from production and it resolved the problem.

Thank you for this library @SupremeTechnopriest and @nenjamin2405 for amazing job (codesandbox and youtube) reproducing the issue but we have to get to the bottom of this.

I've tried to reproduc

[2022-05-02 11:16] nenjamin2405 commented on #247
Hi @SupremeTechnopriest @mCzolko, I tested again on Firefox, the same issue happens, so I don't think it's related to Chrome only.

I also faced another weird issue related to the inconsistency of timers across tabs, some of the tabs didn't show the timer, and you can see both of the issues in these 2 videos I list below. Sometimes I can see that when I open a lot of tabs and the timer is frozen,

[2022-05-02 17:05] SupremeTechnopriest commented on #246
No problem!

[2022-05-02 17:47] SupremeTechnopriest commented on #247
@nenjamin2405 @mCzolko,

Interesting... I will bust out the profiler and try to figure out why this happens.

[2022-05-02 18:56] mCzolko commented on #247
@SupremeTechnopriest Thanks, is there any way how to profile it correctly so I can provide you with data. I'd like to help

[2022-05-02 22:58] thaindq opened #250 "withIdleTimer error: React is not defined"
## Bug information
Unable to use `withIdleTimer` following the doc (https://idletimer.dev/docs/api/with-idle-timer). It's causing `React is not defined` error

### Affected Module
withIdleTimer

- `Version`: 5.1.0

### Describe the bug
ReferenceError: React is not defined
[code]
### To Reproduce
https://codesandbox.io/s/withidletimer-7tmfcz?file=/src/App.tsx

### Expected behavior
A `timeout` mess

[2022-05-02 23:36] SupremeTechnopriest commented on #247
@mCzolko I will get to it tonight after work, but I was going to just use the chrome dev tools.  I tend to doubt that this is related to the idle timer code itself. So I'm going to try to profile the web workers and the broadcast channel.  What would be helpful is a screenshot of your activity monitor while the error is present.

[2022-05-02 23:40] SupremeTechnopriest commented on #250
@thaindq

No problem I will fix this for you.  You are running react 16 I imagine?

[2022-05-02 23:49] thaindq commented on #250
I'm running React 17

[2022-05-02 23:51] SupremeTechnopriest commented on #250
Hmm I see.  You shouldn't have to import React for jsx anymore from v17 on.  Either way, this is an easy fix and Ill have it up shortly.  Just updating the docs now.

[2022-05-02 23:57] SupremeTechnopriest commented on #250
Version `5.1.1` published.  That should resolve it for you.  Thanks for the report!

[2022-05-02 23:57] #250 closed

[2022-05-03 00:22] thaindq commented on #250
Working great now. Thank you

[2022-05-03 01:11] SupremeTechnopriest commented on #250
You are welcome!

[2022-05-04 05:12] ChrisZieba commented on #249
Interestingly, I'm also seeing this error. Not too sure what the problem is yet.
<img width="1711" alt="Screen Shot 2022-05-03 at 22 11 55" src="https://user-images.githubusercontent.com/2230570/166626050-9b7588c1-46aa-4b2d-9cd5-483f98484211.png">

[2022-05-04 06:54] SupremeTechnopriest commented on #249
Interesting... Lets reopen this until we figure out whats going on.

[2022-05-06 07:25] mCzolko commented on #247
any luck?

[2022-05-09 03:05] SupremeTechnopriest commented on #249
What's the best way for me to reproduce this?  I added a test for `withIdleTimer` against the bundled package and everything seems to be passing.

[2022-05-09 03:07] SupremeTechnopriest commented on #247
Sorry @mCzolko I ended up getting really busy.  Im going to play around with this tonight and I will get back to you.

[2022-05-09 06:09] ChrisZieba commented on #249
I'll try to reproduce in a small project I can share.

[2022-05-09 06:35] SupremeTechnopriest commented on #249
Appreciate it!

[2022-05-10 16:56] mmichael0413 commented on #249
I'm running into this too.

My `package.json`:

[code]

And I listed `"react-idle-timer": "5.1.2"` as a `dependency`.

In my component:

[code]

And I'm calling a few of the methods throughout my code (e.g. `IdleTimer.getTotalIdleTime()`).

Getting the same error above:

[code]

Adding `utility-methods` to `devDependencies` may work locally but I can't imagine it would work in production.

[2022-05-10 17:22] SupremeTechnopriest commented on #249
In production you run the compiled code and types are no longer needed so it should be fine. I will just remove utility types and use the typescript built ins.

[2022-05-10 18:59] mmichael0413 commented on #249
Fixed it for me. Thank you so much for the quick response and fix!

[2022-05-10 20:13] SupremeTechnopriest commented on #249
No problem! Enjoy!

[2022-05-11 14:25] MTamPham opened #252 "Use cases for two idle timers on a page"
## Question

Firstly, thank you for making this great library.

Secondly, I am wondering if I could make two idle timers on a page? If so, how could I achieve this?

I've tried to add two IdleTimer components on a page where the component was created by using the withIdleTimer(). One has a different timeout from the other and there is a different popup for each timeout. If I set crossTab={false},

[2022-05-12 06:12] shashika18923 opened #253 "Cross tab feature"
## Question

Ask your question here!
Hi first of all thank you for making this perfect library. when I'm using this component I have faced to a one problem with cross tab feature and I need some support to solved out it. as an example consider if I using this component with my web site and I opened it in a web browser and I'm using Facebook in another tab in same browser when I'm doing that my web

[2022-05-12 08:06] SupremeTechnopriest commented on #253
Hello! Are you using the workerTimers feature?  That should solve it for you.

[2022-05-13 15:29] MTamPham commented on #252
I apologize for the delay in getting back to you. I would need two idle timers in my application: one is for the session and the other one is for asking to continue playing the live view. Let's say the first one is 30 minutes and the other one is 5 minutes. If the user is idle for 5 minutes, I would ask whether they want to continue the live view? And if the user is idle long enough to 30 minutes,

[2022-05-13 18:02] SupremeTechnopriest commented on #253
Here are the docs for using worker timers.  https://idletimer.dev/docs/getting-started/new#web-worker-timers

Pretty sure this is what you need.  Re open this if you are still having issues!

[2022-05-14 04:53] MTamPham commented on #252
Thanks in advance

[2022-05-15 20:24] tkpffi commented on #225
Hi @SupremeTechnopriest can you please provide a proper documentation for implementating the react idle timer with the latest version. Kindof a working project because we could see some issues. Thank you

[2022-05-15 20:27] tkpffi commented on #225
Hi @mschultz4 if you have the working code of react idle timer can you please update the code snippets.

[2022-05-15 23:00] SupremeTechnopriest commented on #225
There is extensive documentation on the docs site.  https://idletimer.dev/docs/api/use-idle-timer. Im planning on adding some code sandbox examples when I get some free time. Also checkout the https://idletimer.dev/docs/getting-started/new section to see how to use the new features.

[2022-05-15 23:31] SupremeTechnopriest commented on #252
@MTamPham,

Your feature request has been published to NPM as `5.2.0`.  You can set the name for your timer instance using the `name` prop. https://idletimer.dev/docs/api/props#name

Let me know if that works for you!

[2022-05-15 23:31] #252 closed

[2022-05-16 12:27] MTamPham commented on #252
@SupremeTechnopriest,

Thank you for the quick update. I appreciate it. I've done a few simple checks and it seems to work flawlessly. I will contact you again if I found something.

[2022-05-16 18:35] SupremeTechnopriest commented on #252
Glad to hear it!

[2022-05-23 08:58] AlonMeytalVia opened #254 "emitOnAllTabs - on by default?"
## Question

Hi! First of all, great package?
I was wondering if upgrading from 4.x to 5.x is ok for us since we used `emitOnAllTabs: true`.
The property was deprecated in 5.x, and I was wondering if it was just "set to true" by default and therefore, unnecassery as configuration?? 🤔

Thanks! 🙏

[2022-05-23 17:38] SupremeTechnopriest commented on #254
Yes emitOnAllTabs is the default behavior now. You are good to go!

[2022-05-24 11:49] mCzolko commented on #247
well...

[2022-05-25 19:34] wesleyjnewcomb opened #255 "Throttled/Debounced `onAction` functions are not cancelled on idle, even with `stopOnIdle` activated"
## Bug information

### Affected Module

- `Version`: 5.2.0

### Describe the bug

When the idle timeout is hit, any outstanding `onAction` callbacks that were throttled or debounced are not cancelled, causing them to run. In my particular use case, this is a problem because I am using `onAction` to ping the server every minute to keep the back-end session alive. After the idle timeout is hit, the

[2022-05-25 19:48] SupremeTechnopriest commented on #255
Thank you! I will get this fixed this weekend.

[2022-05-30 08:14] olefrank opened #256 "getRemainingTime() returns incorrect time value"
## Bug information

### Affected Module

- `Version`: 5.2.0

### Describe the bug

`getRemainingTime()` returns incorrect time when `promptTimeout` is used. It always returns `promptTimeout` even if prompt is visible. If "remaining time" is defined as "time until idle state is reached" `getRemainingTime()` return incorrect value.

### To Reproduce

Steps to reproduce the behavior:

1. Start the ti

[2022-05-30 21:29] d9k opened #257 "Problems with getTotalActiveTime() and reset() on v5"
## Bug information

Reopening issue #195

### Affected Module

- `Version`: `5.2.0`

### Describe the bug

Update: maybe it was my local webpack cache problem, see https://github.com/SupremeTechnopriest/react-idle-timer/issues/257#issuecomment-1146194770 for more recent issue.

I get negative (`< 0`) `getTotalActiveTime()` result after `reset()`.

_**I think that's because `lastIdle.current` value

[2022-05-30 21:29] d9k commented on #257
temporary fix in top-level code

before:

[code]

after:

[code]

[2022-06-03 16:36] d9k opened #260 "How to import DEFAULT_EVENTS in v5?!"
I want to import `DEFAULT_EVENTS` to extend them with my custom events.

But

[code]

fails.

In v4 I could use code:

[code]

Seems like I need to copy-paste const value from source for v5... :disappointed:

[2022-06-03 16:42] d9k commented on #260
Also can't use my event name anymore:

[code]

[2022-06-03 17:25] SupremeTechnopriest commented on #256
This was actually by design but I think we can implement it the way you described here without any adverse effects.  Ill be working on a new release this weekend.  Will keep you posted.

[2022-06-03 17:28] SupremeTechnopriest commented on #257
I will look into this this weekend. Thanks for the report.

[2022-06-03 17:29] SupremeTechnopriest commented on #260
I will export the default events and loosen up the types.  Will get to it this weekend.  Probably on Sunday.

[2022-06-03 17:37] d9k commented on #257
@SupremeTechnopriest, hello and thank you! Sorry for contradictory report.

[2022-06-06 00:37] SupremeTechnopriest commented on #260
Can you tell me what event was missing from the EventsType?  Trying to figure out why you got this type error.

[2022-06-06 00:48] SupremeTechnopriest commented on #257
`totalActiveTime` will never return less than 0.  There's a conditional hard coded into the function.  See here: https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/useIdleTimer.tsx#L599

You said there was a webpack problem?  Does that mean this is a non issue?  As far as reset not working, that function is getting a small refactor.  You can test it again on the next release.

[2022-06-06 03:28] SupremeTechnopriest commented on #260
`DEFAULT_EVENTS` are exported in v `5.3.0`.

[code]

Get back to me on the type error and we will get that resolved with a patch release.

[2022-06-06 03:29] SupremeTechnopriest commented on #257
Give `5.3.0` a try and get back to me.

[2022-06-06 03:30] SupremeTechnopriest commented on #256
This has been published as `5.3.0`.  Let me know if you have any issues!

[2022-06-06 03:30] #256 closed

[2022-06-06 03:30] SupremeTechnopriest commented on #255
Debounced `onAction` handlers are now automatically cancelled `onIdle`.  Try out `5.3.0`!

[2022-06-08 17:47] kmarple1 opened #263 "5.3.0 not calling onActive as expected"
## Bug information

### Affected Module

- `Version`: 5.3.0

### Describe the bug

In version 5.2.0, the following test will fire the `onActive` function passed to `useIdleTimer`:

[code]

`CustomButton` is the "Keep Me Logged In" button in the dialog opened by `onPrompt`.

However, in 5.3.0, `onActive` is no longer being triggered.

EDIT: This is possibly a result of `reset()` no longer calling `

[2022-06-08 18:13] SupremeTechnopriest commented on #263
Yeah that is the issue.  I'm going to push a patch today where you can pass a boolean to `reset` to make it call `onActive`.  I think that would be the best of both worlds.  So in your case it would be `reset(true)`.  I will let you know when it is published.

[2022-06-08 22:32] SupremeTechnopriest commented on #263
I think what I will do here is add another method `active()` that will allow you to manually activate the user.  It will behave like the old reset did.  It will reset the state and call `onActive` if the user is currently idle.  How does that sound?

[2022-06-09 02:55] dstanich commented on #247
@SupremeTechnopriest I ran into this problem today while trying out the package.  Similar behavior to what was reported above where I would get over a certain number of tabs then CPU would spike and idle timeouts became unpredictable.  I did notice that closing the last tab I opened typically fixed the problem.

When the CPU was spiking I did a profile and it seemed to be doing _many_ calls to the

[2022-06-09 03:11] SupremeTechnopriest commented on #247
@dstanich thats some damn fine debugging sir. I will push a patch tonight and see if it helps. Will keep you posted.

[2022-06-09 04:21] akash-pal opened #264 "ERR_PACKAGE_PATH_NOT_EXPORTED error while starting app"
## Question

Facing this issue while doing `npm run start` after installing `react-idle-timer`.

Node version being used is 12.22.7

`
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './package.json' is not defined by "exports" in /project/node_modules/react-idle-timer/package.json`
`

[2022-06-09 04:22] SupremeTechnopriest commented on #264
What are you using to bundle your app?

[2022-06-09 06:38] akash-pal commented on #264
@SupremeTechnopriest am using webpack v4.
It was previously working fine with node v10.
After upgrading i have started facing this issue.

[2022-06-09 12:21] drecali commented on #186
Thanks for the update @SupremeTechnopriest!
Sorry for the late reply! This got buried in my notifications. Wishing you a smooth `hacktoberfest`! I'll do my best to contribute even before the event :)

[2022-06-09 19:45] SupremeTechnopriest commented on #264
Interesting... I will try to reproduce this and get back to you.

[2022-06-10 01:34] kmarple1 commented on #263
It seems like I was misunderstanding how `onActive` was meant to be used and before 5.3.0 it just happened to work. Specifically, I thought the function was being called anytime the user did something that would reset the idle timer, but it appears that it's only supposed to be called when the user is already idle and triggers one of those events. With that in mind, I've rewritten my own code to j

[2022-06-10 01:53] SupremeTechnopriest commented on #263
Ah, what you are describing is `onAction`.  That gets called any time a watched event is emitted.  You can throttle or debounce it with the `throttle` and `debounce` props.  The `onAction` event is still emitted when the prompt is active so that might be a good solution for you.  I have a new method called `activate()` that will reset the timer and also emit `onActive` if the user is idle (similar

[2022-06-10 03:34] SupremeTechnopriest commented on #264
Could you try removing your `node_modules` folder and your `package-lock.json` and reinstalling?

`rm -rf node_modules package-lock.json && npm i`

If that doesn't work you might need to update your node to an LTS version.  Node 10 has been at end of life for a while now.  The lowest I would go is node 14, but if you can install at least node 16 that would be best.

https://nodejs.org/en/about/rel

[2022-06-10 03:50] SupremeTechnopriest commented on #263
`5.4.0` is released and has the new `activate()` method.  That method should can be used in place of reset for your prompt confirm buttons.

https://idletimer.dev/docs/getting-started/new#integrated-prompting

[2022-06-10 03:50] #263 closed

[2022-06-10 03:53] SupremeTechnopriest commented on #247
Sorry for the delay on this one and thanks again to @dstanich for your detailed debugging.  The profile definitely pointed me in the right direction.  Turns out the token was only half the problem.  The other half was an event leak that could get pretty nasty in certain edge cases.  I changed the token generation to use `Math.random` so we should not have any collisions in the future.  I added a t

[2022-06-10 03:53] #247 closed

[2022-06-10 03:56] SupremeTechnopriest commented on #247
I also added a method to get the tab id (token) just in case its needed in the future. It could also be used to identify unique tabs in your own code.  It only added a few lines and thought it would be a good addition.

https://idletimer.dev/docs/api/methods#gettabid

[2022-06-10 03:58] SupremeTechnopriest commented on #257
`5.4.0` has been released with a few new methods and bug fixes.  Im going to close this due to inactivity, but feel free to re open it if you are still having this issue on the latest version.

[2022-06-10 03:58] #257 closed

[2022-06-10 03:59] SupremeTechnopriest commented on #260
Closing this due to inactivity.  If there are events missing from the [EventsType](https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/types/EventsType.ts) that you want to use, just let me know and we will get them added.

[2022-06-10 03:59] #260 closed

[2022-06-10 04:07] akash-pal commented on #264
@SupremeTechnopriest i did try removing both node modules and package lock, still that didn't work.
For now am on node v12 with react-idle-timer 4.6.0 , which is working fine for me.
I will close this issue for now.
In future when I go to latest node lts then i would try with latest version of react-idle-timer.

[2022-06-10 04:07] #264 closed

[2022-06-10 11:56] dstanich commented on #247
Thank you for the bug fixes!!

I tried it out and no longer see the issues I saw before so I believe the fix works.  I'll keep an eye on it as we continue to add it to our application.

[2022-06-10 18:09] SupremeTechnopriest commented on #247
@nenjamin2405 & @mCzolko Just making sure you saw this.  You are good to go with `5.4.0`

[2022-06-15 10:41] susylPearl opened #265 "Page Visibility State changes should pause() and resume() timers."
I want to pause the idleTimer when i move to different window or tabs from current timer implemented tab and again when i switch back to previous tab, i want the timer to resume from last active time.

Example:
- when i am on idleTimer tab (A), the total active time was 10 seconds.
- i go to another tab (B) , here another tab means not idleTimer implemented tab, its totally different site/page, an

[2022-06-15 21:17] SupremeTechnopriest commented on #265
Hey there.  This is not something I would be able to add to the library by default.  Most people use `IdleTimer` for security purposes and would want to continue the timer if the page is backgrounded.  However, this is something that you can easily implement yourself.  You are half way there with your code snippet.  You just need to omitthe `visibilitychange` event from the events prop.  Here is a

[2022-06-15 21:17] #265 closed

[2022-06-15 21:18] SupremeTechnopriest commented on #265
Feel free to reopen this if it does not solve your use case.

[2022-06-24 03:01] hezhisheng1930 opened #267 "The execution time of the onIdle function and the time set by the timeout are wrong"
Hello, the interface has started timing, the timeout is set to 10 minutes, then the browser window is switched to another web page, and finally the browser window is reduced. During this process, the execution time of the onIdle function and the time set by the timeout There is an error, how can I solve it?

[2022-06-24 03:42] SupremeTechnopriest commented on #267
Hello!

Could you please describe the error you are experiencing?

[2022-06-25 01:40] SupremeTechnopriest commented on #267
Im not sure if you are seeing an actual error in the console, or if the behavior is unexpected.  It sounds like you might need to use worker timers to get around the browser throttling of timers.  You can see how to do that here: https://idletimer.dev/docs/getting-started/new#web-worker-timers

[2022-06-27 18:15] SupremeTechnopriest commented on #267
Going to close this due to lack of activity.  Feel free to re open if you are still having issues.

[2022-06-27 18:15] #267 closed

[2022-06-28 17:33] sumitaney opened #269 "oAuth Page issue"
I’m facing the when redirect to payments oauth page and our application gets logout if we are on third party page react-idle-timer gets logout in the back

[2022-06-29 05:53] SupremeTechnopriest commented on #269
Hey @sumitaney.  Could you elaborate on this a bit?  I don't quite follow.

[2022-06-29 06:16] sumitaney commented on #269
Hey @SupremeTechnopriest In our application we have third party payment integration, So if we redirect to that page our react idle timer starts in the background because it doesn’t detect the activity and User gets logged out. It should not happen if we are in the application until we get the success message from payment and return to our homepage.

[2022-06-29 06:18] SupremeTechnopriest commented on #269
I see.  You can use the `startManually` prop to prevent the timer from starting until you want it to.  Just call `start` when you want to kick things off.  You think that would work for you?

https://idletimer.dev/docs/api/props#startmanually
https://idletimer.dev/docs/api/methods#start

[2022-06-29 06:24] sumitaney commented on #269
Thanks let me check with this, I hope it will work!

[2022-06-29 07:41] SupremeTechnopriest commented on #269
No dice? If you want to share some code or make a code sandbox I can help you sort it out.

[2022-06-29 07:47] sumitaney commented on #269
Thanks for your resolution we are still figuring out with this solution, As of now I can close it. If we can’t make it I will reopen.

[2022-06-29 07:47] #269 closed

[2022-06-29 12:56] AlexHuman opened #271 "useIdleTimer: handler onIdle is not called on long timeout for mobile device if tab is inactive"
## Bug information

### Affected Module

useIdleTimer, workerTimers

- `Version`: 5.4.0

### Describe the bug

Handler `onIdle` is not called on long timeout (i.e 10 minutes) for mobile device if tab is inactive, even if `workerTimers` are set as timers.

### To Reproduce

Steps to reproduce the behavior:

1. Setup `timers`, `timeout` and `throttle` for `useIdleTimer`:

[code]

2. Open page and ma

[2022-06-29 18:05] SupremeTechnopriest commented on #271
Thanks for the well reported issue.  Gonna have to do some research on this one.  The only reason I could think of that this would happen is android chrome is throttling worker execution when the page is backgrounded.  To my knowledge, that's not supposed to happen.

I have to find my old android device to debug this.  In the mean time can you confirm for me that this only happens with long timers

[2022-07-01 08:05] d9k opened #272 "Problems with getTotalActiveTime() and reset() on v5.4"
## Bug information

### Affected Module

- `Version`: `5.4.0`

### Describe the bug

`timer.reset()` doesn't affect `timer.getTotalActiveTime()` result.

### To Reproduce

[code]

### Expected behavior

`T2` should be `0`. But it's `T1`.

### System Information (please complete the following information)

 - `OS`: Ubuntu 18.04
 - `Device`: Desktop
 - `Browser Vendor`: Chrome
 - `Browser Version`:

[2022-07-01 19:16] SupremeTechnopriest commented on #272
This was actually by design, but after the recent changes to `reset` I think your suggestion should be implemented.  I will get this out in the next release.

[2022-07-01 19:21] SupremeTechnopriest commented on #271
Yeah IOS on chrome is actually running webkit.  Safari does not support the actual chrome engine blink. So that makes sense.  This sounds like a bug in the chrome engine for mobile.  I think we are going to have to report it and wait for a fix from them, which is unfortunate...  Sounds like the workers stop executing when the app is backgrounded for more than 5 mins.

[2022-07-06 17:04] SupremeTechnopriest commented on #272
@d9k, This is resolved in `5.4.1`.  I added a test for this case so you should be good to go, but feel free to re open if you are still having issues.

[2022-07-06 17:04] #272 closed

[2022-07-08 13:09] AlexHuman opened #274 "Is there any way to test useIdleTimer with Jest fake timers"
## Question

Hi guys!

I'm having some issue with Jest. I use `jest.useFake();` and `jest.advanceTimersByTime(timerTime);` instructions to check my onIdle handler goes right. It used to work for old `<IdleTimer>` component. However it dosn't work if i use`useIdleTimer`.

Besides, I would not like to use [await sleep(...)](https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/tests/us

[2022-08-10 19:03] SupremeTechnopriest commented on #274
Hi @AlexHuman, I don't know why I didn't get an alert for this issue, but yes there is a way.  In a nut shell you need to `useFakeTimers()` and then `createMocks()`.  Here is an example:

[code]

[2022-08-10 19:03] #274 closed

[2022-08-15 13:34] ivansky commented on #271
Despite of the possible bug, there might be some mobile optimisations that just stops the whole page, timeouts, intervals, etc.

There is an event `visibilitychange`
https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event

It could be used to remember the exact time when user leaves a tab and check if a callback was fired otherwise it needs to invoke it on user returns bac

[2022-08-23 13:17] mavoi09 opened #276 "Cannot manually start timer on componentDidMount"
How can I manually start the timer on componentDidMount?  Nothing happens when I call this.idleTime.start() in the componentDidMount, but if i call it on componentDidUpdate the timer starts. Anyone has a clue why this is not working?

     componentDidMount() {
        this.idleTimer.start()
    }

        render() {
          return <>
              <IdleTimer
                  name="UserIdleTime

[2022-08-23 18:23] SupremeTechnopriest commented on #276
Starting on mount is the default behavior.  Is there a specific reason you want to do it this way?  Are you using v4 still? V5 has built in prompt controls. You might want to consider updating.

https://idletimer.dev/docs/api/with-idle-timer

I'm not sure what `setRef` is doing in your example above, but assuming it's storing the ref in `this.idleTimer`, this should work fine.  I am no longer supp

[2022-08-23 20:14] mavoi09 commented on #276
I'm using version 5.4.1. setRef is a setter for the reference of the timer (this.idleTimer = ref). The idea is that  I want to start(or to stop it) the timer only if the user is logged in:
componentDidMount(){
    if(this.props.userIsLoggedIn){
        this.idletTImer.start();
    }
}

None of the methods, start(), stop(), activate() are working when they called on componendtDidMount. Guess I can

[2022-08-23 20:27] SupremeTechnopriest commented on #276
Are you using the higher order component to create your `IdleTimer` component?  V5 does not expose a component by default anymore.  Can you show me the code for your HOC?

[2022-08-23 20:51] mavoi09 commented on #276
import React from 'react';
import {withIdleTimer} from 'react-idle-timer';

const IdleTimer = withIdleTimer(() => {return <div></div>})

export class IdleTimerComponent extends React.Component {

    componentDidMount() {
		console.log(this.idleTimer)
        this.idleTimer.start()
    }

    setRef = (ref) =>{this.idleTimer = ref}

    onPrompt = () => {
        console.log('promp')
    }

    on

[2022-08-23 22:56] SupremeTechnopriest commented on #276
Can you try using a class component for the hoc:

[code]

[2022-08-23 23:01] mavoi09 commented on #276
I also tried with a class component, same result(also this.props.children is undefined)

[2022-08-23 23:41] SupremeTechnopriest commented on #276
Okay seems to be a race condition going on.

https://codesandbox.io/s/tender-brook-p9oiyb?file=/src/App.js

If you wrap your start in a set timeout that will get you going for now, but I will look into the race condition.

[code]

[2022-08-30 13:22] shkopa1 opened #281 "Can idle timer still work when computer is in sleep mode?"
Hi, thank you for the great repo!
In the new version, when i put my computer to sleep (even on the demo in https://idletimer.dev/) - the timer stops.
when i return, the timer resumes from the same point it was asleep. (so the time the computer was asleep does not count)

Is there a way to make the timer keep working while in sleep mode?
something like - once the computer "awakes" - check if we hav

[2022-08-30 17:39] SupremeTechnopriest commented on #281
Hi @shkopa1,

I believe I can accommodate this.  I will put it on the roadmap for the next release.

[2022-08-30 21:39] shkopa1 commented on #281
great, thank you.
when is the next release scheduled for?
Is there any quick solution I can use now as a workaround until next release?

[2022-08-30 22:21] SupremeTechnopriest commented on #281
You could track your own timestamps using onAction. I think I could get this out fairly quickly. Maybe this weekend I can carve out some time to get a patch out.

[2022-08-31 04:01] shkopa1 commented on #281
That would be amazing, thank you!
The issue with onAction is that once i "wake" the computer it is still open on the last page it was open, and only when i make the first action it will redirect to login page, but before that - the page is still open, and i want it to be logged out.
Is there any way of detecting "wake" of computer? so i could track the timestamps even before an action?

[2022-09-02 11:56] Slessi commented on #127
The fix from `4.6.1` seems to have stopped working since `5.0.0` - `useCallback` is required again

[2022-09-02 17:00] SupremeTechnopriest commented on #127
@Slessi can you provide a code sandbox that demonstrates the regression? All the tests that were written to cover this issue are still passing in v5.

[2022-09-05 07:21] Slessi commented on #127
@SupremeTechnopriest https://codesandbox.io/s/relaxed-bash-oqfdbi?file=/src/App.js

Click on the screen, look at console, and you will see an `onAction` log every second, as my component re-renders every second, despite having `throttle` set to 1minute.

Then wrap the anonymous function on line 9 with `useCallback`, reload, and it will work again
[code]

Same result for every `^5.0.0` version. Wor

[2022-09-06 06:23] shkopa1 commented on #281
Hi,
are there any updates? :)

[2022-09-06 06:38] SupremeTechnopriest commented on #281
I did a little work on this today, from what I can tell, the existing code should handle this case unless `performance.now` epoch is being reset when the computer sleeps. I'm adding in a `Date.now` sanity check as a backup. Will push a release candidate tomorrow for you to test.

[2022-09-06 07:37] shkopa1 commented on #281
I tested it on the Demo in your site too with this scenario:
idle time set to 5 min
10:00 - start timer
10:01 - put the computer to sleep (after 1 min)
10:07 - i woke it up (after 6 minutes of sleep)
i saw the timer continues from the point it was asleep (as if only 1 min has passed) and it kept counting 4 more minutes, even though in absolute time, it was already 7 minutes after starting the time

[2022-09-07 17:50] shkopa1 commented on #281
Hi,
was it pushed ?

[2022-09-07 18:34] monicaricks opened #282 "More documentation on how to set up withIdleTimer jest test"
## Bug information

### Affected Module

- `Version`: 5.4.1

### Describe the bug

It is unclear how to set up jest test with a mocked withIdleTimer function from the documentation. I'm consistently getting this error when I try to run my tests:

Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: unde

[2022-09-07 19:17] SupremeTechnopriest commented on #281
Working on a few other things for this release. I'll have it out today.

[2022-09-07 21:02] SupremeTechnopriest commented on #282
You shouldn't have to mock the component. You can just let it run and use fakeTimers to test the timeout.

See here: https://idletimer.dev/docs/getting-started/testing

[2022-09-07 21:41] SupremeTechnopriest commented on #127
@Slessi Just patched the regression in `5.4.2`.  Let me know if there its still an issue.

[2022-09-07 21:42] SupremeTechnopriest commented on #276
@mavoi09 This is resolved in `5.4.2`. You will no longer need the `setTimeout`.

[2022-09-07 21:42] #276 closed

[2022-09-07 21:43] SupremeTechnopriest commented on #281
@shkopa1 Published as `5.4.2`!  Reopen this issue if it doesn't fix the problem.

[2022-09-07 21:45] SupremeTechnopriest commented on #282
I will be working on better testing docs in the near future, but you shouldn't have to mock the component at all.  Just use the `createMocks` method and mocking the `MessageChannel` should be enough.  Hop in the discord if you have any additional testing questions and someone will be able to help you there.

[2022-09-07 21:45] #282 closed

[2022-09-08 09:33] shkopa1 commented on #281
thank you!!
i updated the package, but it still does not count the time in sleep (also in the demo).
maybe i'm doing something wrong?

here is what i did:
i printed from onAction() the getRemainingTime - which supposed to return the remaining time until idle
then I put the comp to sleep for 15 min
and when i returned i printed again getRemainingTime - and it seems like only 3 min have passed. not

[2022-09-08 11:34] Slessi commented on #127
@SupremeTechnopriest works now!

[2022-09-08 18:49] SupremeTechnopriest commented on #281
Ah, you are using the get functions.  So the patch is just going to ensure that onIdle gets called.  In v5 I switched to performance.now for more accurate timing, but I may need to switch back to Date.now to make all the functions work with sync.  The good thing about performance.now is that changing the clock time wouldn't affect the timers.  Maybe I should allow the developer to choose which dat

[2022-09-08 19:29] shkopa1 commented on #281
i'm actually not really using the functions, i just wanted to see if the issue was fixed.
but after you comment now - i did another check, without the functions, and it still did not work:
1. I set the idle time for 10 min
2. After 1 min i put the computer to sleep
3. woke it up after 7 min
4. waited for 2 more minutes - and nothing happened ( i would expect the onIdle method to execute because 10

[2022-09-08 19:31] SupremeTechnopriest commented on #281
So the act of waking up the computer and focusing the browser is considered user activity (by default) and will reset the timer.  If you were to set timeout for 5 mins, and put the computer to sleep for 6 mins, when you come back onIdle should be called.

[2022-09-08 21:30] SupremeTechnopriest commented on #281
Yeah its going to require an event to take place in order to do the check. I will try to make it detect the wake event.  Im gong to make this work with all the methods as well in the next release.

[2022-09-13 05:37] shkopa1 commented on #281
Hi again,
i just realized that this fix (still counting the time in sleep mode) makes the timer not work across tabs, is that right?
when there is only one tab - it works (with sleep and without)
but when i have more than 1 tab - it suddenly does not reach onIdle. Even when i'm not in sleep mode.

[2022-09-13 05:45] SupremeTechnopriest commented on #281
Hmm.  It shouldn't affect cross tab as it stands.  I will have a new version out this weekend that uses dates everywhere so we should have more consistent behavior.  Can you show me how you are setting up cross tab?

[2022-09-26 16:21] bcarriereupgrade opened #283 "Calling `.start()` does not appear to work with the `startManually` option"
## Bug information

### Affected Module

- `Version`: 5.4.2

### Describe the bug

(Seems be the same or related to issue #276)

When using the `startManually` option _in a test scenario_ the idle timer does not appear to start after calling the `.start()` method. Am testing in "real life" and will add detail.

The workaround works:
[code]

### To Reproduce

Source code:

[code]
Test:

Test is in

[2022-09-27 17:11] SupremeTechnopriest commented on #283
Hey @bcarriereupgrade,

Im on vacation until next Wednesday.  I will take a look at this when I get back.  If you can make a nodejs based stackblitz (so I can run the tests) that reproduces the problem that would be a big help in debugging.

[2022-09-28 15:16] Daneng66 opened #285 "Before Unload cancel"
## Question

Could the idle timer potentially be affected by a cancelling of a browser beforeUnload notification, my implementations appears to stop working. (in Chrome)

[2022-10-02 17:00] Slessi opened #286 "Is it expected that onActive is not called if actions are fired during prompt window?"
## Question

1. User action _before_ `onPrompt` => `onActive` is not called (expected)
1. User action _after_ `onIdle` => `onActive` is called (expected)
1. User action _after_ `onPrompt` but _before_ `onIdle` => `onActive` is not called (?)

Is scenario 3 expected?
I would've thought an action after `onPrompt` would trigger the `onActive` event and prevent the `onIdle` event from being called.

I

[2022-10-02 17:10] SupremeTechnopriest commented on #286
Yes that is expected. Once the prompt is fired you are in the prompt state. If you want activity to automatically close the prompt you can hook into the `onAction` event.

[2022-10-02 17:15] Slessi commented on #286
@SupremeTechnopriest closing the prompt is easy, but it doesn't stop `onIdle` from firing.

E.g. If I want to show a warning prompt, then after prompt times out logout a user, am I expected to call `activate` in `onAction` ?

[code]

[2022-10-02 17:32] SupremeTechnopriest commented on #286
You can check for isPrompted inside onAction and call activate or reset.

[2022-10-02 20:57] #286 closed

[2022-10-12 21:50] usamamashkoor commented on #86
Did anyone find any solution for this?

[2022-10-12 21:52] SupremeTechnopriest commented on #86
Cross tab support is built in and is pretty robust.  https://idletimer.dev/docs/features/cross-tab

[2022-10-12 21:55] usamamashkoor commented on #86
Thanks for letting me know @SupremeTechnopriest :)

[2022-10-12 21:55] SupremeTechnopriest commented on #86
No problem @usamamashkoor!

[2022-10-16 06:17] drecali opened #287 "⚡ PointerEvents types not supported in EventType.ts"
## Feature Information

### Is your feature request related to a problem? Please describe.

I think [pointer event types](https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent) are not supported as an `event` prop for `useIdleTimer` or `withIdleTimer`. It would be useful to support these types of events for better compatibility with other libraries that use them to handle events.

### Desc

[2022-10-19 12:24] Gagan00001 opened #289 "Cross Tab is not working in browser multiple tabs"
I am opening a page in the second tab, loggedUser data will be shared using localStorage, here I'm actively using the page. but the first tab gets idle and when the duration exceeds the first tab will be loggedOut by clearing the localStorage, the user who uses second tab actively will be forced to logout, since there is no loggedUser data (localStorage).

[2022-10-19 16:24] brianjutrzonka opened #290 "CPU sleep and getLastActiveTime"
## Bug information
I am having an issue that relates to putting my CPU to sleep and then coming back to the idle timer. Basically, I am trying to compare dates from the current time to the getLastActiveTime time that react-idle-timer provides.  If the user is over the timeouts that I set, I want to log the user out.

However, when I put my computer to sleep for a minute or so, and then come back t

[2022-10-20 10:14] sadashivm commented on #285
Even I'm also facing a same issue. I have implemented before unload event.
Display message when user try to close a tab with the help of before unload event listerner.

After adding this event, the react idle timer always giving isLeader() true If I open another tab.
But If I disable this onBefore unload event code, then it is working as I expected. Like isLeader() method return false when open an

[2022-10-20 10:44] sadashivm opened #291 "beforeunload is not working with this plugin"
## Question

Ask your question here!
First of all want to say @SupremeTechnopriest for this grreat npm package. It is really awesome.

![image](https://user-images.githubusercontent.com/10355473/196926636-6f40fc22-6d78-4c11-9d7d-8666adeb536e.png)

isLeader() method is returning false value if I open another tab.
And If I disable above code then it is working fine.

I request you could you please b

[2022-10-20 20:33] SupremeTechnopriest commented on #290
Duplicate of #281.  A fix for this is in the works.

[2022-10-20 20:33] #290 closed

[2022-10-20 20:35] SupremeTechnopriest commented on #289
Can you provide your IdleTimer instantiation?

[2022-10-20 20:35] SupremeTechnopriest commented on #287
I will add these to the type in the next version!

[2022-10-20 20:37] SupremeTechnopriest commented on #283
I will see what I can do about the timeout requirement.  There is a race condition somewhere.

[2022-10-20 20:39] SupremeTechnopriest commented on #285
Closing this in favor of #291 which has more detail.

[2022-10-20 20:39] #285 closed

[2022-10-20 20:41] SupremeTechnopriest commented on #291
If someone can make a code sandbox that recreates this issue I can look into it.  My gut is telling me that before unload kills all the running timers, so if you cancel it you might need to start it back up again.

[2022-10-20 20:44] Daneng66 commented on #291
Issue is I am pretty sure there isn't any browser support for understanding if the user cancelled the before unload notification (I have seen some work arounds done with timers but it feels pretty hacky). Could the timers not get destroyed on the onUnload event?

[2022-10-20 20:57] SupremeTechnopriest commented on #291
I don't think this is in our control from JS.  Javascript is single threaded, so any alert will suspend everything else.  We could maybe open a feature request with tc39 and maybe we can get an event for `onbeforeunloadcancelled`.  Then I could handle the scenario within the IdleTimer library.  I think for now you are going to have to do something like:

[code]

[2022-10-20 21:09] SupremeTechnopriest commented on #291
Going to close this, feel free to re open if there is any other activity on this.

[2022-10-20 21:09] #291 closed

[2022-10-23 05:08] drecali commented on #287
Thanks @SupremeTechnopriest! Can I add them in a PR soon so it can qualify for Hacktoberfest?

[2022-10-23 05:36] SupremeTechnopriest commented on #287
@drecali Absolutely!

[2022-10-24 15:40] barsheshet opened #293 "`crossTab` option is not working on latest version"
- `Version`:  5.4.2

### Description

Passing `crossTab: true` option to `useIdleTimer` seems to have no effect.
When downgrading to version 5.0.0, everything works just fine.

### System Information

 - `OS`:  macOS Monterey 12.4
 - `Device`: Mac
 - `Browser Vendor`: chrome
 - `Browser Version`: 106.0.5249.119

[2022-10-24 16:16] brianjutrzonka commented on #290
@SupremeTechnopriest - OK great, thanks!  I will check back over the next couple of weeks to see if anything has been fixed

[2022-10-28 02:10] SupremeTechnopriest commented on #287
On it.

[2022-10-28 02:12] #287 closed

[2022-10-28 02:13] SupremeTechnopriest commented on #287
@drecali Merged!  Thanks for your contribution!

[2022-10-28 02:15] SupremeTechnopriest commented on #287
I will publish to npm along with the next release.

[2022-10-28 04:54] drecali commented on #287
Thanks so much! Once again, this library is awesome! The docs/demo website is great too! Thanks for creating and maintaining it! When the process to support OSS at our company is implemented, I will nominate this repo 🙂

[2022-10-28 06:02] d9k commented on #272
I tried to update my code. With `5.4.2` after `reset()` time doesn't go "below zero", but actually there is a delay before `getTotalActiveTime()` gets > 0 again. So strange...

[2022-10-28 06:14] d9k commented on #272
1) Can't debug compiled react-idle-timer with storybook in my project because when I try to pretty print oneliner in Chrome dev tools it's empty
2) Tried to include react-idle-timer to the code of my project to debug how it works with my code but got so many compile errors...

![Screenshot from 2022-10-28 09-10-57](https://user-images.githubusercontent.com/7331988/198516298-8f6d43ea-50ab-4887-bb68

[2022-10-28 06:21] SupremeTechnopriest commented on #287
That would be much appreciated! Glad you find it helpful!

[2022-10-28 06:42] d9k commented on #272
@SupremeTechnopriest, how can I rebuild react-idle-timer 5.4.2 (index.esm.js) locally without minification?

[2022-10-30 21:52] OmarBurney opened #294 "⚡Identify last active tab when using `crossTab`"
## Feature Information

### Is your feature request related to a problem? Please describe.

I need a method to determine which tab was the most recently active to invoke an api request on the lifecycle callback methods.

### Describe the solution you'd like.

Access to check if a tab was the last active tab similar to `isLeader` from the idleTimer

[code]

### Describe alternatives you've consider

[2022-10-31 08:13] d9k commented on #260
@SupremeTechnopriest

[code]

works on 5.4.0, thanks!

[2022-10-31 15:47] d9k opened #296 "Add subtractIdleTimeoutOnIdle flag"
# 1) With new flag

## Initialization

[code]

## Test algo

1. active 5000ms
2. idle 2000ms

## Expected result

[code]

# 2) Without new flag

## Initialization

[code]

## Test algo

1. active 5000ms
2. idle 2000ms

## Expected result

[code]

[2022-11-03 16:31] jpauls3d commented on #293
In 5.3.0 it works, looks like the issue was introduced in 5.4.0.

[2022-11-03 19:09] SupremeTechnopriest commented on #293
I'll need a reproduction for this.  All the tests are passing and there are a lot of people using cross tab with the latest version without issue.

[2022-11-09 08:57] YasarArafathAli opened #297 "Manual Trigger of events bypassing Timeout."
## Feature Information

### Is your feature request related to a problem? Please describe.
I was working on a use case where the user FocusOuts from an editor, i want the idletimer to trigger onIdle event.

### Describe the solution you'd like.

add a method to trigger events provided in the init of idle timer

[2022-11-09 19:00] SupremeTechnopriest commented on #297
Have you checked out the `[immediateEvents](https://idletimer.dev/docs/api/props#immediateevents)` option?  That might work for you.

Otherwise, what is stopping you from just calling your `onIdle` function? Something like:

[code]

[2022-11-22 22:29] tamirble opened #301 "Reset function is not re-starting getTotalActiveTime"
## Bug information

### Affected Module

- `Version`: 5.4.2

### Describe the bug

Calling the reset function sometimes leave the getTotalActiveTime value on 0 without any movement

### To Reproduce

Steps to reproduce the behavior:
I've prepared the following sandbox for it:
https://codesandbox.io/s/idle-timer-forked-3rggu9

1. Waiting the idle timeout (3 seconds on my example) and clicking on Re

[2022-11-24 07:12] sadashivm commented on #291
Hello @SupremeTechnopriest , after adding the above code. **`isLeader()`**  always return true value, if I open multiple tabs.
I expected isLeader() returns false in other tabs.

[2022-11-29 18:38] CalebJamesStevens opened #303 "onPrompt just doesn't work"
## Bug information

onIdle is being called before onPrompt, and onPrompt is not being called at all.

### Affected Module

- `Version`: 5.4.2

### Describe the bug

As you can see below even with `promptTimeout` set to 2 seconds and `timeout` set to 50 seconds, `onPrompt` is still never called and after 50 seconds `onIdle` is called

[code]

### Expected behavior

`onPrompt` called before `onIdle`

[2022-11-29 19:16] CalebJamesStevens commented on #303
Closing because i just had to run `yarn` again :P

[2022-11-29 19:16] #303 closed