[2016-01-18 21:43] musbaig opened #3 "Seeing the following error when trying to build and run latest (1.2.8) with browserify"
[code]

[2016-01-18 21:52] SupremeTechnopriest commented on #3
@musbaig can you try to `npm i redbox-react --save-dev` it may have been accidentally removed from `package.json` while merging a PR...

[2016-01-18 21:55] musbaig commented on #3
Sure, just tried it, now seeing similar cannot find module errors for 'react-transform-catch-errors', 'react-transform-hmr' and 'lodash.bindall'

[2016-01-18 21:56] SupremeTechnopriest commented on #3
@musbaig one moment and ill have a new version pushed for you.

[2016-01-18 21:56] musbaig commented on #3
@SupremeTechnopriest awesome, thanks!

[2016-01-18 22:01] SupremeTechnopriest commented on #3
@musbaig please try `react-idle-timer@1.2.9` (latest build).  It should resolve the issue.

[2016-01-18 22:08] musbaig commented on #3
Yup, that fixed it, perfect, thank you so much for the lightning quick fix!!

[2016-01-18 22:13] #3 closed

[2016-01-18 22:14] SupremeTechnopriest commented on #3
My pleasure!

[2016-03-08 23:08] benmonro opened #5 "console warning"
when I navigate away from a page w/ an idle timer on it, i get the following error:

``` Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.```

[2016-03-14 22:19] fkrauthan commented on #5
I've seen a similar issue already. Looks like it only happens with a very long timeout. As soon as I reduce the timeout to a couple of seconds everything is fine.

[2016-03-14 22:25] SupremeTechnopriest commented on #5
Thanks for reporting.  I believe I know how to resolve this issue.  I will take a look soon.

[2016-03-15 14:54] benmonro commented on #5
:+1:

[2016-03-15 16:51] SupremeTechnopriest commented on #5
I think this was happening because I wasn't clearing the interval on `componentWillUnmount` version `1.2.10` should resolve that.  Published to npm if you want to confirm.  If you still see this issue please reopen.

[2016-03-15 16:51] #5 closed

[2016-03-15 20:28] fkrauthan opened #6 "Empty IdleTimer tag not working"
If you don't provide any body for IdleTimer it throws an error.

I've looked at the code and I think the problem is that you return a empty string if no children are provided:

[code]

You probably should return null in that case. Or an empty div/span element.

My current workaround is to use it like this: `<IdleTimer ...><div></div></IdleTimer>`

[2016-03-15 20:34] SupremeTechnopriest commented on #6
So there is a bit of debate about usage of this component.  It was originally intended to be a wrapper around your top most component.

[code]
but it seems people like to instantiate it with no children...

[code]
I will return null so the component can be used either way.  Thanks for the catch.  Will have a new version up shortly.

[2016-03-15 20:37] fkrauthan commented on #6
There are probably use cases for both. I use it as a session monitor that is not always included for example. So I don't wanna use it with children. Its just bad that from 1.2.9 to 1.2.10 the behaviour changed.

[2016-03-15 20:45] SupremeTechnopriest commented on #6
v`1.2.11` has been published.  Please enjoy :smile:

[2016-03-15 20:46] #6 closed

[2016-03-15 20:54] SupremeTechnopriest commented on #6
@fkrauthan yea sorry about the breaking change, I added a test for that use case so integrations will be smooth.

[2016-03-15 20:56] fkrauthan commented on #6
@SupremeTechnopriest no problem. Thanks for the cool library. It was exactly what I needed for a big project and it works like a charm. Great work! :+1:

[2016-03-23 21:33] benmonro opened #7 "support serverside"
I'm using webpack for bundling.  I only use this library in my client but in order to use it in webpack I have to use some code like this:

`if (canUseDOM && enabled) {
            let Timer = require("react-idle-timer").default;`

the reason for this is that if I try to use an import I'll get a build time error:

[code]

it would be nice if I didn't have to do this and could instead do a normal e

[2016-03-23 21:40] SupremeTechnopriest commented on #7
Gonna look into this for you right now.

[2016-03-23 21:51] benmonro commented on #7
:+1: thanks! :)

[2016-03-23 21:57] SupremeTechnopriest commented on #7
Are you webpacking your server code?  You probably shouldn't be.  You should just uglify your server code and maybe obfuscate it if you are concerned about source size. Usually when I structure an application, I have a project for the API ( express, server side logic, etc ) and a separate project from the client ( React, Webpack, Babel ).  I wrote a project generator for the client side called [re

[2016-03-23 22:04] benmonro commented on #7
well we have isomorphic code.  we're not wepbacking the server specific stuff, but some of the code is shared.  I believe the problem is that I am exporting a component which uses the IdleTimer at the root level so that the consuming application can just use it like this:
[code]

[2016-03-23 22:09] SupremeTechnopriest commented on #7
Ah I see.  What happens if you change `node_modules/react-idle-timer/package.json```.main` to `src/index.js`

[2016-03-23 22:19] benmonro commented on #7
that would fail becuase there's no src/index in there.

[2016-03-23 22:22] SupremeTechnopriest commented on #7
ah yes, it just installs the build.  How about this.  Can you install `jsdom` and set it up with webpack?  That should solve your issue.

[2016-03-23 22:22] SupremeTechnopriest commented on #7
this might be useful [gitter](https://gitter.im/webpack/webpack/archives/2014/09/01)

[2016-03-23 22:27] benmonro commented on #7
I found another work around which was to exclude that from my index and just reference directly.  I'd rather not install jsdom for something like this.  I'll have a look at your source and maybe do a PR...

[2016-03-23 23:12] SupremeTechnopriest commented on #7
I think I might have something for you.   You can try to install from the isomorphic branch.

`"react-idle-timer": "git+https://git@github.com/supremetechnoprirest/react-idle-timer.git#isomorphic"`

I exposed the es6 source code as the default and added `IdleTimer.browser` for the webpack build.  Let me know if it works out.

[2016-03-24 04:09] benmonro opened #8 "timer doesn't seem to start unless an initial action is taken on the page"
I've noticed that my timer will not start unless I click or move my mouse over the page.  I'd like the idle timer to start right away regardless of whether or not there's human interaction.

[2016-03-24 04:25] SupremeTechnopriest commented on #8
Sure thats an easy one.  Ill make it a bool prop defaulting to `true`.

[2016-03-24 14:07] benmonro commented on #8
👍🏻

[2016-03-24 17:33] SupremeTechnopriest commented on #7
@benmonro So this is working for you serverside? If it is I will address #8 and publish a new version today.

[2016-03-24 20:56] benmonro commented on #7
let me try, sorry got distracted

[2016-03-24 20:59] benmonro commented on #7
[code]

[2016-03-30 18:36] benmonro commented on #8
@SupremeTechnopriest has this been published?

[2016-03-30 18:36] SupremeTechnopriest commented on #8
ah sorry not yet.  Got really busy at day job.  Ill do it for you now.

[2016-03-30 18:47] SupremeTechnopriest commented on #8
`1.2.12` published

[2016-03-30 18:47] #8 closed

[2016-03-30 18:48] SupremeTechnopriest commented on #8
@benmonro you should be good to just upgrade the module.  The default behavior is what you are after.

[2016-03-30 18:50] SupremeTechnopriest commented on #8
just now realized should have named the prop `startOnMount` instead of `startOnLoad`  I will probably change this in the next release, but it wont affect you.  You can just ignore that prop all together.

[2016-07-23 07:27] ericraio opened #9 "react native support?"
Does this library work for react native? If so, can I update the docs?

[2016-07-23 12:21] SupremeTechnopriest commented on #9
In theory it should work with react-native with minimal adjustments. I can add support over the weekend.

[2016-08-01 16:41] benmonro opened #10 "upgrade to react 15."
Please :)

[2016-08-01 17:05] SupremeTechnopriest commented on #10
Hey @benmonro Hope you are well. I've just started a new company and Ill be a bit busy this week, but I can likely get to it before Friday.  Feel free to submit a PR if you want to take a stab yourself.

[2016-08-11 21:05] SupremeTechnopriest commented on #10
Pushed as version 1.3.0

[2016-08-11 21:05] #10 closed

[2016-08-26 15:51] maxdeviant opened #12 "Remove React as direct dependency"
We are using react-idle-timer in our project, and I just realized that including it as a dependency *massively* increases the bundle size. This is due to React being included as a direct dependency of the library.

We should include all of the React libraries as `"peerDependencies"` in `package.json`. This is how [Material UI](https://github.com/callemall/material-ui/blob/master/package.json#L40-L

[2016-08-26 15:52] SupremeTechnopriest commented on #12
Hmm thats odd.  I was pretty sure I set it as a peer dependency.  Ill make that quick change and publish a new build.

[2016-08-26 15:53] maxdeviant commented on #12
After some further investigation, I noticed that we were still using an older version of react-idle-timer, which used an older version of React as a dependency. Updating to the latest version of react-idle-timer brought the two versions of React into sync, and now the library is sized appropriately:

![image](https://cloud.githubusercontent.com/assets/1486634/18011522/8c3ea3ec-6b83-11e6-973b-d0064

[2016-08-26 18:18] SupremeTechnopriest commented on #12
this should be resolved in `1.3.1` I also added `standard-version` for nice change logs.

[2016-08-26 18:18] #12 closed

[2016-08-26 18:21] SupremeTechnopriest commented on #12
sorry `1.3.2` made the peer dependencies only care about the major version number. eg React 15.x.x

[2016-08-26 18:22] maxdeviant commented on #12
Thanks for the quick resolution :smile:

[2016-08-26 18:32] SupremeTechnopriest commented on #9
So I looked into this, and as it turns out, the activity I would need to record for mobile is different then desktop.  It would end up being its own module.

Thinking about the use cases I can't really come up with a scenario where you would want to use this on a mobile app. When a user backgrounds the application you can assume they are idle.

If enough people :+1: this issue ill make a port for

[2016-08-26 18:33] SupremeTechnopriest commented on #12
Always!

[2016-09-06 21:25] abelovic commented on #5
I get this error as well (current version 1.3.2). Has anyone found a fix for this? It looks like the event listeners are not getting removed on unmounting :/

[2016-09-06 21:26] abelovic commented on #5
I get this error as well (current version 1.3.2). Has anyone found a fix for this? It looks like the event listeners are not getting removed on unmounting :/

[2016-09-06 21:30] SupremeTechnopriest commented on #5
https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.js lines 58-63 show the un-mounting. pretty sure this issue is resolved.  Can you provide a stack trace?  Also what version of React are you using?

[2016-09-06 21:30] SupremeTechnopriest commented on #5
https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.js lines 58-63 show the un-mounting. pretty sure this issue is resolved.  Can you provide a stack trace?  Also what version of React are you using?

[2016-09-06 21:30] SupremeTechnopriest commented on #5
https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.js lines 58-63 show the un-mounting. pretty sure this issue is resolved.  Can you provide a stack trace?  Also what version of React are you using?

[2016-09-06 21:30] SupremeTechnopriest commented on #5
https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.js lines 58-63 show the un-mounting. pretty sure this issue is resolved.  Can you provide a stack trace?  Also what version of React are you using?

[2016-09-06 21:30] SupremeTechnopriest commented on #5
https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.js lines 58-63 show the un-mounting. pretty sure this issue is resolved.  Can you provide a stack trace?  Also what version of React are you using?

[2016-09-06 21:31] SupremeTechnopriest commented on #5
sorry about that spam.  looks like github is broken.

[2016-09-06 22:52] abelovic commented on #5
React 15.2.0

ReactUpdateQueue.js:49 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the IdleTimer component.

printWarning (warning.js:42)
warning (warning.js:60)
getInternalInstanceReadyForUpdate (ReactUpdateQueue.js:49)
enqueueSetState (ReactUpdateQueue.js:201)

[2016-09-06 22:55] abelovic commented on #5
No worries :) Thanks for your quick response!

      From: Randy Lebeau <notifications@github.com>
 To: SupremeTechnopriest/react-idle-timer <react-idle-timer@noreply.github.com>
Cc: abelovic <ad_bel@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Tuesday, September 6, 2016 4:31 PM
 Subject: Re: [SupremeTechnopriest/react-idle-timer] console warning (#5)

sorry about that spam. looks like

[2016-11-15 22:15] n-amabile commented on #7
Any updates on this? I got the same problem here, did someone find a work around?
@SupremeTechnopriest

[2016-11-15 22:17] benmonro commented on #7
@n-amabile just the canUseDOM workaround... really no way to do it server side.

[2016-11-15 22:57] cchamberlain commented on #7
Does https://github.com/SupremeTechnopriest/react-idle-timer/pull/15 not solve the SSR issues?

[2016-11-15 23:31] cchamberlain commented on #7
@benmonro - exactly, it will still render the children that are passed through but will not attempt to access the DOM's document object in componentWillMount which is where the SSR errors would come from. You shouldn't get the `document` is not defined.

[2017-05-01 23:43] Flickster42490 opened #18 "how to access the pause method?"
Hi,
I'm trying to pause on `componentWillMount` by following the example in src_examples folder. I'm getting an `Cannot read property 'pause' of undefined` error from `this.refs.IdleTimer.pause`. How do I access the method properly?

[2017-05-01 23:44] #18 closed

[2017-05-18 05:16] m0hitk opened #19 "Using PropTypes from React shows warning, use prop-types instead"

[2017-05-18 16:06] SupremeTechnopriest commented on #19
Sounds like i need to update things for the latest react.  Ill try to get to it this week, or feel free to send a PR!

[2017-06-12 09:06] danielditgens commented on #19
I did! Please merge it.

[2017-06-12 14:45] SupremeTechnopriest commented on #19
Sorry for the delay.  I've been very busy lately.  Im checking the PR and merging in now.

[2017-06-12 15:21] SupremeTechnopriest commented on #19
All set. Pushed to npm as `1.4.0`

[2017-06-12 15:21] #19 closed

[2017-06-27 23:58] poorpaddy opened #22 "No basic examples"
Was looking for examples in the examples directory per the readme.md. Would be nice to see a couple of basic examples showing fire action after XX ms, resetting etc.

[2017-06-28 15:26] SupremeTechnopriest commented on #22
Hey @poorpaddy.  The example can be found here https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src_examples/App.js

If you run the examples, you will get a page where you can what you described here.  Just run `npm start` from this project.

[2017-06-28 15:28] SupremeTechnopriest commented on #22
Looking at the examples again, I need to update them for the latest react.  You don't use refs like you used to, but you should be able to get an idea of how to use idle-timer.

[2017-07-14 20:36] GenZai commented on #22
Yes it seems there is a problem with refs.
I get this.refs.idleTimer is undefined

[2017-07-14 20:42] poorpaddy commented on #22
Yes, being new to react I wasn't really able to figure it out. Now that I've had a couple weeks of experience I get it. The doc should be updated though and maybe a simple helloworld level of example.

[2017-07-14 20:42] #22 closed

[2017-07-23 00:44] gidich commented on #7
@benmonro   I've created a pull request #23 which addresses this issue.

@SupremeTechnopriest Thanks again for this great component, I find I'm using it more and more!

[2017-07-23 16:27] SupremeTechnopriest commented on #7
Glad you are finding it useful @gidich!  Thanks to @benmonro for maintaining the project 🙏  I'm going to let him review your PR.  I don't have an isomorphic environment set up to test with at the moment.

I've actually been spending my time a lot deeper in the front end.  We just released our client side web acceleration and peer to peer cdn: edge**mesh**.  Our customers are seeing page load times

[2017-07-24 22:21] benmonro commented on #7
I approved the PR but unfortunately i don't have the time nor the privileges to do the merge @SupremeTechnopriest . :)

[2017-07-24 23:05] SupremeTechnopriest commented on #7
Okay if you are willing we can get that set up.  Ill take it from here.

[2017-07-24 23:13] SupremeTechnopriest commented on #7
Version `1.5.0` released to npm!  Thanks for your contribution!

[2017-07-24 23:13] #7 closed

[2017-07-24 23:14] #9 closed

[2017-07-25 17:19] gidich commented on #7
@SupremeTechnopriest @benmonro Thank you both! I'm glad I could contribute something back.

Thanks for the info on edgemesh, it's really interesting!

[2017-08-08 22:18] benmonro opened #24 "support for react 16 :)"

[2017-08-08 22:48] SupremeTechnopriest commented on #24
Shouldn't be too hard.  We can start a PR.

[2017-09-14 11:30] krizpoon opened #25 "activeAction triggered unexpectedly"
I moved the `tId` from state variable to instance variable and it works well now.

[2017-09-14 13:04] krizpoon commented on #25
Just like the React quick start guide [here](https://facebook.github.io/react/docs/state-and-lifecycle.html#adding-lifecycle-methods-to-a-class), I think that the setTimeout ID should be an instance variable.

[2017-09-14 13:37] krizpoon commented on #25
Steps to reproduce this issue:
- calling reset() after activeAction is invoked but before the state of IdleTimer is updated

[2017-09-14 13:43] SupremeTechnopriest commented on #25
Good catch @krizpoon.  Do you have a PR?  Otherwise ill make the change and push a new version today.

[2017-09-14 13:58] krizpoon commented on #25
Sorry, I just copied the source code to my project to try things. So it'd be better to do it on your side :)

[2017-09-14 14:03] SupremeTechnopriest commented on #25
@krizpoon no problem, ill get to it shortly

[2017-09-14 14:48] SupremeTechnopriest commented on #25
@krizpoon this issue is resolved and published to npm as `1.5.1`

[2017-09-14 14:48] #25 closed

[2017-09-14 15:05] krizpoon commented on #25
Awesome 🎉

[2017-09-20 09:52] sidoruk-sv opened #26 "v1.5.1 is broken"
Screenshot with problem (note logs timings in millisecond): http://take.ms/RPTyz
Sandboxed: https://codesandbox.io/s/z2xm14nzm

[2017-09-20 14:49] SupremeTechnopriest commented on #26
Ill take a look at this issue today.  Thanks for the report.

[2017-09-28 05:15] FugenApps opened #27 "Continuously runs"
Idk maybe i'm doing it wrong, but as far as i can tell when i implement this, and someone goes idle for X amount of time, it works, and than that function is called over 80x, and completely breaks my program

[2017-09-28 15:27] SupremeTechnopriest commented on #27
Thanks for the heads up.  I found the issue and ill be pushing a fix shortly.

[2017-09-28 16:00] SupremeTechnopriest commented on #26
@sidoruk-sv Sorry about that.  Version `1.5.2` is latest on npm.  Please reopen if you still experience this issue.

[2017-09-28 16:00] #26 closed

[2017-09-28 16:01] SupremeTechnopriest commented on #27
@FugenApps Sorry about that.  I did made some changes under the covers and forgot to propagate them across a few functions.  Version `1.5.2` is latest on npm and that should solve all your issues.

[2017-09-28 16:01] #27 closed

[2017-10-05 05:10] ChiWuSage opened #28 "Last Active Time"
It seems like the last active time is off.

<img width="552" alt="screen shot 2017-10-04 at 10 09 54 pm" src="https://user-images.githubusercontent.com/8961607/31211784-ccb98aca-a950-11e7-9dcd-c3e73233b407.png">

[2017-10-07 14:45] SupremeTechnopriest commented on #28
Hi @ChiWuSage can you give me a bit more info?  What version are you running and what options are you instantiating with?  Thanks!

[2017-10-09 21:48] ChiWuSage commented on #28
Hi @SupremeTechnopriest
I'm running on version 1.5.2 and I'm basically using your simple code to test it out first. The idle timer is set for every 25 sec
When I call the following function right after going from idle to active, it should get the current time or close to the current time instead I'm getting the above in the image.

`this.idleTimer.getLastActiveTime();`

Thanks!

[2017-10-17 18:49] ValeryG commented on #24
yes, we really need this, please,  any updates @SupremeTechnopriest ?

[2017-10-17 19:12] SupremeTechnopriest commented on #24
@ValeryG Sorry for the delay.  Been busy with my day job... I will go through and prep a new release tonight.

[2017-10-17 19:27] benmonro commented on #24
@SupremeTechnopriest I did a PR to update it, works on my machine if you want to approve the PR and publish.  :)

[2017-10-17 19:41] ValeryG commented on #24
@benmonro  - tested  your changes. Works just fine.

[2017-10-17 20:19] benmonro commented on #24
cool, glad that works @ValeryG

[2017-10-17 20:21] SupremeTechnopriest commented on #24
Nice! thanks @benmonro. Rolling out now.

[2017-10-17 20:39] SupremeTechnopriest commented on #24
@ValeryG published as `react-idle-timer@1.6.0`

[2017-10-17 20:39] #24 closed

[2017-10-17 20:55] SupremeTechnopriest commented on #28
I took a look at this and it looks like you are passing a format to the constructor?  Your problem could be in the format string.  By default it should return you a timestamp `+new Date()`.  Could you update to the latest version `1.6.0` and run your test again with no formatting option?

[2017-10-25 18:47] jimmyspiffy commented on #28
I've upgraded to 1.6.0 and I'm still seeing incorrect lastActiveTimes. :\ It's off by some 30 seconds or so.

[2017-10-25 19:49] SupremeTechnopriest commented on #28
Okay, before I dig in I would like to verify that its not a formatting error.  Could you instantiate `IdleTimer` with no `format` option?  It should then return a timestamp on `getLastActiveTime()` then you can log it out and paste the results here.  Something like:

`console.log('last active: ', this.idleTimer.getLastActiveTime(), 'actual: ', +new Date(), 'diff: ', this.idleTimer.getLastActiveTim

[2017-10-27 21:44] silesky commented on #7
We are using apollo / SSR. When I attempt to wrap a component I get the red screen of death.
`Server side rendering failed
_this2.props.element.addEventListener is not a function`

any hints?

[2017-10-31 03:42] ChiWuSage commented on #28
So this is what I get from the log. Looks like it's off by 60sec

`last active:  1509421157931 actual:  1509421218316 diff:  -60386`

[2017-12-06 01:12] SupremeTechnopriest commented on #7
Hey sorry for the late response.  Im working on an overhaul of this module.  Its long overdue.  This issue will be resolved in the next release.

[2018-01-24 07:52] VikkeeSingh opened #32 "It is not cross browser."
I am trying to log out from all tabs of the same browser at a time when user is idle for all the tabs in present browser

[2018-03-16 09:25] SupremeTechnopriest commented on #32
That is outside the scope of this project, but you could implement something using it.  I suggest hooking into the events that `IdleTimer` fires and using a shared worker and post message to then delegate the events to all tabs.

[2018-03-16 09:25] #32 closed

[2018-04-18 14:18] tgandrews opened #36 "Date formatting"
Currently this imports date-fns library even if it is never used. As the formatter can be provided could this removed so that it doesnt add to bundles when never used. I appreciate this is a breaking change but the workaround is very small and makes the dependency more explicit.

[2018-04-18 19:10] SupremeTechnopriest commented on #36
I could make it so you supply your own format function, or just get the date back raw.  Thats not a bad idea.

[2018-04-19 08:14] tgandrews commented on #36
Do you want me to open a PR?
On Wed, 18 Apr 2018 at 20:10, Randy Lebeau <notifications@github.com> wrote:

[2018-04-19 08:16] SupremeTechnopriest commented on #36
If you don't mind. I'm exceptionally busy the next few weeks. Appreciate
it!

On Thu, Apr 19, 2018, 4:14 AM Tom Andrews <notifications@github.com> wrote:

[2018-04-19 17:20] #36 closed, assigned to nobody

[2018-04-25 12:15] leyaannie opened #38 "Error occured while running"
I can't run this project..While running error occurs

E:\Projects\react-idle-timer-master>npm run start

'NODE_ENV' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! react-idle-timer@3.0.0 start: `NODE_ENV=development node examples/serve
r`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the react-idle-timer@

[2018-04-25 16:50] SupremeTechnopriest commented on #38
Looks like a typeo in the start command.  Let me verify.

[2018-04-25 16:53] SupremeTechnopriest commented on #38
https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/package.json#L14

No that looks good... I see in your output theres a random space here:
`start: NODE_ENV=development node examples/serve r`

... but I dont think thats the issue.  What OS are you on?  Windows? Its complaining about the env variable `NODE_ENV`.

[2018-04-26 04:36] leyaannie commented on #38
ya windows 10 is my os.. Anything else have to be done to run this project
in my os??

On Wed, Apr 25, 2018 at 10:23 PM, Randy Lebeau <notifications@github.com>
wrote:

[2018-04-26 04:39] SupremeTechnopriest commented on #38
I think I have to do a few things to make it work on windows. There's a PR
submitted. I'll take a look at it tomorrow.

On Apr 26, 2018 12:36 AM, "leyaannie" <notifications@github.com> wrote:

ya windows 10 is my os.. Anything else have to be done to run this project
in my os??

On Wed, Apr 25, 2018 at 10:23 PM, Randy Lebeau <notifications@github.com>
wrote:

https://github.com/SupremeTechnopriest

[2018-04-26 11:41] leyaannie commented on #38
Ok thank you...

On Thu, Apr 26, 2018 at 10:09 AM, Randy Lebeau <notifications@github.com>
wrote:

[2018-05-14 07:25] srMarquinho opened #39 "Using string literals in ref attributes is deprecated"
Following the react-idle-timer docs, the instruction is to use `ref="idleTimer"`.

`ref="idleTimer"` brings me the following warning: `"Using string literals in ref attributes is deprecated (react/no-string-refs)"`

And leading me to https://reactjs.org/docs/refs-and-the-dom.html

If you worked with React before, you might be familiar with an older API where the ref attribute is a string, like "te

[2018-05-18 10:04] haifeng239 opened #40 "can delete this issue"

[2018-05-19 13:44] xiaonai239 commented on #40
Thanks for the response. The project is still private for now. I'll send you a link in about a month when I open it up

[2018-06-14 18:22] scottc-netflix opened #42 "Add listeners with { passive: true } option"
See here:

https://alligator.io/js/speed-up-scroll-events/

[2018-06-25 14:59] maxvfischer commented on #39
Interested in this as well!

[2018-06-25 16:58] #40 closed

[2018-06-25 17:00] SupremeTechnopriest commented on #39
Ah yeah react is ever changing. I will give this repository some attention today.

[2018-06-26 01:28] SupremeTechnopriest commented on #39
Hey @srMarquinho and @maxvfischer!  I've just pushed the initial commit for the next version of IdleTimer.  I still have a few things to do before I can release it, but the examples in that repository will show you how to do refs with react 16.  Have a peek here:

https://github.com/SupremeTechnopriest/react-idle-timer/blob/next/example/src/App.js#L8
https://github.com/SupremeTechnopriest/react-id

[2018-07-03 03:29] SupremeTechnopriest commented on #39
Hello again!  I just pushed out version 4.  Take a look at the new readme, there were a few breaking changes, but it should only take a few minutes to migrate. Going to close this issue for now, feel free to open another if anything pops up.

[2018-07-03 03:29] #39 closed

[2018-07-03 03:30] SupremeTechnopriest commented on #38
Hey @leyaannie, I just released version 4.  ENV vars are no longer required to run the examples. You shouldn't have any more issues on windows.  Please reopen this issue if you still have trouble!

[2018-07-03 03:30] #38 closed

[2018-07-03 03:32] SupremeTechnopriest commented on #28
Hi @ChiWuSage!  I just released version 4. It's a big rewrite and your issue should be solved, although I admit I was not able to root cause it.  The code is just much cleaner, more predictable and well tested now. There are a few breaking changes so make sure you checkout the README.  Reopen if you see anything else that looks off.

[2018-07-03 03:32] #28 closed

[2018-07-03 03:34] SupremeTechnopriest commented on #42
Hey @scottc-netflix,

Thanks for the tip!  I just released version 4 which adds two new props; `passive` and `capture`.  They both default to true so you only need to set if you want it turned off for some reason.  There are a few breaking changes in v4 so checkout the README before upgrading.

[2018-07-03 03:34] #42 closed

[2018-07-03 06:50] shauntrennery opened #44 "Module not found: Can't resolve 'react-idle-timer'"
Package.json for version 4.0.3 has main set to 'build/index.js'. The build directory is not present in the npm package.

Importing IdleTimer from 'react-idle-timer/dist/index.min.js' is a work around for now.

[2018-07-03 06:57] SupremeTechnopriest commented on #44
@shauntrennery thanks for that!  So much changed I missed the small stuff... `4.0.4` will do it for you.  Thanks again!

[2018-07-03 06:57] #44 closed

[2018-07-04 08:43] fraserhaer opened #45 "Start in idle"
Hi I may have missed it, but I was wondering if you can start the timer in its idle state.

The use case is that at the start of the day we switch on the devices, open the app and a call to action is present for any clients who walk in before the idle state (set to 5 minutes) has activated.

Thanks
Fraser

[2018-07-04 14:44] SupremeTechnopriest commented on #45
Hwy @fraserhaer. You can set `startOnMount` to false and it will wait for user input to start.  You can also start it manually by calling `idleTimer.restart()`.  Lmk if this does it for you.  If not we might need to add the feature you're looking for.

[2018-07-05 00:15] fraserhaer commented on #45
Hi @SupremeTechnopriest thanks for the quick reply.

I don't think the built in functionality covers it, but I might not understand.

Essentially, I want to start the device with the screensaver (and 'click here' call-to-action) already running. I have code to hide the screensaver in `onActive` and show it in `onIdle`.

Setting `startOnMount` to `false` would suit me fine if that first user input

[2018-07-05 01:20] SupremeTechnopriest commented on #45
Okay let me have a think on it today and we will implement something
tomorrow. I'm afk because it's a holiday in America. I do understand what
you want to do. Just need to think about the best way to implement and
potential side effects.

On Wed, Jul 4, 2018, 5:15 PM Fraser Haer <notifications@github.com> wrote:

[2018-07-05 01:22] fraserhaer commented on #45
Oh it is too! Happy 4th of July mate :)

I appreciate you looking into it.

[2018-07-05 17:20] SupremeTechnopriest commented on #45
Thanks @fraserhaer!  So I just pushed up version `4.0.5` which takes care of this for you.  It was definitely a bug so nice catch there and thanks for running it through the ringer for me.

IdleTimer was starting in the wrong state when `startOnMount` was set to `false`.  I added a new [test](https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/__tests__/index-test.js#L65-L73) t

[2018-07-05 17:20] #45 closed

[2018-07-05 17:40] SupremeTechnopriest commented on #45
Forgot the condition. The latest `4.0.6` is good to go. Should have had my morning tea before getting into this 🍵

[2018-07-06 05:41] fraserhaer commented on #45
Cheers mate, works great :)

[2018-07-09 02:31] closfx opened #48 "setInterval() triggers animations"
I have animations that are set to appear, based on a specific time in a video. My animations appear at the proper time, but they pulse on/off in sync with the setInterval() property (example below):

setInterval(() => {
    this.setState({
      remaining: this.idleTimer.getRemainingTime(),
      lastActive: this.idleTimer.getLastActiveTime(),
      elapsed: this.idleTimer.getElapsedTime()
    })

[2018-07-09 02:49] SupremeTechnopriest commented on #48
Hey bud. I'm afk right now but off the top of my head are you using state
to power you animations?

On Jul 8, 2018 7:31 PM, "closfx" <notifications@github.com> wrote:

I have animations that are set to appear, based on a specific time in a
video. My animations appear at the proper time, but they pulse on/off in
sync with the setInterval() property (example below):

setInterval(() => {
this.setStat

[2018-07-09 02:51] closfx commented on #48
Not directly, but I am triggering the animation based on the state (currentTime) of my video.

[2018-07-09 02:53] SupremeTechnopriest commented on #48
Are you passing children to IdleTimer?

On Sun, Jul 8, 2018, 7:51 PM closfx <notifications@github.com> wrote:

[2018-07-09 03:00] closfx commented on #48
Yes, I wrapped all page elements with <IdleTimer></IdleTimer>

[2018-07-09 03:03] SupremeTechnopriest commented on #48
Can you try taking your content out of idle timer and just use a self
closing tag? It will work the same but your components won't be affected by
IdleTimer state.

<IdleTimer />

Otherwise you need to do something inside shouldComponentUpdate to make
your component ignore updates from IdleTimer.

On Sun, Jul 8, 2018, 8:00 PM closfx <notifications@github.com> wrote:

[2018-07-09 03:06] closfx commented on #48
Thanks for the advice. I will give it a try and let you know how it goes.

[2018-07-10 01:01] SupremeTechnopriest commented on #48
Hey @closfx. How did this work out for you?

[2018-07-11 10:06] LukaszGrela opened #49 "Jest/Enzyme testing hangs when testing component containing IdleTimer with use of the shallow"
I can't make my test of the component to work when it contains IdleTimer, the test just hangs without any messages. I'm using CRA + Jest + Enzyme. To replicate:

- Create CRA project
- Add dependencies:

[code]
- Update App.js to include IdleTimer
[code]
- Update App.test.js
[code]

[2018-07-24 21:30] SupremeTechnopriest commented on #48
Closing this issue due to lack of activity. Assuming it is resolved.  Please reopen if the issue persists.

[2018-07-24 21:30] #48 closed

[2018-07-24 21:38] SupremeTechnopriest commented on #49
@LukaszGrela Hey sorry for the delay, in the middle of a cross country move.  Rendering your component shallow would prevent IdleTimer from being rendered in your test.  I will do a little more research when I can sit down without interruption.

[2018-08-13 12:44] mikesobol commented on #42
https://github.com/SupremeTechnopriest/react-idle-timer/blob/9a25457899d2b36aea54000f6ae62bc9c74e24c7/src/index.js#L186-L189

You're not passing the `passive` and `capture` options to `addEventListener`, because there is a closing parenthesis before them.

[2018-08-14 20:27] SupremeTechnopriest commented on #42
Nice catch @scottc-netflix.  I reformatted that function so it reads easier. It's pushed up as `4.0.8`

[2018-08-23 17:37] SupremeTechnopriest commented on #49
Hey @LukaszGrela. All settled in and back to work.  I did some research for you and it turns out that you can not use `shallow` to match snapshot as it returns a `ShallowWrapper`.  You can read more about it [here](https://jestjs.io/docs/en/snapshot-testing.html).

I did some tests that don't use `toMatchSnapshot()` and they pass. Hope this helps.

[2018-08-23 17:37] #49 closed

[2018-08-27 16:12] kamranayub opened #52 "Can't seem test with React 16, Jest, Ezyme 3.3"
I've made a reproduction here; the IdleTimer works in the app but does not work when mounted during a test:

https://codesandbox.io/s/6vzxx83r0z

I get the error:

[code]

I'm specifically using the same `enzyme` and `enzyme-adapter-react-16` versions listed in the package.json.

[2018-08-27 16:40] SupremeTechnopriest commented on #52
Hi @kamranayub,  this error caused by IdleTImer.  It's because you are not exporting your app component and the test suite cant find it.  Ive updated your example [here](https://codesandbox.io/s/92yp34qpxp).

[2018-08-27 16:43] SupremeTechnopriest commented on #52
Also, I would probably use IdleTime as a standalone component and not as a wrapper component.  `<IdleTImer />` vs `<IdleTimer>{{some content}}</IdleTimer>`.  This way your app state is separate from idle time state.

[2018-08-27 17:37] kamranayub commented on #52
Oops, sorry, bad repro. I still get the issue locally with everything
exported but let me try and reproduce that.

On Mon, Aug 27, 2018, 11:43 Randy Lebeau <notifications@github.com> wrote:

[2018-08-27 19:15] kamranayub commented on #52
Ah hah! I figured it out. It was due to how react-idle-timer is exported as a module and how I described it in TypeScript.

This declaration file works as expected:

[code]

I may try to contribute a `@types` package for this.

[2018-08-27 20:42] kamranayub commented on #52
OK, this was actually a little more involved.

I was having the issue I originally posted above in my CRA TS project when running Jest tests. I had no problems using the component in my application at runtime, though.

My `tsconfig.test.json` file has a different module format than the main application, due to some issues with react-scripts-ts:

[code]

For whatever reason, this module type causes

[2018-08-27 20:50] SupremeTechnopriest commented on #52
Sounds like it's the way default exports are handled by typescript?  I'm not too familiar with ts.  I like it in concept but haven't really done anything with it. I see that react has the same style of import `import * as React from "react";` where usually you can just `import React from 'react'`?

Glad you got something working... but not sure theres anything I can do on my end to help you clean

[2018-08-27 21:14] kamranayub commented on #52
I saw that. I'd need to do more digging but I wonder if it depends on
what's consuming the entry point, at runtime it's webpack and at test time
it's ts-jest and I wonder if that CJS vs. ES entry point could be causing
issues with my configuration. I'd need to reproduce locally on my PC with a
vanilla CRA TS app to pin it down.

On Mon, Aug 27, 2018, 15:50 Randy Lebeau <notifications@github.com> w

[2018-08-31 15:07] MQuy commented on #52
I had the same problem. It seems that typescript cannot pick `module` in `package.json` but webpack can.
This is the link: https://github.com/Microsoft/TypeScript/issues/21423
I wonder that can we disable `module` in our `package.json` temporarity? @SupremeTechnopriest

[2018-09-08 19:56] HenrikGr opened #53 "Question: What happens if the computer goes to sleep?"
Hi, just wanted to say I like this component and thinking about to use it but I wonder what will happens when a computer goes to sleep. Does the timeout function continue running or will it stop?

[2018-09-08 20:10] SupremeTechnopriest commented on #53
Hey @HenrikGr,

Under the covers `IdleTimer` uses a `setTimeout` so it is susceptible to [background tab throttling](https://developers.google.com/web/updates/2017/03/background_tabs) and [sleep/wake pausing](https://stackoverflow.com/questions/6346849/what-happens-to-settimeout-when-the-computer-goes-to-sleep). TLDR; If your computer goes to sleep, `IdleTimer` will be paused and it will resume wh

[2018-09-08 20:10] #53 closed

[2018-09-19 21:12] BenevidesLecontes opened #54 "Can't make it work"
Hi, thank you for your great work, I'm trying to use this library in my App, but it seems that `onActive` and `onIdle` are triggered only one time. Tried use your example, but no success, the same thing happens. The odd thing is, if I do `new Date().getTime()` and pass to the component as `timeout`, all the mentioned callbacks are triggered, but if i do `1000 * 60 * 40` and pass the result as `tim

[2018-09-19 21:15] SupremeTechnopriest commented on #54
Can you post some code for me to look at or link me to a repo?

On Wed, Sep 19, 2018, 2:12 PM Benevides <notifications@github.com> wrote:

[2018-09-19 22:17] SupremeTechnopriest commented on #54
So rendering your children through IdleTimer requires careful thought. You can end up with inadvertent state spam if you dont utilize `shouldUpdateComponent` properly.  Im thinking about removing support for it.  Can you try to change your render block to:

[code]

I also noticed you're using state to populate the timeout property.  If your state changes (user wants to change their idle time inter

[2018-09-19 22:30] BenevidesLecontes commented on #54
@SupremeTechnopriest I did the changes, but i got the same results.

[2018-09-19 22:34] SupremeTechnopriest commented on #54
What does `expireTime` log out to?

[2018-09-19 22:41] SupremeTechnopriest commented on #54
I see what you are trying to do here, and this isn't really what IdleTimer is designed for.  You want to log out your user when their token expires.  You should really implement this as a middleware to your fetch calls that are authenticated.  For example:

You fetch an authenticated route with your token.  Token is bad you send a 401.  On client side you catch the 401 and log out your user.

Idle

[2018-09-19 22:43] BenevidesLecontes commented on #54
@SupremeTechnopriest  my token expire in 15 minutes. So what I'm trying to do is basically what you said about IdleTimer design.

[2018-09-19 22:44] SupremeTechnopriest commented on #54
I see.  Would you mind capturing a log so we can just rule that out?

[2018-09-19 22:47] SupremeTechnopriest commented on #54
Yeah, sure.  Anything to go on.  I cant imagine the events not working unless the configuration is off.

[2018-09-19 23:11] BenevidesLecontes commented on #54
@SupremeTechnopriest here's the gif
![2018-09-19 20 05 19](https://user-images.githubusercontent.com/1839361/45786708-1d4c3180-bc48-11e8-8d31-6116e3abfbd4.gif)

[2018-09-19 23:14] SupremeTechnopriest commented on #54
Ok thanks for that.  Input looks ok. So after this you waited the full 15 mins idle (no user input) and the function wasn't called?

[2018-09-19 23:15] SupremeTechnopriest commented on #54
Remember that every time you get user input it resets your timer.  Maybe you want to set the events prop to `[]` so you arent listening on any events.  Then the timer will fire in 15 minutes no matter what.

[2018-09-19 23:27] SupremeTechnopriest commented on #54
Currently you're telling idle timer that its okay to receive no user input for 15 minutes before the user is considered idle.  Thats not what you want.

[2018-09-19 23:51] BenevidesLecontes commented on #54
@SupremeTechnopriest thank you, for your time, I ended up doing what you said and is working.

[2018-09-19 23:51] #54 closed

[2018-09-19 23:56] SupremeTechnopriest commented on #54
Sure no problem.  Good luck on your project. Thanks for using IdleTimer :)

[2018-09-21 08:43] gangwar1 opened #55 "onIdle event not working in firefox browser"
Hi,
 I am using react-idle-timer package in my react application to detect the application idle. It works fine in chrome browser but not in mozila firfox v61.0.2 .
Any one can help me for the same.
Thanks.

[2018-09-21 08:44] SupremeTechnopriest commented on #55
Ill add firefox to the test suites tomorrow.  Off the top of my head I cant think of anything that would require special treatment for firefox, but I'll get in there tomorrow.

[2018-09-21 19:30] SupremeTechnopriest commented on #55
Hi @gangwar1 can you show me some code or some console output to support your claim?  I can't reproduce firefox errors.  It might be something in your application.

[2018-10-02 21:00] SupremeTechnopriest commented on #55
Closing due to inactivity. Please reopen if you can provide more information.

[2018-10-02 21:00] #55 closed

[2018-10-04 10:26] wzard opened #56 "How to track user time?"
Hi thanks for the wonderfully tested package.

I would like to track user time and pause when he is idle.

[code]

I expect that the Timer would stop, but and activate again when the user is active again. But this doesn't happen. The timer continues.

1. Is this normal behaviour?
2. How do you use this to track user time?

Thanks again for this package.

[2018-10-04 18:57] SupremeTechnopriest commented on #56
Hello @wzard!  Thanks for using IdleTimer.  So I'm pretty sure this is caused because you are manually pausing the IdleTimer.  `this.idleTimer.pause()`.  If you call that it will pause the timer until `resume()` or `reset()` are called.  When the `onIdle` handler gets called, it temporarily  stops the IdleTimer until it receives user action again.

For your case here, simply removing the call to `

[2018-10-04 19:10] wzard commented on #56
[code]

Hi @SupremeTechnopriest . I removed the pause() method. It still doesn't work. For the above code, I expect that the value will be more or less to be logged out. The idleTimer is not stopped.

I have checked in Firefox and Chrome. Both show same.

For Reproducible repo, you can check the example script you have uploaded, it also shows the same thing. Even on idle, the timer doesn't stop.

[2018-10-04 19:42] SupremeTechnopriest commented on #56
You might actually be right here.  I'll push a fix for this today.

[2018-10-05 09:16] wzard commented on #56
I had actually tried that earlier. I was calculating total idle time and then subtracting the Total Elapsed time - Total Idle Time.

I think I will try another way now.
Thanks

[2018-10-15 19:29] tthamel opened #57 "Testing components using Idle Timer"
running into issues with Idle Timer causing snapshots to break as it shows as null

[2018-10-19 14:21] wzard commented on #56
Hey Man,

I couldn't make it work. Can you add a simple function that does this? Would be a massive help.

[2018-10-19 19:05] wzard commented on #56
My latest code is the following:

[code]

This gives result alright, but not sure if it is the correct one.

[2018-10-19 19:30] SupremeTechnopriest commented on #56
So just so I'm clear, you want a counter that keeps track of how long you are idle?

[2018-10-20 07:57] wzard commented on #56
@SupremeTechnopriest  Well, the idea is to get the total active time. Right now I am calculating the idle time and then subtracting it from Elapsed Time.

Basically, I would like to have a getActiveTime timer similar to the getElapsedTime which basically stops when the user is idle.

[2018-11-01 16:08] Missshu opened #58 "Having intermittent issue with react-idle-timer"
Hi Guys, thanks for developing this package for react. I have used it for session timeout and after we deployed the application for testing, it is not working as expected , sometimes. The timeout time is 10 mins and if the user is idle for more than 10 mins and when he comes back, he will get an alert popup that says your session is expired and on clicking ok, the application will kick out the use

[2018-11-01 20:00] SupremeTechnopriest commented on #57
Think this is a duplicate of #49. Please let me know if it solves your problem.

[2018-11-01 20:00] #57 closed

[2018-11-01 20:05] SupremeTechnopriest commented on #58
Hi @Missshu!  Thanks for using `IdleTimer`!  Can you try to move your children outside of the `IdleTimer` instantiation?  Your render should look like this:

[code]

See if that fixes your issue and If not let me know.  We will take a deeper look.

[2018-11-05 20:30] veeramarni opened #59 "when wrapping iframe component showing idle most of the time"
When I wrap around an iframe editor component, when it goes to ide state it won't comes back to active state even when I have something typed in the editor. It only comes to active state when the mousemoved off and into the browser tab. Does this component suppose to track the key press as well right?

[code]

[2018-11-05 20:48] SupremeTechnopriest commented on #59
In the case of the iFrame, you are going to want to have the IdleTimer component rendered inside the iFrame.  iFrames are almost like separate browser windows.  They have their own set of events.  The way you have it set up here, `IdleTimer` is running on your container app, not your framed app (remote editor url).

[2018-11-05 20:49] #59 closed

[2018-11-12 13:50] paigeflourin opened #60 "Does this have Typescript definitions?"
I want to implement this in my project. can this be used with typescript?

[2018-11-12 20:45] SupremeTechnopriest commented on #58
Closing this due to lack of activity.  Let me know if you are still having issues!

[2018-11-12 20:45] #58 closed

[2018-11-12 20:52] SupremeTechnopriest commented on #60
Hi @paigeflourin, IdleTImer has been implemented with typescript before but the definitions were never committed. Here is a declaration file by @kamranayub:

[code]

You can see this [closed issue](https://github.com/SupremeTechnopriest/react-idle-timer/issues/52).  Feel free to open a Pull Request.  I'll get it pushed up quick.

[2018-11-12 20:52] #60 closed

[2018-11-13 02:21] paigeflourin commented on #52
Hi @kamranayub ,

would happen to explain to me how to implement this? sorry i am new to this but i am creating an SPFX app and i need to check a user's idle time. i have forked your codesandbox and tried to implement the example in the readme but i can't make it work.

https://codesandbox.io/s/n0y232k4p0

[2018-11-13 17:09] Missshu commented on #58
Hi @SupremeTechnopriest ,
I did not reply because I was waiting for the testers to verify if the issue is resolved or not. I can't replicate it on my local machine so I could not be able to verify it.

I will create another issue if we still continue to have the problem.

Thank you.

[2018-11-15 06:33] kkashou opened #61 "pause() issue?"
Hello,

I am wondering if I put the `this.idleTimer.pause()` inside the onIdle function shouldn't that stop the idle timer, regardless if the user moves the mouse or scroll?

I did noticed that this.idleTimer.pause() = undefined when I console.log that value.

Right now if the user moves the idleTimer gets activated and I don't want no timer to continue if onIdle function is activated.

Thanks!

`

[2018-11-15 19:58] SupremeTechnopriest commented on #61
Hey @kkashou.  Might be a race condition here.  Maybe I can add a prop for you instead.  So you want the idle timer to only fire idle once and then stay idle until you call `reset()`?

[2018-11-15 23:10] kkashou commented on #61
@SupremeTechnopriest yeah that would be great if you can add that! Since I need the idle timer to stop running when that function open up a modal with information that the user has to do an action. When do you think you can add that?

Thanks

[2018-11-15 23:11] SupremeTechnopriest commented on #61
Im going to do it either tomorrow or this weekend.  Should have a new package on NPM by Monday.  I'd do it now, but I'm a bit swamped at the moment.

[2018-11-15 23:13] kkashou commented on #61
@SupremeTechnopriest that would be amazing thank you very much!

[2018-11-18 00:44] SupremeTechnopriest commented on #61
@kkashou All set! `4.1.0` is on npm.  The prop you want is called `stopOnIdle`.  Pass that puppy true and you should be g2g!

[2018-11-18 00:44] #61 closed

[2018-11-18 23:48] kkashou commented on #61
@SupremeTechnopriest hey there thank you for the quick response! I added the props

`<IdleTimer
                    ref={ref => {
                        this.idleTimer = ref;
                    }}
                    onIdle={this.onIdle}
                    stopOnIdle={true}
                    timeout={5000}
                />`

But the idle popup doesn't show up anymore when i put that props.

[2018-11-19 01:49] SupremeTechnopriest commented on #61
Hmmm might have missed something in my test cases.  You're saying it doesn't call the initial `onIdle`?  Ill take a look tonight.

[2018-11-19 02:56] SupremeTechnopriest commented on #61
@kkashou see how `4.1.1` works out for you

[2018-11-19 07:10] kkashou commented on #61
@SupremeTechnopriest - Hmm still didn't do it. :/

The idle timer doesn't pause when onIdle function gets called. It is still running regardless of the props set to true. I'm I missing something?

[2018-11-19 17:45] SupremeTechnopriest commented on #61
@kkashou If you have a look at these two tests https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/__tests__/index-test.js#L102-L135 it should be doing what you want.  The user goes idle and the timer should not start again when the user becomes active.  It shouldn't call `onActive` on user input either.  If you are checking against the idle state inside `IdleTimer` that might

[2018-11-19 22:54] kkashou commented on #61
@kkashou  - [![Edit yqz8m224o9](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/yqz8m224o9)

Here is the code for what I have.  Let me know what you think? I just want to be able to stop the idleTimer when i have a modal box showing. Depending on the action (ok or cancel), cancel will redirect the user and ok will reset the idleTimer to check for inactivity.

Let

[2018-11-19 23:02] SupremeTechnopriest commented on #61
Can you check out this fork?  https://codesandbox.io/s/6vv4jr02o3

[2018-11-19 23:04] SupremeTechnopriest commented on #61
Ah never-mind.  I see the issue.  If you dont give additional inputs after clicking ok it works as expected.  However if you give it input again it doesn't time out.  I will add this case to the tests and fix it.

[2018-11-20 04:19] kkashou commented on #61
Is there any other command I would need to add? Or everything I have now in my code is good to go?

[2018-11-20 18:45] SupremeTechnopriest commented on #61
@kkashou Looks ok on your end.  The one thing I would change is not using `IdleTimer` as a wrapper component.  Weird things can happen to the children state.  I made the change in my fork of your code.  The real fix will be incoming shortly.  Look out for `4.1.2`, Ill test it in your code to make sure it works.

[2018-11-20 18:53] SupremeTechnopriest commented on #61
@kkashou Looking good!  Check it out https://codesandbox.io/s/6vv4jr02o3

[2018-11-20 18:59] kkashou commented on #61
@SupremeTechnopriest I checked out the link you sent me and still doesn't work. The time still works when you move around once the modal is open and the idle timer gets activated.

[2018-11-20 19:03] SupremeTechnopriest commented on #61
@kkashou Are you talking about your timer? The one that counts down from 30?

[2018-11-20 19:22] SupremeTechnopriest commented on #61
@kkashou I think i see another bug.  This turned out being quite tricky :)  Pushing `4.1.3` and testing again.

[2018-11-20 19:52] kkashou commented on #61
@SupremeTechnopriest - This seems to work! Thank you very much~!!!!

[2018-11-20 20:01] SupremeTechnopriest commented on #61
Awesome, I made a few changes in your code. Nothing major!

[2018-11-30 18:40] aronsonben opened #63 "typo in 'props' section of readme"
Hey man. Not sure if this is the right place to contact you regarding this, but there is a typo in the 'props' section of the readme. Instead of having 'onAction' and 'onActive' you have both bullet points saying 'onActive'. Just wanted to let you know, love using this library.

[2018-12-06 23:08] SupremeTechnopriest commented on #63
Hey @aronsonben thanks for catching this! It's fixed on the master branch now... Undecided if I want to push a patch to update it on NPM.... I really wish you could just update the readme independently.  Anyway, thanks for using IdleTimer!

[2018-12-06 23:08] #63 closed

[2019-01-17 21:05] moos opened #64 "Doc error - debounce/throttle is for onAction, not onActive"
Set `debounce` for a couple of seconds, then move the mouse -- note "user did something" outputs every 2 seconds.

Let it become idle then move the mouse -- notice that "user is active" shows immediately.

[2019-01-17 21:14] SupremeTechnopriest commented on #64
@moos Thanks for catching this.  I fixed it in 007fab5.  The NPM readme wont be updated until we do another publish.

[2019-01-17 21:14] #64 closed

[2019-01-18 12:55] afilp opened #65 "Disabling the component with `timeout={0}`"
Feature request:

If we use `timeout={0}`, the `IdleTimer` component to not create any timers at all, and just be a pass-through component for its child component (i.e. the `app`).

Why?

I use `location.search` to get `params`. One of them is the `timeout` param. When we want to debug our app, we do not want the `IdleTimer` to reload the page (this is what it now does, after 120 seconds). So we w

[2019-01-18 17:53] SupremeTechnopriest commented on #65
Hi @afilp!  If the timeout is set to `0` it logically means timeout immediately. If you wanted to remove the timer, catch the 0 in your code and dont render the timer.  You shouldn't be using it as a parent component anyway.  That is deprecated, it has some adverse side effects if you are not super careful with your state updates.

Something like this:

[code]

[2019-01-18 17:53] #65 closed

[2019-01-18 17:59] SupremeTechnopriest commented on #65
Edited, you probably need to `parseInt` the param as it comes in as a string.

[2019-01-20 16:31] afilp commented on #65
Thanks! I misunderstood the `child` part, it makes sense to use it as such.

[2019-01-22 18:54] moos opened #66 "Events are fired in idle state"
Line https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.js#L321, should it instead be
[code]
since idle state corresponds to `remaining = 0` ?

[2019-01-22 18:59] moos opened #67 "Feature: ability to pause events also"
After reaching idle state, I'd like the component to be a no-op.  Currently, events are still bound (potential perf issue), and handlers still called (unless stopOnIdle=true).   Calling `this.idleTimer.componentWillUnmount()` does the trick - but it's not semantically correct.

Would prefer a `this.idleTimer.destroy()` (or similar) or have 'stopOnIdle' include events binding also.  Thoughts?

[2019-01-22 19:02] SupremeTechnopriest commented on #67
Hey, this is a great idea and probably a common use case. I will get this
implemented ASAP.

On Tue, Jan 22, 2019, 10:59 AM Moos <notifications@github.com wrote:

[2019-01-22 19:10] SupremeTechnopriest commented on #66
So we do need to be catching events when the timer is idle.  Otherwise you wont be able to go back to active state.  I think the comment there is wrong.  It should be `TImer is already active` I'll get that fixed.   Maybe you want to try out `stopOnIdle`.

[2019-01-22 19:16] SupremeTechnopriest commented on #66
Reopening this.  Found a few things that can be improved here.

[2019-01-22 23:56] SupremeTechnopriest commented on #67
@moos Hey buddy, thanks for your input here.  Good stuff.  I implemented dynamic event binding and it is published as version 4.2.0.  The functionality that you requested should happen automagically for you, but if you want to manually bind or unbind the events, you can call the private methods directly `this.idleTimerRef._bindEvents()` and `this.idleTimerRef._unbindEvents()`.

[2019-01-22 23:56] #67 closed

[2019-01-24 11:28] tarjei opened #68 "Be able to report events"
Hi, I would like to report events from child components.

Specifically I want to be able to report back video watching as active time. Is it possible to get an API for that - f.x. as a method on the ref?

[2019-01-24 12:09] tarjei commented on #68
Closing this issue as I found another method.

[2019-01-24 12:09] #68 closed

[2019-01-25 18:42] SupremeTechnopriest commented on #60
I added the typescript file to the repository and I will keep it maintained.  See version `4.2.1`

[2019-01-28 20:35] moos commented on #67
Works great - thanks.

[2019-01-28 20:49] moos opened #71 ""Can't perform a React state update on an unmounted component""
My `onIdle` handler does a setState that triggers a re-render of my component which doesn't have IdleTimer.  The sequence is:

[code]
resulting in:

I could use a setImmediate() in my onIdle -- that might fix the issue.  It may be safer in general to call your setState before calling the callbacks?

[2019-01-28 21:23] SupremeTechnopriest commented on #71
Could you post your instantiation and your onIdle code?  Feel free to obfuscate what ever, I just need to see what you are trying to accomplish.

[2019-01-28 21:57] moos commented on #71
Correct:

[code]
Hope that helps.

[2019-01-28 22:01] SupremeTechnopriest commented on #71
Published the fix as `4.2.2`.  Should be there on NPM.  If it doesn't fix the issue please reopen this, though I'm pretty sure we are good to go.  I added a test for your use case.

[2019-01-28 22:01] #71 closed

[2019-01-28 22:03] moos commented on #71
Seems to have fixed it -- thanks.

[2019-01-28 22:06] SupremeTechnopriest commented on #71
Awesome, I just updated your test case and it's all passing.  Nice catch.

[2019-01-30 14:30] vishnutsivan opened #72 "Getting Typescript while import"
Getting following typescript while importing IdleTimer

TS1192: Module '"react-idle-timer"' has no default export.

![image](https://user-images.githubusercontent.com/18438320/51988967-04903a00-24cc-11e9-97b8-bec135e77591.png)

[2019-01-30 14:33] vishnutsivan commented on #72
I think this can solved by updating definition to
`/// <reference types="react"/>

declare module "react-idle-timer" {
  import * as React from "react";

  class IdleTimer extends React.Component<IdleTimerProps> {
    /**
     * Restore initial state and restart timer
     */
    reset(): void;

    /**
     * Store remaining time and stop timer
     */
    pause(): void;

    /**
     * Resumes a

[2019-01-30 14:38] vishnutsivan commented on #72
I think this change can solve the issue #73

[2019-01-30 19:17] SupremeTechnopriest commented on #72
Thanks for your pull request @vishnutsivan.  It's merged in and published as version `4.2.3`.  If there are any further typescript issues please feel free to reopen this issue or create another one.  I have not throughly tested (or even really used) typescript.

[2019-01-30 19:17] #72 closed

[2019-03-20 20:46] grantbowering opened #74 "`throttle` doesn't work if bound to props!"
Given this markup,
[code]
the result is
[code]
every time the user moves the mouse or anything else.
(in versions 4.1.3 and 4.2.3)

I haven't cloned the code, just skimmed it quickly in-browser on github, so forgive me if this makes no sense, but I think this is because `throttledAction` is set to a throttled `props.onAction` if `props.throttle > 0` during the constructor, but is never updated if

[2019-03-20 21:04] SupremeTechnopriest commented on #74
Hey @grantbowering.  I believe you are correct.  I will add a test for this case tonight and get it fixed for you.

[2019-03-26 17:59] Tolgeros opened #75 "TS interface is incorrect for onIdle, onActive, onAction"
From the interface, index.d.ts:
[code]

Each of these prop functions are missing the Event argument, e.

[2019-03-26 18:23] SupremeTechnopriest commented on #75
Ah, correct you are.  Easy fix.  Ill push a new version today.

[2019-03-26 22:21] SupremeTechnopriest commented on #74
Hey @grantbowering, I implemented this slightly differently using lifecycle methods.  I also added some tests and everything passes.  Try out `4.2.4` from npm and let me know if there are any more issues!

[2019-03-26 22:21] #74 closed

[2019-03-26 22:23] SupremeTechnopriest commented on #75
Hey @Tolgeros, published a fix for this as version `4.2.4`.  Let me know if there are any more issues!

[2019-03-26 22:23] #75 closed

[2019-03-27 00:14] richrout opened #76 "TS props interface for ref - why is it mandatory?"
Is there a reason `ref` is mandatory on the typescript props interface? I don't really need in my use-case.

[2019-03-27 00:18] SupremeTechnopriest commented on #76
Hey probably because I'm not very familiar with typescript and I took the typedef from a contributor.  The ref isn't required. I will make the change and push a new version.

[2019-03-27 00:18] richrout commented on #76
Heh yeah I was just about to comment - you can just remove it and it's all good :)

[2019-03-27 00:19] richrout commented on #76
To clarify - you can just remove it completely. It's part of the react `Component` interface

[2019-03-27 00:19] SupremeTechnopriest commented on #76
Ah thanks for that.  Coming right up.

[2019-03-27 00:23] SupremeTechnopriest commented on #76
`4.2.5` published to npm.  Should do the trick for you.

[2019-03-27 00:23] #76 closed

[2019-04-02 15:24] jaybe78 opened #77 "Warning: setState(...): Can only update a mounting component."
I'm using this library in an isomorphic application with react 16 and I get a warning
react-dom-server.browser.development.js:104 Warning: setState(...): Can only update a mounting component. This usually means you called setState() outside componentWillMount() on the server. This is a no-op.

I've noticed the warning occurs when I move my mouse

the problem occures in handleEvents()

[code]

caus

[2019-04-04 08:23] SupremeTechnopriest commented on #77
Yes.  I read about this recently.  I'll look into a fix tomorrow.

[2019-05-07 19:44] a2441918 opened #78 "setState to Timeout value doesnt re-render the component"
Hi, I set an initial value to one minute for the timeout and I get the final timeout value from an API and I use a componentDidUpdate and update the state to 10 mins. The callback gets triggered in a minute. Is there any way to override this?

`this.state = {
    timeout: 60000
}

componentDidUpdate(prevProps) {
if(prevProps.idleTimerValue !== this.props.idleTimerValue) {
this.setState({timeout: t

[2019-05-07 19:50] SupremeTechnopriest commented on #78
Could you paste your component here in a code block so i can get a better idea of what is going on?

[2019-06-07 03:44] #78 closed

[2019-06-14 04:35] rowrowrowrow opened #79 "Debounce doesn't work for large values"
I'm not sure why but I can't get debounce to work for larger values contained in a variable and am not sure how to properly debug. Values: debounce = 200, timeout = 100.

              <IdleTimer
                ref={ref => {
                  this.idleTimer = ref;
                }}
                element={document}
                onIdle={this.onIdle}
                onAction={this.onAction}

[2019-06-14 05:16] #79 closed

[2019-06-20 11:02] surendragalwa111 opened #80 "Uncaught TypeError: Cannot read property 'getRemainingTime' of null at eval"
Code is:-
[code]
After every second when it updates the state, it throw the underlying warning:-
**Uncaught TypeError: Cannot read property 'getRemainingTime' of null at eval**

### Issue2:-
onAction is getting called multiple times for a single event.

[2019-06-20 18:54] SupremeTechnopriest commented on #80
Can I ask why you are setting this interval? Idle timer has its own timer and keeps its internal variables up to date. The can't reaz property error is likely due to a scope problem but I wouldn't be able to tell without seeing the whole file. I can be certain that this is not a big with IdleTimer, but R at her with your implementation.

[2019-06-21 06:15] surendragalwa111 commented on #80
Ah, this make sense. Idle timer updates timer internally. :)

[2019-06-21 06:15] #80 closed

[2019-06-24 15:44] jont1212 opened #81 "reset() not updating getRemainingTime()"
My goal for this program is to have a 15 second timeout period with a warning when there are 10 seconds left. At 10 seconds, an alert pops up asking the user if they would like to continue working. If the users clicks OK, the logout timer should be reset back to its original value using this.idleTimer.reset(). However, when the user clicks OK, the getRemainingTime() value does not reset although t

[2019-06-24 17:59] SupremeTechnopriest commented on #81
Thanks for the report.  I will look into this asap.

[2019-06-27 22:15] SupremeTechnopriest commented on #81
Sorry for the delay on this.  Work has been crazy.  Added a test case for this scenario.  If you pull the latest `4.2.6` from npm you should be g2g.

[2019-06-27 22:16] SupremeTechnopriest commented on #77
Sorry for the delay on this.  Work has been crazy lately.  Version `4.2.6` is on npm and this is addressed.  Thanks again for the report.

[2019-06-27 22:16] #77 closed

[2019-07-02 13:50] jont1212 commented on #81
After pulling 4.2.6, the same code as before does not work. In the background, the timer seems to work, but getRemainingTime() always displays the original `timeout` number. So in the code from before, it logs to the console every 1 second that there are 15 seconds remaining. This happens a total of 15 times in a row before it sees that the user is has not made an action during the timeout period,

[2019-07-02 19:48] SupremeTechnopriest commented on #81
Intereseting.  I will write a more robust test for this case and get to the bottom of it.  Reopening.

[2019-07-04 14:43] marcoscssno opened #82 "Node.js 9+ support"
When running `yarn add react-idle-timer`, it returns:

`error upath@1.0.4: The engine "node" is incompatible with this module. Expected version ">=4 <=9".`

My Node.js version: v10.16.0

[2019-07-04 20:07] SupremeTechnopriest commented on #82
This is an easy fix. Ill update the package.json but in the mean time you can add the `--ignore-engines` flag when you install and it will work.  Idle time works on all the latest versions of node.

[2019-07-05 12:56] SupremeTechnopriest commented on #82
So looked into this and I don't define an engine property in `package.json` as its really a client side lib. So I tried to install with yarn on a clean project and it worked fine for me.

![image](https://user-images.githubusercontent.com/2261598/60723829-9bcd4380-9ee9-11e9-9c1e-53368a6ebfd9.png)

Hit me back if you still cant get it working. Ill need more info to debug further.

[2019-07-05 12:56] #82 closed

[2019-07-05 13:03] SupremeTechnopriest commented on #81
Ah I found the issue here.

[code]

You are setting your own interval.  This is unnecessary as IdleTimer handles the interval for you.  What you should do is set IdleTimers `timeout` to  5 seconds.  Then when it pops, fire your alert and set idle timers timeout to 10 seconds and rebind the events to do what you want.  Just make sure you unbind them properly or you will leak memory.

Let me know if

[2019-07-05 16:57] pangolingo commented on #81
I can confirm that there's an underlying issue. `getRemainingTime()` does not update until the timeout is reached. This issue occurs in `4.2.6` and is not present in `4.2.5`.

Here's a reproduction: https://codesandbox.io/s/relaxed-moon-1co1w?fontsize=14
Expected: the view updates every second to show the time remaining.
Actual: the view does not update until the timeout is reached: then it shows

[2019-07-05 21:19] SupremeTechnopriest commented on #81
Thanks for confirming @pangolingo.  Rolling up my sleeves now.  Will have this solved shortly.

[2019-07-05 22:03] SupremeTechnopriest commented on #81
Hey @jont1212 @pangolingo sorry about this regression.  Something stupid was able to slip through the test suite.  Opening up the examples made the problem very apparent.  Its works 100% as intended in version `4.2.7` on npm.

[2019-07-05 22:03] #81 closed

[2019-07-07 15:06] pangolingo commented on #81
Thanks for the fast fix!!

[2019-07-07 17:01] SupremeTechnopriest commented on #81
No problem! Thanks for catching the regression 🙂

[2019-07-09 13:59] harrisgeorge202 opened #83 "Resume not working"

[2019-07-09 13:59] #83 closed

[2019-07-09 14:04] harrisgeorge202 opened #84 "Resume not working"
The idle timer is paused when calling pause method but resume does not continue from the paused time. For ex: if pause time is 357703 then when resuming the time will be 342212 something like that

setInterval(async () => {
      if (window.uploadingFiles === "uploading") {
        this.idleTimer.pause();
      }
      if (
        window.uploadingFiles === "done" ||
        window.uploadingFiles

[2019-07-09 21:55] SupremeTechnopriest commented on #84
Hmm.  I will definitely take a look at this and add a test case if one does not exist yet.  However, is it possible that there was some user input after resume?  That would reset remaining time to `timeout`.

[2019-07-10 05:46] harrisgeorge202 commented on #84
There are chances. If the user is active though. But that is just one scenario there are also chances for no user input.

[2019-07-10 05:49] SupremeTechnopriest commented on #84
How about in your test scenario? You are sure you aren't giving it any input?  The reason why I'm asking is that there was a bug in `getRemainingTime()` that I recently fixed.  Im wondering if this is related.

[2019-07-10 11:10] harrisgeorge202 commented on #84
Yes even when I'm not giving any input the issue stands.

[2019-07-12 01:51] mhdungnguyen opened #85 "How can I handle start/stop event ?"
Your package is very useful for me, but could you explain me some problem.
+ How can I handle start/stop event.
ex: I want to start the timer manually when I signed in the system and stop the timer when I signed out ?
+ Is there any way to handle timer ticks event.
ex: Every minute I want to do something, What should I do to catch this event ?

Thanks you every much sir, good day.

[2019-07-12 02:05] SupremeTechnopriest commented on #85
Hello!  Glad you find it useful.

So for your first bullet point.  The only way to do that currently is at the router level.  Your authenticated view container component is where you create idle timer.  Then its sandboxed to just the authenticated environment and automatically destroyed when you are logged out (assuming its at the router level).  I dont think it would be all that hard to add this

[2019-07-20 03:02] SupremeTechnopriest commented on #85
Hey @mhdungnguyen, so I looked into an implementation for this and the closest thing you're going to get is the `onAction` method.  Idle timer works on a `timeout` not an `interval` so implementing a game loop style system is currently out of scope for this project unfortunately.  It would be pretty easy to implement yourself though.  Something like:

[code]

Hope that helps get you where you need

[2019-07-20 03:02] #85 closed

[2019-07-20 03:22] SupremeTechnopriest commented on #84
@harrisgeorge202 Thanks for catching this.  I was able to confirm the problem and added test coverage.  Version `4.2.8` is on npm now with this patch.  Let me know if there is any trouble.

[2019-07-20 03:22] #84 closed

[2019-07-23 09:55] harrisgeorge202 commented on #84
Cool... now it works great... thanks @SupremeTechnopriest

[2019-08-14 08:06] KevinCepria opened #86 "Implementation for multiple tabs"
Hello. Are there any ways to implement this to multiple tabs? I have an app where the user will be logged out when a certain amount of inactivity time is met. The problem is if multiple tabs are open, their timers are not sync.

[2019-08-16 16:02] elja opened #87 "Can't perform a React state update on an unmounted component."
When my react application did hot-reload in development mode, let say after changing some values in my component that uses react idle timer, I'm getting: `"Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method."`

I'm using

[2019-08-17 19:14] SupremeTechnopriest commented on #86
Hello @KevinCepria,

You would have to implement some kind of postmessage system to notify your other tabs of idle events.  I've thought about adding something like this before, but determined it is outside the scope for this project.  There are a number of ways one could implement this and I don't want the library to become too opinionated.

Essentially the flow would be like:
`Event Fired > post

[2019-08-17 19:14] #86 closed

[2019-08-17 19:16] SupremeTechnopriest commented on #87
Hmm... If events are being bound and eventsBound is false then that's a problem.  You shouldn't  have to do all this.  I will create a test for this on Monday.

[2019-08-19 04:32] KevinCepria commented on #86
Hello. Thanks for the response. I checked in to some of your recommendation and will try some of them especially the postmessage. One other question, how do you update an IdleTimer Instance?

[2019-08-20 19:24] SupremeTechnopriest commented on #86
Broadcast API would be perfect for this.  Good luck!

[2019-08-21 13:29] elja commented on #87
Any updates on this one? As a side not, I don't think that we should care about eventsBound when component did unmount, there will be no way to make it alive again after it was unmounted.

[2019-08-22 22:32] SupremeTechnopriest commented on #87
@elja True that!

Been a busy week.  Hopefully I'll have some time in a few hours to take a look.

[2019-08-23 18:57] SupremeTechnopriest commented on #87
@elja @iAmao Alrighty this should be good to go now.  `4.2.9` published to npm.

[2019-08-23 18:57] #87 closed

[2019-09-02 08:08] rhulse opened #88 "Using timer with functional App component"
I am trying to use this in a functional component, but I am stuck because I cannot seem to get  ```idleTimer``` set before any function on it are called.

I have tried to convert the example to a functional style, and if I comment out the setInterval loop I can get it to work, and the idle state changes as expected.

With the loop active I get

```idleTimer.getRemainingTime is not a function```

A

[2019-09-02 09:08] rhulse commented on #88
I solved this myself - I forgot that you have to use .current on a ref created with useRef. Would you like me to clean this up for you to add the repo as an example of how to do this in a functional component?

[2019-09-03 20:43] SupremeTechnopriest commented on #88
Awsome!  Glad you got it solved!  If you would like to clean it up I can add it to the documentation and examples :)

[2019-09-03 20:43] #88 closed

[2019-09-05 12:37] Moejoe90 opened #89 "Question: Is `onIdle` accurate for inactive tabs?"
I can see that under the hood `react-idle-timer` is using `setTimeout` this comes with problems as the counter is not accurate when the tab is not inactive. and this is for good reasons.

My question is how accurate is `onIdle`? Also why not use `lastActive` as a measure and compare the now time with the last active time. this way you won't need to use `setTimeout` but just compare dates when the

[2019-09-11 12:49] SupremeTechnopriest commented on #89
That wouldn't work in all use cases. If the user does not perform any inputs the idle state would never be updated (which is the main problem this module solves).  As far as backgrounded tabs go, you can utilize the `visibilityChange` listener to know when the page has been backgrounded and do some additional logic there.  For instance,

You can call `pause()` on the IdleTimer instance (stopping t

[2019-09-11 12:49] #89 closed

[2019-09-20 15:56] imsam67 opened #90 "Can't seem to hit onIdle() before TimeOut"
I'm using `react-idle-timer` to automatically log users out of my React app after a certain period of inactivity.

I seem to hit the `onIdle()` function fine when the time out value is reached but not before.

I'm trying to show a warning to the user 30 seconds before automatically logging them out but looks like I'm able to hit the `onIdle()` only when the time out value is reached.

[2019-09-20 17:41] SupremeTechnopriest commented on #90
Hi @imsam67!

No problem I can help you out here.  So what I have seen done (and have done myself) in the past is to set the timeout to `timeout - 30000`.  This will cause your `onIdle` event to fire 30 seconds early.  From there you can use that event to show your prompt and start your own 30 second timer.  At the end of the 30 second timer, you log them out.  If they click continue, clear your t

[2019-09-20 17:41] #90 closed

[2019-10-07 20:55] marina-h opened #92 "onIdle is immediately called when using large value for timeout"
Hi, I'm having an issue where `onIdle` is immediately called when the `timeout` value is set to certain large numbers such as 50000000000 (but not 10000000000).

**To reproduce:**
In the example `App.js`, change the timeout state to `50000000000` from `3000`.

[2019-10-10 15:11] kalbert312 opened #93 "Calling timer.reset() in onActive callback causes onActive to be immediately fired after the next onIdle"
While writing up a test story for my timer component, I noticed an oddity. When I call `timer.reset()` in my `onActive` callback (which I know should be redundant), it will cause the next `onIdle` callback to be almost immediately followed up by `onActive` call.

I was inspecting my code and the package code closely to figure out what I was doing wrong. I
tracked it down to my `timer.reset()` call

[2019-10-15 19:42] SupremeTechnopriest commented on #93
For some reason I haven't been receiving emails for new issues?!  Sorry for the delay.  Ill take a look at this after work today.

[2019-10-15 19:43] SupremeTechnopriest commented on #92
For some reason I haven't been receiving emails for new issues?!  Sorry for the delay.  I'll take a look at this after work today.

[2019-10-15 19:56] dbcoderain opened #94 "onIdle event is not triggering consistently on iOS device when timeout is met"
On iOS device the `onIdle` event is not being triggered if timeout is more than 30 minutes.  If you come out of Safari and lock the device.  Then return just after 30 minutes you will observe that the event will have not triggered.

This seems to work as expected, however, if the device is being charged, so it would appear that when the battery is in use the the device is doing some memory managem

[2019-10-15 22:53] kalbert312 commented on #93
No worries. This code sandbox might also help in what I was trying to explain: https://codesandbox.io/embed/react-example-q5okf The setState callbacks are called after the merge of the first and second setState call (`this.state.num` is `2` in the callback of the first setState call and not `1` like what might be expected initially, so it's safer to get the value in the callback rather than the ou

[2019-10-17 11:10] vaseems commented on #94
Same issue when we run inside a citrix. I have added some logs and saw after sometime console statements jumbled like execution of code is not linear.  For smaller timeout it works fine. But for more than 1 hour or so it doesn't work.

[2019-10-17 13:09] dbcoderain commented on #94
Issue seems to be `setTimeout` can't be relied upon to hold accurate time if JavaScript engine is put in the background (as that is the case for mobile device, and probably similar for Citrix).

We have a fix locally for this item and will do some more testing and then open a PR.

[2019-10-17 22:15] SupremeTechnopriest commented on #94
Thanks for the PR @dbcoderain.  I just merged it in to master.  I'm going to take a look at the rest of the issues and get a new version on npm today.

[2019-10-17 22:15] #94 closed

[2019-10-17 22:42] SupremeTechnopriest commented on #92
Hey @marina-h,

So the issue here is because the number `50000000000` does not fit in a 32 bit integer.  It also equates to a really long time. It's roughly a year and a half.  The largest timeout you can set is `2147483647`.  Even that is pretty large for this library.  It's about 25 days.  This library is more for short lived timeouts.  I would say 15 - 30 mins max.  The browser turns off timers

[2019-10-17 22:42] #92 closed

[2019-10-17 22:45] SupremeTechnopriest commented on #93
Going to try to recreate this with a failing test, then we can take it from there.

[2019-10-17 22:55] SupremeTechnopriest commented on #93
Okay I see what you are saying @kalbert312.  Thanks for the sandbox that was helpful.  I implemented your suggestion and I will push it to npm shortly. Thanks!

[2019-10-17 23:03] SupremeTechnopriest commented on #94
`4.2.10` on npm

[2019-10-17 23:03] SupremeTechnopriest commented on #93
`react-idle-timer@4.2.10` on npm

[2019-10-17 23:03] #93 closed

[2019-10-18 05:01] dbcoderain opened #96 "Fix for 94 does not fix Apps in scenario where stopOnIdle is configured and the onIdle event did not fire"
The fix added for issue https://github.com/SupremeTechnopriest/react-idle-timer/issues/94, will not fix the issue if the User has configured `stopOnIdle`

[2019-10-18 14:22] marina-h commented on #92
Thanks for the update and explanation!

[2019-10-18 18:39] SupremeTechnopriest commented on #96
You are truly a boss @dbcoderain. Thanks for the PR.  I'm going to add a test for this case as well and I'll publish a new patch tonight.

[2019-10-18 20:41] dbcoderain commented on #96
Good idea about the test 🙌

[2019-10-18 22:43] SupremeTechnopriest commented on #96
`react-idle-timer@4.2.11` published!

[2019-10-18 22:43] #96 closed

[2019-12-06 06:46] lakshmisanthi opened #99 "can't update timeout value of idletimer component"
Is it possible to reset the timeout value of the idle timer component?
I need to show a warning message and then need to show an expired message.
Here is my code, please check once

let [time_value, settime_value] = useState( 1000 * 60 * 1)//one min
let [isTimeOut, setisTimeOut] = useState(false);

const _onAction = (e)=>{
    // console.log('user did something', e)
    setisTimeOut(false)}

  con

[2019-12-08 18:33] SupremeTechnopriest commented on #99
I would use your own timer for the second timeout.  Or a second instance of IdleTImer.  Essentially the first timer pops your modal and starts your second timer.  If second timer expires do whatever, if not stop second timer and reset the first.

Hope this helps!

[2019-12-08 18:33] #99 closed

[2020-02-04 16:04] iantbarker commented on #88
@rhulse Did you get this working with functional components? If so, would you mind sharing your code with me?

[2020-02-04 20:48] rhulse commented on #88
@iantbarker I did get it working.  Have a look at my [Pull request](https://github.com/SupremeTechnopriest/react-idle-timer/pull/91) (which I need to clean up). Let me know if you have any questions.

[2020-03-16 22:38] unframework opened #102 "Hooks-style usage"
Not sure if I missed it in the docs, but has there been any discussion re: implementing hooks-based usage? I.e. allowing the library to be invoked as `useIdleTimer(...)` hook in addition to `<IdleTimer ... />`  component?

Thanks!

[2020-03-18 10:40] pratiksha08 commented on #81
once i reach the idle session i am showing the modal pop up . If no action is taken on pop up for 30 secs i want to redirect the user to logout automatically. Any help would be appreciated.
import React from "react";
import { BrowserRouter, Switch, Route } from "react-router-dom";
import IdleTimer from "react-idle-timer";
import App from "../src/App";
import { IdleTimeOutModal } from "./idleTimePo

[2020-03-23 18:18] SupremeTechnopriest commented on #102
Hey @unframework,

This is the first request for a functional component which I'm actually quite surprised about.  I have had this on my mind for a while now. Perhaps I will carve out some time this weekend and make a first pass at it.

[2020-03-24 18:38] unframework commented on #102
Yep, I thought there would have been some requests for it already (when hooks first came out, almost every library had a "hooks?" issue logged, haha). If time is tight, I can also take a stab at it, just would need to catch up with architecture/etc.

[2020-03-24 20:46] SupremeTechnopriest commented on #102
@unframework Time this week is a bit tight, but I should be able to get to it this weekend.  Feel free to submit a PR if you like!  We can work on it together!  Otherwise ill have a new version pushed by Monday.  I don't foresee it being that challenging.

[2020-03-27 07:28] ncmadhan1989 opened #104 "roperty 'idleTimer' does not exist on type 'ReactIdleTimer'"
How to use this is react typescript,i getting an following error
"Property 'idleTimer' does not exist on type 'ReactIdleTimer'"

[2020-04-09 01:57] picolloo commented on #102
I'd like to help with this one if you guys don't mind. I just have a question before addressing this, should the class component be replaced by the hook's version or just a hook wrapper solve this?

[2020-04-09 02:01] picolloo commented on #102
I'd like to help with this one if you guys don't mind. I just have a question before addressing this, should the class component be replaced by the hook's version or just a hook wrapper solve this?

[2020-04-09 02:04] SupremeTechnopriest commented on #102
My thoughts were to refactor the exports so you can import either like this:

[code]

This way you can use the class component or the hook.  I was going to write the hook from scratch and leave the class as is. Im hoping to have time this weekend to get to it.  Its been busy....

[2020-04-09 02:18] picolloo commented on #102
I'm actually rewriting it using hooks, but the compatibility with those who use child components inside of it would be lost. Should I keep on this or try another way?

[2020-04-09 02:23] SupremeTechnopriest commented on #102
Im imagining this will be a breaking change anyway.  I want to change the import from default to named.  Why dont you continue and submit a PR and we can go from there?  Dont forget to test :)

[2020-04-09 07:28] unframework commented on #102
@SupremeTechnopriest this does not have to be a breaking change if the component stays as a default import like it is now, and the hook is imported by name, like so:

[code]

Feels like less breakage would be smoother :)

Also, if I understand @picolloo correctly, the main logic can exist inside the hook, and the component implementation can invoke the hook but also contain child components/etc as

[2020-04-09 07:48] SupremeTechnopriest commented on #102
@unframework Yeah I had that written out at first... but I'm slowly phasing out default exports from all my work for a number of reasons.  I figured if we were going to bump to v5 we might as well make any breaking changes now.  Im ok with either approach.  Lets get the code hashed out and then we can decide how we want it exported.

[2020-04-10 18:55] picolloo commented on #102
I rewrote the component using hooks and now I'm working on the tests. I was wondering if the usage would be something like `const { isIdle, isActive, isAction } = useIdleTimer()`.

I have to figure out how I'm supposed to pass many variables into the hook, it might be an object so the arguments are named?!

[2020-04-10 18:58] picolloo commented on #102
I'm going to open PR for you to see if I'm doing this correctly. I haven't yet refactored the tests to work with a hook implementation, because I want some feedback before continue.

[2020-04-10 19:41] unframework commented on #102
Thanks @picolloo for taking initiative on this!

Passing an options object into hook makes sense - would be ideal if properties match existing prop naming for component usage.

In terms of what is being returned - it could be good to have boolean flags returned as described above, but also any instance methods currently available should be exposed too (e.g. reset, etc). Basically, a 1-to-1 naming

[2020-04-10 21:16] picolloo commented on #102
Oh thank you @unframework, I really wanted to help out some open-source library so I think here is my chance.

About the _isAction_ flag, I was thinking it would great to follow some pattern on the flags that the library is exposing, so a boolean for the action could be handled for some _useEffect_ on the client's application.

I have to say that I have a little hard time understanding what the _d

[2020-04-10 21:49] SupremeTechnopriest commented on #102
Hey @picolloo!

Thanks for taking charge on this. So for your first question, definitely an object as options.  You should use the same configuration as the class component.   It should return another object with the public API (the boolean callbacks and the methods like `reset`, `pause`, etc).

Debounce and throttle are there to limit the amount of times an action is triggered within the given wi

[2020-04-11 00:22] picolloo commented on #102
Oh I see @SupremeTechnopriest, I got this explanation and I'm feeling more confident with the refactor. Now I'm working on the hook's tests, I'm using _@testing-library/react-hooks_ for this.

[2020-04-12 21:55] picolloo commented on #102
I have been trying to make this hook version work as the class one, but I'm doing something wrong that makes the events being fired at every action and never get idle. I'll push my latest version and keep looking for the error.

[2020-05-01 07:20] Odame opened #107 "Missing/Incomplete type for events prop"
**Version 4.2.0 brings typescript support and dynamic event binding to IdleTimer**, which is really great.

But currently, the events prop has its type specified as `string[]`.

While this works without any issue in typescript, I think it will be better if we has a union set of strings that match the supported events, or an `enum`.

Here is an example that highlights the potential problem with spe

[2020-05-01 16:22] SupremeTechnopriest commented on #107
Hey @Odame!

Feel free to add an ENUM type for events.  Thats probably a good idea.  The library is not written in Typescript.  Personally I find TS too quirky and slow.  So in order to support the TS community I manage the definition file manually.

https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.d.ts#L52

Feel free to open up a pull request and get your contributer

[2020-05-01 16:24] SupremeTechnopriest commented on #104
Hi @ncmadhan1989,

Im going to need more info on your problem.  Please, If you expect me to take time out of my day to help you, at least take the time to write more than two sentences about your issue.  Some sample code of how you are attempting to use the component would be helpful.

Thanks!

[2020-05-01 16:26] SupremeTechnopriest commented on #102
Hey @picolloo!  How are you making out here?  If you need a hand I can hop in this weekend and take a look!

[2020-05-01 19:03] picolloo commented on #102
Hi @SupremeTechnopriest, I have to say that I haven't been working on this lately. When I was writing up the tests I realized that I did not take time to fully understand the tool and started the refactor.

I made a mistake that makes the _idle_ state never being fired, and the _action_ to be fired multiple times in a short period of time. I've spent a while trying to find where I messed up but wi

[2020-05-01 19:15] SupremeTechnopriest commented on #102
Ok no problem!  I will take a look this weekend and see what's going on with that.  I will keep you posted.

[2020-05-03 03:32] SupremeTechnopriest commented on #107
Hey @Odame,

I've gone ahead and added this to the next release.  It's not ready yet, but I wanted to let you know before you began any work on this.  So far I have the following events:

[code]

Let me know if you think I have missed anything and I will add it before release (hopefully sometime next week)

[2020-05-03 03:35] SupremeTechnopriest commented on #107
This list can probably be reduced down quite a bit since a lot of them will have triggered a `mousemove` or `mousedown` event before firing.

[2020-05-03 11:55] Odame commented on #107
@SupremeTechnopriest
I went through the events enum in the https://github.com/SupremeTechnopriest/react-idle-timer/issues/107#issuecomment-623048656. And I think it's quite exhaustive.

[2020-05-03 19:42] SupremeTechnopriest commented on #107
@Odame Cool Cool!  I will release this with the functional component hook patch this week!

[2020-05-04 18:07] HPS-RobRice commented on #104
@ncmadhan1989 making a wild guess here. You may be trying to pass `idleTimer` as a normal prop like this:
`<IdleTimer idleTimer=this.idleTimer ... />`

When it should actually be passed like this:
`<IdleTimer ref={ref => {this.idleTimer = ref;}} ... />`

The readme on this repo shows an example with more detail: https://github.com/SupremeTechnopriest/react-idle-timer

[2020-05-12 20:30] lavebug opened #108 "yarn example .\scripts\example' is not recognized as an internal or external command, operable program or batch file."
yarn run v1.22.4
$ ./scripts/example
'.\scripts\example' is not recognized as an internal or external command,
operable program or batch file.
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

Virtualbox v6.0.20 Windows 10 1909 yarn 1.22.4

can windows run unix ./script command?

[2020-05-12 20:32] SupremeTechnopriest commented on #108
It can if you use wsl, git bash or similar (which I highly recommend).  Windows default shell is absolute trash.

[2020-05-12 20:35] SupremeTechnopriest commented on #108
I don't plan on adding support for `.bat` files but if you are dead set on using powershell or whatever, feel free to submit a PR.

[2020-05-12 20:35] #108 closed

[2020-05-12 20:38] SupremeTechnopriest commented on #104
Closing this issue.  @HPS-RobRice's comment is likely the solution to the problem.  Have not received a response from @ncmadhan1989.

[2020-05-12 20:38] #104 closed

[2020-05-14 20:28] lavebug commented on #102
Any update on that or anyone has a link to a post to convert to using hooks or functional component?

[2020-05-14 20:40] SupremeTechnopriest commented on #102
@lavebug I've been slowly working on this in my free time (which I have not had much of lately).  I have taken over where @picolloo left off. I need to finish writing a new test suite for the hook.  I'm trying to reuse as many test assertions as I can because I really don't want to have to maintain two suites. Im about to be moving to a new house at the end of the month and based on my current wor

[2020-05-14 21:07] picolloo commented on #102
@SupremeTechnopriest do you have any branch that contains the progress you made so far?

[2020-05-14 21:58] SupremeTechnopriest commented on #102
@picolloo I do, I can push it up this evening.  Testing hooks is a miserable experience.....

[2020-05-15 00:48] SupremeTechnopriest commented on #102
@picolloo Branch [hooks](https://github.com/SupremeTechnopriest/react-idle-timer/tree/hooks) pushed up.  All I managed to get done so far was import your changes, abstract some commonly used functions into a utility file and start a test file for the hooks.  Im hoping to be able to share the test assertions between both the component and the hook, but I'm not sure if that is going to be possible d

[2020-05-15 05:38] beamercola commented on #102
@SupremeTechnopriest cool! Is this somewhat functional or WIP?

[2020-05-15 19:08] SupremeTechnopriest commented on #102
@beamercola This is definitely a work in progress.  I wouldn't use it in production until its fully tested.  I'm not sure if it even works at all yet.  I write this component test driven.  I don't think I've actually put it in a react app since I first created it.  We sold the company that I wrote this component for and I haven't needed it since.

[2020-06-03 22:32] FlyRocketDrones opened #109 "Updated Document Triggers Inactive"
Hi,

I have a page within my app that shows reports. Reports part of the page gets loaded couple seconds after the page load. Therefore, when IdleTimer has document as element selected, iframe content doesn't exist. Therefore, when Iframe content loads and user is moving their mouse around, IdleTimer does not recognize that as action. Unless user's mouse go outside the iframe area into the documen

[2020-06-03 22:36] SupremeTechnopriest commented on #109
An iFrame is technically a separate site embedded in your site (main frame).  It is responsible for its own events.  I'm pretty sure you will need to mount IdleTimer on the iFrame's website.  You could then use postmessage API to pass the events to the main frame if needed.

[2020-06-03 23:14] #109 closed

[2020-06-03 23:47] FlyRocketDrones opened #110 "Updated Document Triggers Inactive"
Hi,

I have a page within my app that shows reports. Reports part of the page gets loaded couple seconds after the page load. Therefore, when IdleTimer has document as element selected, iframe content doesn't exist. Therefore, when Iframe content loads and user is moving their mouse around, IdleTimer does not recognize that as action. Unless user's mouse go outside the iframe area into the documen

[2020-06-04 00:16] SupremeTechnopriest commented on #110
Hey hey!  You can still comment on closed issues, but we will handle it here. I think I see what you are asking for.  Can you try to call:
[code]

after you change the element?

If that works for you I can push a change that will allow you to change the element mid lifecycle.  Currently, events are only bound when the component mounts and unbound when it unmounts.

See here: https://github.com/Sup

[2020-06-04 18:22] SupremeTechnopriest commented on #110
@FlyRocketDrones Any luck?

[2020-06-11 11:55] AkshatS2196 opened #112 "Cant find variable document"
Getting the error
ReferenceError: Can't find variable: document

[2020-06-11 16:04] SupremeTechnopriest commented on #110
@FlyRocketDrones I guess you worked out your issue?  You can reopen this issue if you still need this feature.

[2020-06-11 16:04] #110 closed

[2020-06-11 16:08] SupremeTechnopriest commented on #112
This component is used by millions of people. They all have no problem with document.  I am going to start immediately closing issues where people don't take the time to write out a detailed description of their problem.

My guess is you aren't using the component correctly, or you are trying to use it in a non browser environment.  If you want help, take the time to write a complete issue. Includ

[2020-06-11 16:08] #112 closed

[2020-06-11 16:08] SPineapple opened #113 "getRemainingTime is not working"
I keep getting zero value and it is not updating, neither getElapsedTime, help please?

[2020-06-11 16:10] SupremeTechnopriest commented on #113
Hi @SPineapple, Can you please post how you are trying to use the component and how you are calling getElapsedTime?  I need more info in order to help.

[2020-06-11 16:12] SupremeTechnopriest commented on #113
If you take a look at the example https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/example/src/App.js#L34, The getRemainingTime works here.

[2020-06-11 16:14] SPineapple commented on #113
This is where I am using it with useRef hooks :

[code]

[2020-06-11 16:16] SPineapple commented on #113
ohh sorry I missed out setInterval, I thought it would return the value directly. Thanks for the reference!

[2020-06-11 16:17] SupremeTechnopriest commented on #113
You shouldn't need the setInterval thats just so it updates every second for the example.  Let me add a test case.  I suspect its the useRef hook.  Im working on a hook version of the component, but Ill do a little test to see whats going on and get back to you.

[2020-06-11 16:18] SPineapple commented on #113
Okay, thanks.

[2020-06-11 16:19] SupremeTechnopriest commented on #113
Ah, actually i think the issue is that you are checking the remaining time inside the onIdle callback.  If onIdle is called it means that the remaining time is 0.  What happens if you check remaining time in your onAction callback?  It should work then.

[2020-06-11 16:28] SPineapple commented on #113
yes I get the number, but I am displaying remaining time when idle and triggers logout, so when its in onAction callback I don't have any benefit of it because timeout is already doing it? maybe I missed something else..

[2020-06-11 16:34] SupremeTechnopriest commented on #113
I see, so when a user goes idle, you want to give them 10 seconds or so before you log then out?

[2020-06-11 16:35] SPineapple commented on #113
yes exactly.

[2020-06-11 16:36] SupremeTechnopriest commented on #113
You should definitely use your own `setTimeout` inside the idle callback for that.  `getRemainingTime` returns how long until the user will be considered Idle.  Idle timer doesn't have a mechanism for what you want, but a lot of people do exactly that with their own `setTimeout`.

[2020-06-11 16:37] SPineapple commented on #113
Okay, will try it out, thanks!

[2020-06-11 16:38] SupremeTechnopriest commented on #113
Just make sure that onActive clears your custom timeout.  Something like

[code]

[2020-06-11 16:39] SupremeTechnopriest commented on #113
Cool feel free to re open the issue if you have any problems.  Love your Totoro icon btw. ♥️ Ghibli

[2020-06-11 16:39] #113 closed

[2020-06-16 06:46] AkshatS2196 opened #114 "Reference error cant find variable:document"
![Screenshot_2020-06-11-16-25-12-24 1](https://user-images.githubusercontent.com/25604509/84740248-af729c80-afca-11ea-969b-2d39f43eee31.png)

My code:

import React, {useRef} from 'react';
import IdleTimer from 'react-idle-timer';

export default function IdleTimerContainer() {
  const idleTimerRef = useRef(null);
  const onActive = () => {
    console.log('Time Restarted', this.idleTimer.reset())

[2020-06-16 07:44] SupremeTechnopriest commented on #114
It looks like this is a lint error. It doesn’t know that document is a global. I’m not sure what metro does, but I’m willing to bet the problem is there. How is your app bundled?

[2020-06-16 08:29] AkshatS2196 commented on #114
the command i hit for building the app: "react-native run-android --port=8088"

[2020-06-16 16:50] SupremeTechnopriest commented on #114
Try removing the element prop and using the default.  It defaults to `document` anyway, but has extra protection for server side rendering.

[2020-06-16 17:34] AkshatS2196 commented on #114
You means element: default ?
On 16 Jun 2020 22:21, "Randy Lebeau" <notifications@github.com> wrote:

[2020-06-16 17:36] SupremeTechnopriest commented on #114
Just remove it all together:

[code]

[2020-06-16 18:08] AkshatS2196 commented on #114
The issue is still their on the line where I Imported IdleTimer
On 16 Jun 2020 23:06, "Randy Lebeau" <notifications@github.com> wrote:

[2020-06-16 18:35] SupremeTechnopriest commented on #114
Looking around at similar issues, it looks like it's a server side rendering problem.  Can you post your webpack/ babel config?

[2020-06-18 06:30] collegewap opened #115 "No API to clear the timer!"
pause() doesn't clear the timer. It just pauses it and when the component is mounted back, old timer is back!
I need to clear the old timer and create a new one. Since the variables inside onIdle change between renders, I need to have a new timer. How do I clear the old timer?

Note: I am loading the react app inside another non-react app. So for some reason componentWillUnmount will not be called

[2020-06-18 16:43] SupremeTechnopriest commented on #115
There is an api to clear the timer.  Its `reset()`.

[2020-06-18 16:43] #115 closed

[2020-06-18 16:44] SupremeTechnopriest commented on #115
It's literally the first method documented in the README.

[2020-06-18 16:45] SupremeTechnopriest commented on #114
@AkshatS2196 Were you able to sort this out on your own?

[2020-06-19 04:19] AkshatS2196 commented on #114
No, I was not able to solve it.. And I am running this on an Android Phone
so no bable config
On 18 Jun 2020 22:16, "Randy Lebeau" <notifications@github.com> wrote:

[2020-06-19 05:31] SupremeTechnopriest commented on #114
Are you able to share the repository you are working on? I need to see the entire scope and possibly run it locally to see what’s going on. I’m almost certain it has to do with server side rendering.

[2020-06-25 06:15] fluxquantum opened #116 "IdleTimer not resetting when used with setTimeout"
Hello @SupremeTechnopriest - thanks for creating and supporting this library.

I am trying to implement a lightweight session timeout functionality for my react app. I am leveraging your idleTimer to trigger a window.confirm prompt. Depending on the response returned - I am either letting the session stay active or performing a setTimeout(timeout, n).

I am coming across two issues, 1) I'd like th

[2020-06-25 16:00] SupremeTechnopriest commented on #116
Hi @fluxquantum

What you are implementing is the most common use case for IdleTimer.  What you want to do is get a ref to the IdleTimer instance and use the `reset()` function to restart IdleTimer if your user clicks continue.  That should get you where you want to be!

Also, all the methods IdleTimer exposes are documented here https://github.com/SupremeTechnopriest/react-idle-timer#methods.

Fe

[2020-06-25 16:00] #116 closed

[2020-06-26 15:27] FlyRocketDrones commented on #110
@SupremeTechnopriest I did. The problem was that, we have below code in the AuthService
[code]

Once user enters in Password reset they continue to have AADB2C90118 errorcode even after completion of the password reset. So we added redirectUri to the authconfig of the msal and now user get's redirected to www.website.com/PasswordReset and added PasswordReset as a route to run below code

[code]

N

[2020-07-17 10:01] dreamerchandra opened #117 "Continuous mouse move triggers huge CPU usage and adds a lot of event listeners"
Take a look at the performance monitor in [this video](https://teleport.video/video/message/v1/fGy4EGMwce4o).
And code `https://codesandbox.io/s/ideal-timer-cbseh?file=/src/App.js`

[2020-07-17 17:43] SupremeTechnopriest commented on #117
Thanks for the report.  I will look into this.  I have a feeling it has to do with the `stopOnIdle` option.

[2020-07-17 19:17] SupremeTechnopriest commented on #117
@dreamerchandra, What is that realtime performance monitoring extension you are using?

[2020-07-17 21:38] SupremeTechnopriest commented on #117
As far as the events leak goes, I think what you are seeing is related to this https://github.com/facebook/react/issues/12141.  I have profiled IdleTimer and the results are consistent with what is discussed here.  Can you test a production build and see if the problem persists?  In regards to the high cpu usage, that's due to the mouse event spamming the event handler method.  I was able to get i

[2020-07-18 14:24] dreamerchandra commented on #117
It's actually happening in our production build... Hence I had to create an eg sandbox to double-check myself if I was right about idle timer's performance and codesand-box proves it...
I had to create a hooks implementation of idle timer myself [sandbox included here](https://codesandbox.io/s/idle-timer-hooks-ndjji) to get our project working... And the [results are good](https://teleport.video/v

[2020-07-18 17:06] SupremeTechnopriest commented on #117
Hey @dreamerchandra, thanks for the additional info.  I just tested a production build with IdleTimer, and I can confirm that the events don't leak.  Are you by chance using `create-react-app` or did you roll your own?  You seem to know what you are doing, but just for posterity I will mention that you need to be sure your app is built with `NODE_ENV=production` in order for React to run in produc

[2020-07-18 19:51] #117 closed

[2020-07-18 22:36] SupremeTechnopriest commented on #102
@beamercola @picolloo @lavebug @unframework Hey All!  Sorry this took so long to get out the door, but its finally here and fully tested.  `useIdleTimer` published to npm as version `4.3.0`.  Let me know if you experience any issues, otherwise, enjoy!

[2020-07-18 22:36] #102 closed

[2020-07-18 22:37] SupremeTechnopriest commented on #107
@Odame Hey hey! This is now published to npm as version `4.3.0` alongside the `useIdleTimer` hook.  Let me know if I messed anything up!

[2020-07-18 22:37] #107 closed

[2020-07-18 22:39] SupremeTechnopriest commented on #114
Going to close this issue for now as there hasn't been any activity on it in some time.  If you can put together a reproducible example repository, I'd be happy to take a look for you.

[2020-07-18 22:39] #114 closed

[2020-07-18 22:44] SupremeTechnopriest commented on #117
Hey @dreamerchandra, Just thought I'd let you know version `4.3.0` is published to npm.  It includes the `useIdleTimer` hook and a new property `eventsThrottle` that significantly reduces cpu usage.  It defaults to `200ms`.  Thanks for pointing out that issue.  Hope you find it helpful.

[2020-07-21 04:06] kaihengann opened #120 "Unable to pass in custom events in useIdleTimer options"
First of all, thanks for creating this library. I am having issues passing in a custom array of events to bind as the events option only takes in an EVENTS type. Also it seems the EVENTS enum is not exported, so I have no way to customise the events. Am I missing something? Would appreciate some help. Thanks.

[2020-07-21 16:30] SupremeTechnopriest commented on #120
Hey @kaihengann Adding that events enum was new in this patch.  There are probably some issues...   I personally don't use typescript.  I find it to be more trouble than it's worth.  I will export that enum, but could you tell which event you would like to use that isn't there?  I would like this to be a complete list of possible events.

Thanks!

[2020-07-21 18:22] subvertallchris opened #121 "IdleTimer component causing TypeScript errors in 4.3.0"
Hey, thanks for working on this library, it's been very helpful to me.

I was happy to see that you introduced hooks in 4.3.0 so I upgraded and both of the class components are spitting out errors suggesting the component is being interpreted as a plain ole class instance, not a component.

![image](https://user-images.githubusercontent.com/4097271/88091767-84e1a980-cb5d-11ea-93ef-c669b0a0e9aa.png

[2020-07-21 19:05] SupremeTechnopriest commented on #121
Hey @subvertallchris! Thats interesting, the class component didn't change at all.  Could you paste the code that is triggering this error so I can try to recreate it on my side?

[2020-07-21 19:18] subvertallchris commented on #121
Sure: https://codesandbox.io/s/vibrant-morning-8ebc5?file=/src/IdleClass/index.tsx

It's your example from the readme converted quickly to TypeScript. Give it a moment to be analyzed. Not getting the first of the two errors that I'm seeing but it gets the second and they're related, probably different from mine due to TS version or something.

[2020-07-21 19:23] armando9210 commented on #121
I am having the same issue

[2020-07-21 19:29] SupremeTechnopriest commented on #121
Probably an issue with my `.d.ts` file.... I'm maintaining that by hand. Not a fan of typescript.  I'm going to add a typescript example and make sure the definition file is working correctly.  Bear with me.

[2020-07-21 21:07] SupremeTechnopriest commented on #121
@subvertallchris @armando9210 Found and fixed the issue.  Version `4.3.1` published to NPM.

[2020-07-21 21:07] #121 closed

[2020-07-21 21:08] SupremeTechnopriest commented on #120
@kaihengann Resolved this issue.  Published version `4.3.1` to NPM.  Reopen if you are still having issues.

[2020-07-21 21:08] #120 closed

[2020-07-21 22:23] armando9210 commented on #121
Thanks bro!

[2020-07-21 22:24] SupremeTechnopriest commented on #121
My pleasure!  Enjoy!

[2020-07-22 02:19] kaihengann commented on #120
Hey @SupremeTechnopriest ,thanks for the quick reply. It seems you have exported a type instead of the enum itself, so the issue still exists. I am actually trying to omit some of the events from the default ones.

[2020-07-22 09:57] gnltkak opened #122 "Can't use props, state variable in hook manner"
`
const {appMode} = props;

 const handleIdle = useCallback(() => {
    if (appMode === "timeLine") {
      setAppMode("screenSaver");
    }
  }, [appMode]);

  useIdleTimer({
    timeout: idleTimeOutSeconds * 1000,
    onIdle: handleIdle
  });
`

appMode is not latest value in above code

[2020-07-22 14:09] subvertallchris commented on #122
This is the issue I was about to open. The callback fed to `onIdle` does not reflect the current version of `handleIdle`, it captured the state at initialization instead.

[2020-07-22 14:10] subvertallchris commented on #121
Thank you!

[2020-07-22 16:29] SupremeTechnopriest commented on #122
Hmmm... ok.  I will add a test for this later today.

[2020-07-22 16:33] SupremeTechnopriest commented on #120
Turns out you can't export an enum from the `.d.ts` file... It has to be a type.  That fixes the intellisense. If you want to omit some events just provide an array of the the events you want to use.

[2020-07-22 21:51] SupremeTechnopriest commented on #122
@gnltkak @subvertallchris Fixed and published to NPM as version `4.3.2`.

[2020-07-22 21:51] #122 closed

[2020-07-22 22:01] SupremeTechnopriest commented on #122
Sorry I caused a small regression.  Its going to be `4.3.4`.

[2020-07-22 22:03] subvertallchris commented on #122
Great, thank you! I'll give it a shot in the morning.

[2020-07-22 22:04] SupremeTechnopriest commented on #122
Thanks for the reports!  Let me know if you find anything else.

[2020-07-23 04:19] gnltkak commented on #122
@SupremeTechnopriest Thanks for quick fix!

[2020-07-27 21:03] luis02lopez opened #123 "Fail to minify within Docker node:10-alpine"
Hi guys, first of all, thank you for having this package!

We've found some errors compiling our app with the following context:

- Docker base image from node:10-alpine (Node 10.22)
- package.json semantic version as: `"react-idle-timer": "^4.2.9"`

Throw the following error on` npm run build`:

[code]

Going to the build log, this can be seen:

[code]
Checking dependencies, this can be seen (npm

[2020-07-27 21:14] SupremeTechnopriest commented on #123
Hello!  What are you using to minify your project?  Uglify doesn't work with es6 modules out of the box.  I think that might be what you are seeing here.  I recommend switching to [terser](https://www.npmjs.com/package/terser).  If you are using webpack you can use this [plugin](https://www.npmjs.com/package/terser-webpack-plugin) or for rollup use this [plugin](https://www.npmjs.com/package/rollu

[2020-07-28 03:49] rhiadj commented on #123
@SupremeTechnopriest hey there! First off thanks for an awesome module and for the great work maintaining this and being so responsive to issues raised.

This issue tripped up my project today also.

Absolutely take your point here and I'm sure we can have a look into moving our build pipeline to using terser to work with newer versions of `react-idle-timer`. Right now though we've got some super

[2020-07-28 04:10] SupremeTechnopriest commented on #123
@rhiadj Sure I'll see what I can do.  Can you tell me what version of `create-react-app` you are running?  I'll need to be able to recreate the issue in order to fix it.  It looks like the version of uglify they are using doesn't know about the `let` keyword.  That's what it's failing to minify on column `1:344`. I've tested it with the latest version of `create-react-app` and it minifies ok, must

[2020-07-28 04:21] SupremeTechnopriest commented on #123
@rhiadj @luis02lopez Hey all.  I patched this regression and published to NPM as version `4.3.5`.  Please re install and let me know how it goes.

[2020-07-28 04:21] #123 closed

[2020-07-28 07:58] rhiadj commented on #123
Wow that's amazing thank you so much @SupremeTechnopriest - you are an absolute legend! 👍

Keep up the great work! 👏 🙇

[2020-07-28 20:31] luis02lopez commented on #123
It compiles now! thank you so much!! @SupremeTechnopriest cheers 🍻

[2020-07-29 15:06] acomito opened #124 "useState variables not updating in onIdle"
I'm trying to show a modal when the user is idle, and if the modal stays open for 30 seconds without any action taken, then I log the user out.

I'm using setTimeout, which I'm not sure if that's the right approach here.

I thought maybe I was running into this issue: https://github.com/SupremeTechnopriest/react-idle-timer/issues/122 but it doesn't seem to be working for me even though i'm on ` "r

[2020-07-29 17:58] SupremeTechnopriest commented on #124
@acomito You should perform your setTimeout in a `useEffect` instead of the `useCallback`.  I made a code sandbox example.  I think it does what you want https://codesandbox.io/s/sweet-http-oo1hf?file=/src/App.js.

[2020-07-29 17:58] #124 closed

[2020-08-02 03:45] uNkNowN92-git opened #125 "Extra 'n' on Component Usage section"
Please remove extra 'n' on the Component Usage section.

this.handleOnAction = this.handleOn~~n~~Action.bind(this)
this.handleOnActive = this.handleOn~~n~~Active.bind(this)
this.handleOnIdle = this.handleOn~~n~~Idle.bind(this)

[2020-08-03 15:20] alexpapworth commented on #125
Thought this was a deliberate choice!

If anyone else gets a `TypeError: Cannot read property 'bind' of undefined` error when copying code from the README, this is why.

[code]

[2020-08-03 17:47] SupremeTechnopriest commented on #125
Oof my bad!  Let me get that fixed. :)

[2020-08-03 17:53] SupremeTechnopriest commented on #125
@uNkNowN92-git, @alexpapworth, Good to go!  Published v`4.3.6` so the readme on NPM gets updated too.

[2020-08-03 17:53] #125 closed

[2020-08-05 20:00] alexpapworth commented on #125
Awesome, thanks!

[2020-08-07 20:27] prodigic opened #126 "dist folder contains es6 code and not is compatible with ie11"
![Screen Shot 2020-08-07 at 1 22 56 PM](https://user-images.githubusercontent.com/2828303/89685686-b1155e00-d8b1-11ea-8161-d8b767912f39.png)

arrow functions are included in the build code. this breaks older browsers

[2020-08-07 20:29] prodigic commented on #126
`index.es.js` and `index.min.js` both contain es6 code.

[2020-08-07 20:30] SupremeTechnopriest commented on #126
@prodigic I feel for you having to support IE.  I will make babel transpile all es6 and push a new version today.

[2020-08-07 20:31] prodigic commented on #126
thanks for that! it's a pain. but less so when library devs are so on it. many thanks

[2020-08-07 21:34] SupremeTechnopriest commented on #126
Hey @prodigic, Quick question.  Are you using the latest version?  Im grepping the source for `4.3.6` and I don't see any instances of `()=>{`.  Check here https://unpkg.com/react-idle-timer@4.3.6/dist/index.min.js

[2020-08-07 22:17] prodigic commented on #126
react-idle-timer@4.3.0.

updating to 4.3.6. and will check back

[2020-08-07 22:30] prodigic commented on #126
looks like 4.3.6 doesnt have arrow functions in the build code so maybe just an issue with 4.3.0 (which did have them)

you can close this out. thanks, sorry to bug you with a stale version issue. rookie mistake!

[2020-08-07 22:54] SupremeTechnopriest commented on #126
@prodigic All good! Enjoy!

[2020-08-07 22:54] #126 closed

[2020-08-07 23:30] prodigic commented on #126
using 4.3.6 fixes the issue. many thanks.

[2020-08-12 19:54] r3wt opened #127 "throttle doesn't work at all"
First, love this package. There is just one small problem I am experiencing, and I am not sure why.

code:
[code]
expected:

actual:

[2020-08-12 19:57] SupremeTechnopriest commented on #127
@r3wt Interesting!  I will take a look at this and add some tests.

[2020-08-12 20:14] r3wt commented on #127
@SupremeTechnopriest thank you for fast response! If you are accepting PR's, i could possibly help if you are too busy. just let me know, i am happy to submit PR

[2020-08-12 20:24] SupremeTechnopriest commented on #127
I accept PRs, but I should be able to get to this today.  No worries.  Just give me a few hours to get through some day job stuff and I'll take a look.

[2020-08-12 21:06] SupremeTechnopriest commented on #127
@r3wt  I see whats happening here.  So `throttle` calls the onAction handler on the first action at most every `n` milliseconds. Events throttle is set to 500ms. so there will be a 500ms delay before it is called for the first time.  It sounds like you want the event to be called on the tail of the throttle?

See here https://codesandbox.io/s/staging-frog-2sf04?file=/src/App.js

If you open the co

[2020-08-13 18:35] SupremeTechnopriest commented on #127
@r3wt What are we thinking on this?  Will the current throttle implementation suffice for you?

[2020-08-13 19:32] r3wt commented on #127
I'm not quite sure I understand what you are saying. it seems you may be getting different results than I am. What is happening for me is that onAction is calling every 500ms, and i don't understand why. i do not desire onAction call at tail of activity, but rather at leading edge as is. I just don't need it be called every 500ms, but instead at most every 1minute. i am wondering if this would be

[2020-08-13 19:44] SupremeTechnopriest commented on #127
If you can make a code sandbox that reproduces this we can take a look.  The `useIdleTimer` hook shouldn't be updating on re renders as it uses refs internally.

Why don't you fork the example I made here  https://codesandbox.io/s/staging-frog-2sf04?file=/src/App.js and configure it the way you are using it. Just the bare minimum to reproduce the results you are getting should suffice.

[2020-09-24 14:54] r3wt commented on #127
Sorry for not replying sooner. unfortunately, i can't use codesandbox(or any other such site) as it is blocked by corporate firewall. as for the problem, i realize now its probably that i am using this library in a way different than most use cases that this library was designed for, as my use case is simply that i don't care about user activity, i just want to renew the user session at most once

[2020-10-05 18:15] Talhafayyaz11 opened #128 "useIdleTimer reinitialization after api request"
First of all thanks for this amazing package. In my scenario, I want to handle the timeout from the state. And whenever that state updates I want to reinitiate my timer according to the given value. Basically, I am getting the timeout value from the backend and I want to reinitialize my timeout value according to the value I get. I have read the reset API but it does not complete my requirement be

[2020-10-05 18:48] SupremeTechnopriest commented on #128
Hi @Talhafayyaz11.  Are you using the hook or the component?

[2020-10-05 21:39] SupremeTechnopriest commented on #128
Ah its in the title.  My bad.  Im not sure if that will be possible with the current hook implementation, though it is possible with the component implementation.  Pretty sure I can add support for that in the hook.  I will add some tests later today and get back to you.

[2020-10-06 01:57] SupremeTechnopriest commented on #128
@Talhafayyaz11 So I wrote a test that I think encompasses your needs:

[code]

This tests passes with no changes to the `useIdleTimer` hook.  You just need to call `reset()` after you set your new timeout value so the internal timeouts are recreated with the new value.

Correct me if Im wrong, but what you wanted to do is set the new timeout value without starting the timer back from 0?  That woul

[2020-10-06 11:13] Talhafayyaz11 commented on #128
Thanks @SupremeTechnopriest.

[2020-10-06 11:13] #128 closed

[2020-10-07 00:14] SupremeTechnopriest commented on #128
Any time!

[2020-10-19 17:10] jacobwhood opened #130 "Tracking user time"
Hello! Great job with this package overall, we appreciate all the effort you've put in.

We're wanting to move away from this [jQuery-based timer](https://github.com/thorst/jquery-idletimer) to your library. Similar to [this earlier issue](https://github.com/SupremeTechnopriest/react-idle-timer/issues/56), we are trying to track total active time for a user, while pausing when they become idle. Wh

[2020-10-19 19:35] SupremeTechnopriest commented on #130
Hey @jacobwhood, Just so I'm clear on what you are asking for, you want a method like `getActiveTime` that tracks the amount of milliseconds the user is not idle?  I can work on adding that, but out of curiosity, what is the use case for such a function?

[2020-10-20 14:07] adamthewan commented on #130
Just, thinking out loud. @jacobwhood its possible you can collect timestamps on the onActive and onIdle events. Then calculate the sum of the duration between each onActive and onIdle timestamp.

[2020-10-20 14:42] jacobwhood commented on #130
@SupremeTechnopriest I appreciate the prompt response! Yes, your description of `getActiveTime` is the desired behavior -- that's basically what we're tracking now with our own wrapper around your timer. The active time is meant to be a sum of total active time, so tracking this time from component mount would be ideal. Our specific use case is for tracking the total active time our users are spen

[2020-10-21 18:29] SupremeTechnopriest commented on #130
Thanks for the clarification.  I will work on this feature this week.

[2020-10-21 22:45] SupremeTechnopriest commented on #130
Hey @jacobwhood,

I added `getTotalActiveTime()` and published it as `v4.4.0`.  Let me know if they are any issues!

[2020-10-21 22:45] #130 closed

[2020-10-24 02:38] adam-beck opened #132 "Does not support React 17"
As the title says this package has a strict peer dependency on React 16. I'm not too familiar with the whole process of testing if a major version change of React would be compatible with this codebase. I assume it would since it is only a peer dependency.

If it just involves updating the peerDependency property I can create a PR.

[2020-10-25 19:49] SupremeTechnopriest commented on #132
No worries I will update the peer dependency requirements and deploy a patch version. Thanks for the report.

[2020-10-26 20:24] SupremeTechnopriest commented on #132
Updated the peerDependencies to `>=16`.  Should do the trick.  Let me know if there are any issues.

[2020-10-26 20:24] #132 closed

[2020-10-27 21:24] jacobwhood opened #133 "Total active time calculation"
Hello again!

Thanks for adding in the `getTotalActiveTime` function. We greatly appreciate it. I had a question about the calculation used to update this time as the user becomes idle. Correct me if I'm wrong but from what I understand, the user becomes idle once the idle timeout period has elapsed, after which the state is set to idle in `_toggleIdleState`. So the user is technically idle during

[2020-10-27 21:43] SupremeTechnopriest commented on #133
Yeah you are correct.  Technically they are idle during the timeout period and it should probably be subtracted from the running active time total.  I will update the tests to account for this and publish a patch.  Good catch.

[2020-10-28 02:18] SupremeTechnopriest commented on #133
I wrote some tests on this today, and I'm not really happy with the current implementation.  `getTotalActiveTime()` can return inaccurate values if it's called before an idle event.  I'm going to take some time to find a better way of implementing so it will always return an accurate value. I will take the `timeout` value into account.  Give me a few days.

[2020-10-29 04:25] SupremeTechnopriest commented on #133
@jacobwhood Okay I am happy with this refactor.  Could you do me a favor and install directly from github and make sure it does what you expect?  I also added `getTotalIdleTime` and `getLastIdleTime` to make the API complete.  It's pretty throughly tested, but once you give me the thumbs up I will publish to npm.

[2020-10-30 00:29] SupremeTechnopriest commented on #133
@jacobwhood Have you had some time to test this out?  I plan to publish it tomorrow.

[2020-10-30 00:34] jacobwhood commented on #133
Hey man, I haven't had time -- just got moved onto a new project where we're super crunched for time. Not sure when I'll be moving back to what I was working on which depends on the timer. I'm going to try to get to it this weekend.

Thanks again for your responsiveness and quick work. 👍

[2020-10-30 00:36] SupremeTechnopriest commented on #133
@jacobwhood No worries!  I will release this.  I think it looks pretty good.  Just reopen if you have any issues.  Good luck on the new project!

[2020-10-30 01:03] SupremeTechnopriest commented on #133
Published as `4.5.0`.

[2020-10-30 01:03] #133 closed

[2020-11-17 10:32] Floriferous commented on #133
Hi there, I'm a bit confused about this active time calculation.

We'd like to store in our DB the total time a user spends on a certain page, so every 5-10 seconds, we'd like to send the additional time spent to our server, total active time seems like the perfect fit for this.

However, this is the value of `getTotalActiveTime()` in an interval of 5 seconds:

<img width="392" alt="Screenshot 202

[2020-12-02 17:35] Floriferous opened #134 "Active time going up, but down as well?"
Creating a new issue after #133

Hi there, I'm a bit confused about active time calculation.

We'd like to store in our DB the total time a user spends on a certain page, so every 5-10 seconds, we'd like to send the additional time spent to our server, total active time seems like the perfect fit for this.

However, this is the value of getTotalActiveTime() in an interval of 5 seconds:

<img width

[2020-12-03 19:25] SupremeTechnopriest commented on #134
This is working as expected.  Once your user is idle, the idle timeout is subtracted from the total active time as they were not active during the timeout duration.   If you want the total time on page there is a better way to do it.  You can do:

[code]

[2020-12-08 11:44] Floriferous commented on #134
I'm not sure I understand what you mean, I want the total `active` time on the page, not the `total` time on the page (including idle).

In the example above I stayed on the same page (i.e. the same mounted `useIdleTimer` hook) and clicked outside of it a few times, going back and forth. What doesn't make sense to me is why the `totalActive` time would _ever_ go down, since I can only spend _more_

[2020-12-10 19:24] SupremeTechnopriest commented on #134
If you are using the default timeout of 20 minutes then yes this does not make sense.  I will look into it.

[2020-12-10 19:39] SupremeTechnopriest commented on #134
So I created a sandbox that minimally implements your use case here https://codesandbox.io/s/pedantic-mayer-41utq?file=/src/App.js.

Everything seems to be working as expected.  My guess is that the useIdleTimer hook is being called more than once (maybe by a rerender).  If the hook gets re instantiated, then the starting time resets to the current time and could result in what you are seeing.

Th

[2020-12-10 19:39] #134 closed

[2020-12-11 21:11] Floriferous commented on #134
My bad I should've started with a repro! I'm trying to play around with this codesandbox, but I can't get it to start getting idle, it seems like it's active all the time, no matter if I navigate to another tab, or application. Are you seeing this as well? Is this an issue with how this hook works on codesandbox?

I get these logs:

[code]

So yeah I can't really reproduce the issue at the moment.

[2020-12-11 21:21] SupremeTechnopriest commented on #134
Idle timer does not currently hook into `pagehide` or `pageshow` to trigger an idle event. Its more designed to let you know when your user has walked away from the computer, not so much for detecting when you background the site.  (Think logging out of a bank account or similar).

Implementing backgrounding functionality is a bit specific to the use case so I have decided to omit it from the scop

[2020-12-11 21:23] SupremeTechnopriest commented on #134
Maybe I could add a method like `setIdle(bool)` so you can manually set the idle state of the timer.  That would enable you to be able to hook into `pagehide` and `pageshow` and still have the timings be accurate.  Let me know if that is something you would like and I can work on implementing it.

[2020-12-30 21:55] Cloudzaaa opened #135 "Incorrect dinamic idle timeout value"
Hi!

I am trying use idleTimer for user logout when he bacame idle.
Also in my case I have to prolongate his session (send request for new token) if he was not idle (before existed token fall).

In my case token has dinamically duration time and I try handle all these things like that

[code]

But in that case sometimes after several new tokens, onIdle has timeout bigger than he has to be, where a

[2020-12-30 22:13] SupremeTechnopriest commented on #135
@Cloudzaaa, Just so I'm clear, you want to be able to change the timeout duration after the component is mounted?  The hook does not currently support that, but it could be added.

[2020-12-30 22:21] Cloudzaaa commented on #135
@SupremeTechnopriest Yes, exactly (awesome fast feedback)
Could you implement it?

[2020-12-30 22:23] Cloudzaaa commented on #135
@SupremeTechnopriest in current case, timeout value behave unstable, and onIdle callback called in wrong time sometimes

[2020-12-30 22:35] SupremeTechnopriest commented on #135
Yep I will implement it for you.

[2020-12-30 23:09] Cloudzaaa commented on #135
I will look forward to
thank you!

[2020-12-31 00:08] SupremeTechnopriest commented on #135
Actually. It looks like this is already possible, you just need to call `reset()` after changing the timeout.  Can you change your code to this and let me know if it works?

[code]

[2020-12-31 00:10] SupremeTechnopriest commented on #135
Here is the test that covers this:

https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/__tests__/useIdleTimer.test.js#L127-L140

[2020-12-31 09:20] Cloudzaaa commented on #135
you are right
added this effect and case is covered

[code]

thx for help, close that issue

[2020-12-31 19:55] SupremeTechnopriest commented on #135
You are welcome!

[2020-12-31 19:55] #135 closed

[2021-01-06 09:58] yatharth1706 opened #136 "Stop timer initially and run timer when calling reset manually in code"
Hy, I am using useIdleTimer hook in react. Is there any way by which we can keep idleTimer initally stopped and when we call reset function in our code then only idle timer should start.

[2021-01-06 10:05] #136 closed

[2021-01-07 06:11] SupremeTechnopriest commented on #136
@yatharth1706  I imagine you came across the `startOnMount` property!  That should do what you want.

[2021-01-07 06:31] yatharth1706 commented on #136
yes, I read the documentation carefully and came across startOnMount property. Thanks

[2021-01-07 21:34] woodreamz opened #137 "Hook - Dynamic timeout"
Hi,

Thanks for this package, I am using it since few months to handle the session timeout in my webapps. It works fine but we decided to have a dynamic timeout editable by the user and I am not able to figure out why the the timer does not reset.

I saw the closed issue #135, it seems the provided solution is working but it's not working in my case, I don't know why.

I created a simple codesandb

[2021-01-07 22:30] SupremeTechnopriest commented on #137
Thanks for the report.  I have confirmed that this is an issue.  I will make it so you can pass a dynamic timeout to the hook without the need to call reset.  Stand by.

[2021-01-08 00:18] SupremeTechnopriest commented on #135
@Cloudzaaa Hello, version `4.5.1` no longer requires you to call `reset()` manually. Just change the timeout and it should all work out of the box.

[2021-01-08 00:26] SupremeTechnopriest commented on #137
@woodreamz Hello, I just published version `4.5.1` to npm that supports dynamic timeouts.  I updated your code sandbox and it appears to be working as expected. https://codesandbox.io/s/dynamic-timeout-forked-npqbq?file=/src/App.js

Let me know if you have any other issues!

[2021-01-08 00:26] #137 closed

[2021-01-08 14:24] woodreamz commented on #137
Thank you for the quick fix.

I tested the version 4.5.1 in the codesandbox  and my webapp, it works perfectly!

[2021-01-08 17:38] Cloudzaaa commented on #135
thanks!

[2021-01-15 18:04] dollychhabriya opened #138 "Ability to keep IdleTimer on even in the sleep mode."
Is there a way through which we can keep Idle timer on even when the laptop is in sleep mode?

[2021-01-22 15:53] muthu1712 commented on #137
Hi...
Does the dynamic timeout logic work only if its used as a hook?

Am using the timer as a component itself (<IdleTimer (...props)/>). Dynamically updating the 'timeout' prop doesn't seem to work in this case.

[2021-01-22 20:16] SupremeTechnopriest commented on #137
I think you might need to call reset here, but I should be able to make it so you dont need to.  Ill work on it today.

[2021-01-22 20:41] SupremeTechnopriest commented on #138
As IdleTimer is timeout based, not in its current implementation.  I can think about ways to add this functionality.  One idea is grabbing a timestamp on the `pagehide` event and grabbing another on the `pageshow` event.  If the diff is greater than the timeout value, fire onIdle.  Im not sure if the events are fired on system sleep.  Its something I would have to test.

[2021-01-22 21:52] SupremeTechnopriest commented on #137
@muthu1712 Hey this is good to go.  Published version `4.5.2` to npm.  Just set the timeout and it will automatically do the rest.

[2021-01-22 23:11] SupremeTechnopriest commented on #138
@dollychhabriya Since sleep mode is an OS level feature, I don't think there is much that can be done to support your feature request. I tested a few implementations, but it turned out to be redundant. The best that we can do is when the user wakes up the computer, the idle event should fire.  You might want to think about passing your own list of events as the default event list includes `visibil

[2021-01-22 23:11] #138 closed

[2021-01-25 11:09] muthu1712 commented on #137
Thanks buddy @SupremeTechnopriest for the really really quick fix.

[2021-02-09 00:18] czhou29 opened #140 "getLastIdleTime is still not binded to component"

[2021-02-09 00:20] czhou29 commented on #140
this.getLastIdleTime = this.getLastIdleTime.bind(this)

[2021-02-09 00:21] SupremeTechnopriest commented on #140
You are correct.  Patch incoming!  Thanks!

[2021-02-09 00:25] SupremeTechnopriest commented on #140
Version `4.5.4` published to npm.  Thanks again!

[2021-02-09 00:25] #140 closed

[2021-02-10 22:42] Edsonzhu opened #141 "pause() is not working properly when using hooks"
Hi,

I'm having trouble on using pause() to stop the timer on my app. On the first try it works fine but it stop working on the next tries.
I getting the pause and reset function from the useuseIdleTimer() and pass it to the rendering component1. That component1 will then pass it to componentVideo and pause the idle timer.
I seems like the pause() is never triggered by the componentVideo.

Any hel

[2021-02-10 23:02] SupremeTechnopriest commented on #141
Could you make a codesandbox that demonstrates the issue?  Would make it easier for me to figure out whats going on.

[2021-02-11 17:55] mehuljariwala opened #142 "how can i write test cases for this i am trying but getting errors"
can someone please help me with test cases in React TSX.

[2021-02-11 18:01] mehuljariwala commented on #142
Need examples of test cases that would easy to understand

[2021-02-11 19:56] SupremeTechnopriest commented on #142
This package has close to 100% test coverage.  You don't really need to test it because all the code is already covered... That said, you can take a look at the tests [here](https://github.com/SupremeTechnopriest/react-idle-timer/tree/master/src/__tests__) and it should get you started.  If your questions are specific to Typescript it would be better to ask in stack overflow.  I am not a fan of ty

[2021-02-11 19:56] #142 closed

[2021-02-12 16:42] Edsonzhu commented on #141
I tried to reproduce the error on codesandbox but I couldn't. In it, the code works fine so it might be something else.

Thanks

[2021-02-15 15:15] VolodymyrSeredaBBC opened #143 "onActive not called if timeout changes"
Hi! I think I discovered a bug with the IdleTimer.

Use-case: Start with one timeout, but change the timeout after the user becomes idle.

Example code illustrating the problem:

[code]

Expected result:
1. Text is "initial"
2. After 5 seconds, text becomes "idle"
3. I interact with the page
4. Text immediately becomes "active"

Actual result:
1. Text is "initial"
2. After 5 seconds, text becomes

[2021-02-18 06:45] chetrix opened #144 "Iframe"
if interacting with iframe, onIdle event occurs. please help

[2021-02-18 07:04] SupremeTechnopriest commented on #144
So technically the iFrame is a separate site.  Is the content of the iFrame content you control?  What you could do set set up idle timer on the iFrame site and `onAction` you can `postmessage` to the parent frame and have it call `reset` on the parent frames IdleTimer.  If you don't control the iFrame content, I'm not sure there is a way to make it work.  Especially if the iFrame is not on the sa

[2021-02-18 07:09] SupremeTechnopriest commented on #141
Thanks for confirming.  Good luck!

[2021-02-18 07:09] #141 closed

[2021-02-18 07:10] SupremeTechnopriest commented on #143
If you are using functional components you might want to consider using the `useIdleTimer` hook.  So when you change the timeout, the timer is automatically reset.  I will add a test for this case and see why its not working as intended.

[2021-02-20 01:27] SupremeTechnopriest commented on #143
Hey @VolodymyrSeredaBBC, I found the issue and patched it for both `IdleTimer` and `useIdleTimer`.  I added some tests for this case as well.  It has been published to npm as version `4.4.5`.  If for some reason it doesnt solve your issue, feel free to reopen this.

[2021-02-20 01:28] #143 closed

[2021-02-20 01:35] #144 closed

[2021-02-22 09:47] VolodymyrSeredaBBC commented on #143
Thank you! That was very fast. The issue seems to be solved now :)

[2021-02-27 01:26] mattsputnikdigital opened #145 "Why is prop-types in peerDependencies?"
"peerDependencies": {
    "prop-types": ">=15",
}

Why do I need this installed?

[2021-02-27 01:29] SupremeTechnopriest commented on #145
Because `IdleTimer` uses it to validate property types. It's commonly used in react projects so its listed as a peer-dependency so multiple versions are not downloaded.

[2021-02-27 01:29] #145 closed

[2021-03-08 18:11] strmer15 opened #146 "Pause / resume creates multiple event listeners"
When I add the `useIdleTimer` hook in my component, using `pause` and `resume` add multiple extra event listeners to the `document` (or whatever `element` I choose). When debugging, it seemed that `pause` and `resume` were using different, non-throttled versions of the [`_handleEvent` callback](https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/useIdleTimer.js#L86), so the `re

[2021-03-08 22:30] SupremeTechnopriest commented on #146
@strmer15 Acknowledged!  This is definitely bad, but should be an easy fix.  I will take a look after work today.

[2021-03-09 00:51] strmer15 commented on #146
@SupremeTechnopriest thanks for the quick response!

[2021-03-09 21:34] SupremeTechnopriest commented on #146
Work has been busy the past few days.  I will get to this as soon as I can.

[2021-03-09 23:12] strmer15 commented on #146
No problem! Thanks for all the effort you put in to maintain this package.

[2021-03-10 02:19] SupremeTechnopriest commented on #146
@strmer15 This is all set now. Published to npm as version `4.5.6`. I updated your codesandbox to demonstrate the fix.

https://codesandbox.io/s/crazy-hopper-dou18?file=/src/App.js

[2021-03-10 02:19] #146 closed

[2021-03-10 21:43] sandipsubedi opened #147 "Is there a better way to handle idling on multiple tabs:"
Basically, I need to logout the user if they are idle on all tabs. And not log them out if they are active in even 1 tab.

This is how I am doing now. But I am updating my localStorage every time the user is doing something. It feels like there should be a better way to do this. Anyone ran into this before and have any suggestions?

[code]

Another way I found was to have a counter for tab and idl

[2021-03-10 22:35] SupremeTechnopriest commented on #147
So you can actually `postMessage` in between tabs.  You could designate one tab as your orchestrator, and then have all other tabs postMessage to the orchestrator tab.  Would look something like this:

1. First tab is opened, designate as orchestrator
2. New tab comes up, postMessage to orchestrator to say "Hello I'm here". Orchestrator adds tab to a map with idle state
3. On Idle timer (active, i

[2021-03-10 22:39] SupremeTechnopriest commented on #147
On second thought, maybe I can build this into the library using a SharedWorker.... That would be pretty elegant.  I will experiment with it over the next few days and let you know.

[2021-03-11 08:03] huseyingoztok opened #148 "About events"
How can I activate the onAction without sending a requestt when I click anywhere on the page?

[2021-03-11 08:04] huseyingoztok commented on #148
Which event or events should I use?

[2021-03-11 08:39] SupremeTechnopriest commented on #148
Im not sure I fully understand your question, but it depends on what events you want to consider an action.

[Here](https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/src/index.d.ts#L6-L95) is a list of most all of the events you can choose from, but any dom event is applicable.

Do you mean you want onAction to fire when you click, but you don't want the click to propagate to the

[2021-03-11 09:10] huseyingoztok commented on #148
To give an example,

For example, when an unauthorized user logged in in a different tab clicks on a place in the menu where he is not authorized, the request goes directly to the server and the application redirects to the 401 page because the server returns 401. What event will I be able to intercept without going to this request server?

[2021-03-11 09:15] SupremeTechnopriest commented on #148
Well if the click is the event you want to intercept, then click is the event you want to listen to.  What you could to to prevent the propagation is put the css property `pointer-events: none` on the element you don't want the click to go through.  Then just the onAction event will trigger.  From there you can dynamically update the `pointer-events` prop when you want the user to be able to click

[2021-03-11 09:22] huseyingoztok commented on #148
Thanks, I'll try.

[2021-03-11 09:24] SupremeTechnopriest commented on #148
Sure thing, if it works out feel free to close this issue.  If you are still having trouble we can try to figure something else out.

[2021-03-11 14:34] sandipsubedi commented on #147
I didn't know about this before. I will give it a shot. Thank you so much for your quick response.

[2021-03-11 14:40] sandipsubedi commented on #147
It seems like SharedWorker is not supported on Internet Explorer (surprise 😆 ) and no full support on Safari. So that's probably a no go for me.

[2021-03-11 17:19] #148 closed

[2021-03-12 01:20] SupremeTechnopriest commented on #147
Sounds good.  Good luck.  Im going to think about a way to add this functionality to the core for the next major release.

[2021-03-12 01:21] sandipsubedi commented on #147
Thank you @SupremeTechnopriest . I am going to close.

[2021-03-14 09:15] SupremeTechnopriest commented on #147
Hey @sandipsubedi,

I am pretty close to finishing a built in implementation for multiple tabs and I had a few questions.

- When all tabs are idle, would you want each tab to fire the `onIdle` event? Or just the last or currently visible tab?
- When a tab becomes active, would you want `onActive` to be fired on all tabs, just the active tab, or the last visible or currently tab?

My thoughts are,

[2021-03-14 14:56] sandipsubedi commented on #147
In my case, the last one is better. Because I want to logout the user when the `last tab that's active` is idle.

[2021-03-14 15:02] sandipsubedi commented on #147
In my case, I care more about all tabs being inactive for let's say 30 min. And the last tab that becomes inactive for 30min will check if there is still an active tab. If there is, it won't logout the user. If all other tabs are inactive for 30min already, I want to logout the user.

If the user is active, it probably has to update some central place that it's still active, so that the current ta

[2021-03-14 15:07] sandipsubedi commented on #147
A couple of things here. I am already using this: https://github.com/pubkey/broadcast-channel  to broadcast a message from my **logout method** that will logout user from all tabs (technically user is logged out from one tab and other tabs will be redirected to the login page/home page).

Another piece is,
`My thoughts are, maybe the onIdle event opens an "Are you still there?" model, in which cas

[2021-03-14 23:36] SupremeTechnopriest commented on #147
Okay, I think I will make it configurable to cover all use cases. I hope to have this ready to test by the end of the month.

[2021-03-19 02:25] sandipsubedi commented on #147
Btw, storing `tabCount` on localStorage wasn't very reliable while redirecting. But I ended up doing it as you suggested above, using broadcast message and making one tab the elector/leader.

[code]

[2021-03-19 02:49] SupremeTechnopriest commented on #147
Cool cool!  Glad it helped.  Work is a bit busy at the moment so it's been a bit tough to find the time to work on this, but I have it mostly reliable on a new branch. After a few more iterations, I'll probably push out a `next` ask you to test it.

[2021-03-19 03:32] sandipsubedi commented on #147
Awesome! I will be more than happy to test it.

[2021-03-22 12:03] AndriyHromyak opened #149 "Need clarification on "onIdle" event"
I have 2 scenarios:

1. I am setting "timeout" as 9 min, and do nothing till "onIdle" event triggers and show me modal window(with counter i have set up) i have implemented, and it works perfectly fine.
2. Same thing as above yet i am hiding browser and using other apps, in this case seems like "onIdle" is triggered right before i open my tab where i have my app, and not after 9 min of idleness, w

[2021-03-22 15:30] SupremeTechnopriest commented on #149
This sounds like it's from [timer throttling](https://developers.google.com/web/updates/2017/03/background_tabs#budget-based_background_timer_throttling).  There are ways to prevent this, but it will consume resources. https://github.com/turuslan/HackTimer being one of them.

Hope this helps.

[2021-03-22 15:30] #149 closed

[2021-03-24 08:55] Niks218 commented on #147
I found out this topic and created my own snippet. Maybe it will help you and everyone who will try to implement something similar
[code]

[2021-03-25 06:11] SupremeTechnopriest commented on #147
Nice looks good @Niks218!  For my implementation I wont be using BroadcastChannel just yet, as they aren't [widely supported](https://caniuse.com/?search=BroadcastChannel), but the interface of the API can easily be swapped out for BroadcastChannel when support is more uniform in the wild. Anyone who doesn't need to support IE, Safari or iOS I strongly recommend using BroadcastChannel as its non-b

[2021-03-25 06:14] SupremeTechnopriest commented on #147
I imagine you are using this? https://github.com/pubkey/broadcast-channel

Not bad, I will look into it.  It has nice fallbacks for older browsers.

[2021-03-25 07:35] Niks218 commented on #147
@SupremeTechnopriest Yes, I used this library because @sandipsubedi mentioned it. I don't care much about IE, but Safari is something that should be supported. So yeah, didn't want to create something unmaintainable.
Also, I tried to implement your idea with orchestrator tab and this **broadcast-channel** library came to rescue with its mechanism for leader selection. Made work much easier.
The on

[2021-03-25 07:40] SupremeTechnopriest commented on #147
You have `pause` and `resume` to control the timer 🙂. I will get a robust cross tab solution in place so you can just set it and forget it.  I think I'll go with this broadcast channel lib.  It looks like it will do nicely. Currently messing around with some ideas.  I will post back here with configuration examples and get your feedback! Thanks for the snippet!

[2021-03-25 07:53] Niks218 commented on #147
That's true, but that's less efficient then no to start a timer at all IMO. Anyway it's not a big problem for me.

Great! Definitely will try and switch to your solution.

[2021-03-25 07:55] SupremeTechnopriest commented on #147
Ah! You can set `startOnMount` to `false` and the timer wont be started until you call `reset()`.  Would that do what you need?

[2021-03-25 07:58] Niks218 commented on #147
Hmm, I tried it, but timer was started anyway after some action. Most likely, I messed up somewhere.

[2021-03-25 08:01] SupremeTechnopriest commented on #147
You are right, setting that to false would make it start on first action.  I will add something for you to manually start the timer.

[2021-03-25 08:01] Niks218 commented on #147
It would be very cool, thank you a lot!

[2021-03-30 17:34] roypearce commented on #127
I've had the same issue. Here is a sandbox that repros it https://codesandbox.io/s/boring-elbakyan-thhm6?file=/src/App.js Lose the code that is causing re-renders, and it works as expected. Since this is likely to be used on pages that have re-renders, this is a realistic issue. I imagine the cause is some sort of issue where a new instance is generated on each render?

What I've found that solves

[2021-03-30 18:58] SupremeTechnopriest commented on #127
Thanks for the sandbox.  I will look into it this weekend!

[2021-03-31 07:33] AndriyHromyak opened #150 "react-idle-timer@4.5.5" has unmet peer dependency "prop-types@>=15""
i have warning when installing react-idle-timer
"react-idle-timer@4.5.5" has unmet peer dependency "prop-types@>=15""
is there any solution how to fix this?

[2021-03-31 17:13] SupremeTechnopriest commented on #150
Hey @AndriyHromyak, yeah all you have to do is `npm i prop-types --save-dev`.  I set it as a peer dependency so there aren't multiple versions of it floating around in your modules folder.  Most React projects use it and I would consider it good practice to.

[2021-03-31 17:13] #150 closed

[2021-04-02 11:24] dreaken commented on #147
Any progress in this area? :)

[2021-04-02 17:40] SupremeTechnopriest commented on #147
Hey all, sorry for the delay here.  Work has been really busy with a new major roll out.  Im going to be wrapping this up this weekend along with some other new additions.  I will keep you posted!

[2021-04-04 02:08] SupremeTechnopriest commented on #127
@roypearce I checked out the sandbox you linked and I dropped the timers down a bit to:

[code]

[2021-04-04 02:31] SupremeTechnopriest commented on #147
Hey @sandipsubedi, @Niks218 and @dreaken!

So I have `4.6.0-rc.0` published to npm under the `next` tag.  You can install it with `npm i react-idle-timer@next`.

Right now I have only implemented cross tab support for the `useIdleTimer` hook, but once we all agree that is stable I will port it over to the component as well.  Here's how to use it:

[code]

It currently defaults to off. You can also

[2021-04-04 08:08] dreaken commented on #147
As now im not able to write code yet, i have question. OnActive will be emited to every tabs automatically, or manual? I want to display login layer on every tabs, and hide it, if user authorize on one od them.

[2021-04-04 17:55] SupremeTechnopriest commented on #147
@dreaken Ah in its current form it will not do that, but I can easily add that functionality.  I'll put it behind a config option. I will push rc1 today for you to test.

[2021-04-04 18:20] SupremeTechnopriest commented on #147
@dreaken I just published `4.6.0-rc.1` to the `@next` tag.  You can now supply an `emitOnAllTabs` option to have `onIdle` and `onActive` emitted on all tabs. Typedefs updated as well.  Here is an example:

[code]

This will fire the events on all tabs when all tabs become idle or when one tab becomes active from all tabs being idle.

Let me know how it goes!

[2021-04-05 16:35] roypearce commented on #127
Given the sandbox I shared, I expect one call to onAction every 5 seconds regardless of how many clicks happen on the page. In the real world I have this set to 5 minutes because onAction is making an API call to check if the session was modified, but I certainly don't want that to happen once a second.

Having the interval and the throttle set to the same amount will probably mask the issue. If y

[2021-04-05 23:17] SupremeTechnopriest commented on #127
Confirmed.  Will look into this tonight.

[2021-04-05 23:58] SupremeTechnopriest commented on #127
Hey @roypearce @r3wt,

I found and fixed the issue.  Published to npm as `4.6.0-rc.2` under the `next` tag.  Install with `npm i react-idle-timer@next`.  Theres a few new features on that branch as well, but they are off by default.  Hoping to get this on the stable branch sometime in the next few weeks.

Let me know if that fixes it for you. Looking good on my end.

[2021-04-05 23:58] #127 closed

[2021-04-06 00:01] SupremeTechnopriest commented on #127
If you guys need this on the stable branch I can push a patch, just let me know if you cant wait a week and I'll get it done.

[2021-04-06 12:58] r3wt commented on #127
@SupremeTechnopriest Thanks! I am ok to wait for patch later

[2021-04-06 16:06] roypearce commented on #127
Thanks @SupremeTechnopriest for the fix. I think there's more than just us two that would benefit from it being patched. I appreciate the time & effort you put into maintaining this, and I'm glad you were able to find & fix the issue, so I'm okay waiting.

[2021-04-06 18:11] SupremeTechnopriest commented on #127
Thanks guys!  Shouldn't be long.  Probably this Friday or this weekend.

[2021-04-06 18:14] SupremeTechnopriest commented on #147
Has anyone had a chance to test this new code in their application yet?  Im hoping to release it by the end of the week.  It all looks good to me, but it would be nice to verify that it works as expected in a full application and not just my little sandboxes.

[2021-04-06 18:17] sandipsubedi commented on #147
Hi, @SupremeTechnopriest  I will try this today and let you know.

[2021-04-06 19:19] Niks218 commented on #147
@SupremeTechnopriest I tried it and it work great. But I noticed, that when you do some actions on non-leader tab, then it resets shared timer, but doesn't call `onAction` callback at others tabs or at least at leader tab. Is this done on purpose?

[2021-04-06 19:36] SupremeTechnopriest commented on #147
@Niks218 Did you try setting `emitOnAllTabs`?

[2021-04-06 19:38] Niks218 commented on #147
Yes, I'm using it. How I said that's good for me. Works like a charm

[2021-04-07 17:23] sandipsubedi commented on #147
@SupremeTechnopriest It's working great for me too! Good work here!

[2021-04-07 20:04] SupremeTechnopriest commented on #147
Awesome!  Im going to work on getting this ready for release.  Outlining the steps below:

- [ ] Unit tests for TabManager
- [ ] Port functionality to IdleTimer Component
- [ ] Write documentation
- [ ] Publish Release

[2021-04-07 21:45] dreaken commented on #147
@SupremeTechnopriest  I have created a PoC and it looks good, thanks!

[2021-04-09 03:21] SupremeTechnopriest commented on #147
Painfully made it to 100% test coverage.  On to docs and examples.

[2021-04-09 19:23] SupremeTechnopriest commented on #147
Hey everyone.  `4.6.0` is deployed to npm.  Check out the README for full docs and the CHANGELOG or release for changes.  Thank you all for testing this feature with me!

[2021-04-09 19:23] #147 closed

[2021-04-09 19:24] SupremeTechnopriest commented on #127
@roypearce @r3wt Hey guys, 4.6.0 is published to NPM.  The throttle bug is fixed and I also added some new features.  Check out the README for more info!

[2021-04-09 23:06] roypearce commented on #127
@SupremeTechnopriest thank you sir!

[2021-04-11 00:12] dreaken commented on #147
@SupremeTechnopriest I have one issue, how i can switch from idle, to active? I have useIdleTimer initialized in this way:
![image](https://user-images.githubusercontent.com/6353443/114287734-95c6a800-9a69-11eb-9da6-6c497f0c241f.png)
and i tried run reset/resume, but onActive was not executed. If i will attach my logic to onAction, then after reset it will be no synced with other tabs.

[2021-04-11 00:18] SupremeTechnopriest commented on #147
Do you have:

[code]

Right now, calling reset/resume only applies to the tab you call it on.  Maybe we should sync that across tabs as well?

[2021-04-11 00:24] dreaken commented on #147
Yes
![image](https://user-images.githubusercontent.com/6353443/114288101-d5db5a00-9a6c-11eb-9595-8c0dcb4c9d9d.png)
but onActive is not even fired on local tab.

if we are talking about synchronize reset between tabs, i think yes. If we manipulate IdleTimer, then we want to have effect in every tab

[2021-04-11 00:43] SupremeTechnopriest commented on #147
Can you test on the 4.6.0 latest tag?  I think i know whats up.

[2021-04-11 00:54] SupremeTechnopriest commented on #147
Yeah reset and reset don't call onActive. Only user input can call onActive.  Since you have `stopOnIdle` set onActive will never be called.  You basically have it in manual mode.  You can just do your onActive stuff when you call resume or reset.  Im not sure that firing `onActive` on reset and resume would be good for other implementations.  It would end up always firing onActive when the compon

[2021-04-11 00:57] dreaken commented on #147
How can i run onActive manually? Cuz i need to use stopOnIdle, becouse i need to set status on active, only if authorization will pass

[2021-04-11 01:15] SupremeTechnopriest commented on #147
I would just make it a function you call:

[code]

[2021-04-11 01:20] dreaken commented on #147
but onActive have to be fired on every tabs, becouse it hides authorization overlay

[2021-04-11 01:29] SupremeTechnopriest commented on #147
Mmm I see.  Let me think on that.  I will have to add something to allow you to do this.

[2021-04-11 01:31] dreaken commented on #147
It will be great! I count on you!

[2021-04-11 01:31] SupremeTechnopriest commented on #147
I have a few ideas I will try out this weekend.  Ill get back to you here.

[2021-04-11 17:07] dreaken commented on #147
Do you use "BroadcastChannel"? Because i get often error like this
![image](https://user-images.githubusercontent.com/6353443/114313978-15e81e80-9af9-11eb-8f3d-743bc594f083.png)

[2021-04-11 17:31] SupremeTechnopriest commented on #147
Broadcast channel has a bunch of extra junk we don't need here.  I implemented only what we need from there.  I think i know what this is, I will fix it today along with the send onActive feature you requested.

[2021-04-11 18:29] SupremeTechnopriest commented on #147
@dreaken just to be sure, you are on the latest tag right? I didn't push the final version to next tag.

[2021-04-11 18:43] dreaken commented on #147
I'm using "react-idle-timer": "^4.6.0",

[2021-04-11 18:57] SupremeTechnopriest commented on #147
Cool, leave this with me for a bit.  Ill get back to you shortly.

[2021-04-11 20:33] SupremeTechnopriest commented on #147
@dreaken Okay, so what I did is separate out `start` and `reset`.  'start' starts the timer without firing any events and `reset` will fire `onActive` if the timer is in an idle state (no `crossTab`) or all tabs are idle (`crossTab`).  I couldn't reproduce the could not send message error.  If you can create a codesandbox that recreates that I can look into it.  All the tests pass.

You can pull t

[2021-04-12 18:03] dreaken commented on #147
In my reallife app it doesnt fire onActice, but on fresh, simple app, yes, but it doesnt fire reset.

For example, main tam, when i run reset:
![image](https://user-images.githubusercontent.com/6353443/114439984-e6551700-9bc9-11eb-8e7e-d8b3169fa5e4.png)

second tab
![image](https://user-images.githubusercontent.com/6353443/114440056-fbca4100-9bc9-11eb-9a2c-356b5af933a4.png)

We can see, that onAct

[2021-04-12 18:05] dreaken commented on #147
I have use simple code in fresh project.
To initialize: ```
  const { getRemainingTime, getLastActiveTime, reset, start, resume } = useIdleTimer({
    timeout: 1000 * 60,
    onIdle: event => {
      console.log('user is idle', event);
      console.log('last active', getLastActiveTime());
    },
    onActive: event => {
      console.log('user is active2', event);
      console.log('time remainin

[2021-04-12 18:10] dreaken commented on #147
I also get the error in this sample project
![image](https://user-images.githubusercontent.com/6353443/114440789-d558d580-9bca-11eb-927d-23e030070827.png)

In this case, i had 2 tabs, i did some changes(for example added second dot in "and save to reload." to get hot reload, and unactive tab crashed(not at the first time, but i added and removed this dot few times, and when i checked inactive tab

[2021-04-12 19:17] SupremeTechnopriest commented on #147
Okay Its probably because you aren't calling the reset function on the leader tab.  I'll push a patch where it wont matter which tab its called on. I will try to reproduce the channel closure bug as well.

[2021-04-12 21:18] SupremeTechnopriest commented on #127
Hey @roypearce and @r3wt,

I made some discoveries while working on some new features in regards to throttle.  There is a trade off we need to decide on.  So basically if the component that mounts IdleTimer is functional, the callbacks `onActive`, `onIdle` and `onAction` are recreated every time the component updates.  This is why we were seeing that bug with the `throttle`.  The reason being is t

[2021-04-12 21:20] SupremeTechnopriest commented on #127
I am leaning towards keeping the ability to redefine and requiring the callbacks to be wrapped in `useCallback`.

[2021-04-12 21:23] r3wt commented on #127
@SupremeTechnopriest I agree with you. Perhaps a note about the behavior in the readme (maybe a pitfalls section?) would be helpful.

[2021-04-12 21:24] SupremeTechnopriest commented on #127
For sure, I will update the README and the examples.

[2021-04-12 21:25] SupremeTechnopriest commented on #127
When 4.6.1 drops you will need to wrap your handlers in `useCallback`.  Just a heads up.

[2021-04-12 23:03] SupremeTechnopriest commented on #147
@dreaken Just pushed `4.6.1-rc.2` to the `@next` tag.  Give that a go, it should do what you are looking for now.  If `emitOnAllTabs` is enabled, all the methods will be replayed to all tabs (`start`, `reset`, `pause`, `resume`).  As far as the closed channel error. It popped up once for me, but Im pretty sure this is related to live reload.  Im going to have to get a reliable reproduction going i

[2021-04-12 23:13] dreaken commented on #147
Thanks, i will try tomorow. If we are talking about this error, in my realapp i get many times, even on reload page, so it's hard to develop if i have react-idle-timer initialized. There is no way to catch this error and try reopen channel?

[2021-04-12 23:29] SupremeTechnopriest commented on #147
There is definitely a way to fix it (and we will), its just a matter of being able to reproduce it reliably so I can see whats going on. My guess is that the channel is being closed before the unload event is being called.  I will get into it tomorrow.

[2021-04-13 13:02] SercanSercan commented on #147
Thank you for good work, @SupremeTechnopriest. I have a question: I don't understand the role of isLeader function. It does not change its value when the user becomes active on another tab. I read the documentation, but it is still not clear to me. Can you explain a bit more?

Thanks!

[2021-04-13 18:26] SupremeTechnopriest commented on #147
@SercanSercan Sure!  When you have cross tab enabled, one of the tabs is elected to be the leader.  That means it is the one responsible for tracking the idle state of all other tabs and emitting events.  If the leader tab is closed, a new tab will be elected as the leader. `isLeader()` lets you know if the tab you called the function on is the lead orchestrator.  I don't really see an immediate u

[2021-04-13 19:03] SupremeTechnopriest commented on #127
Good news, I managed to get all the functionality we want without requiring `useCallback` so this wont be a breaking change, though I do still suggest it as it likely improves performance slightly.

[2021-04-13 19:44] SupremeTechnopriest commented on #127
I published `4.6.1-rc.3` to npm under the `@next` tag if you want to test it out in your applications.  `npm i react-idle-timer@next`.

[2021-04-13 19:48] todda00 opened #153 "4.6.0 is throwing error: Uncaught ReferenceError: regeneratorRuntime is not defined"
The package works with 4.5.6, with 4.6.0 the following error occurs:

[code]

I tried both the index.es.js and index.min.js with the same results.

[2021-04-13 19:49] SupremeTechnopriest commented on #153
Will look into that.  Must be something missing in my babel config.

[2021-04-13 19:56] SupremeTechnopriest commented on #153
Can you tell me which browser is this is failing in?

[2021-04-13 20:00] todda00 commented on #153
@SupremeTechnopriest Chrome 89, I just tried on Safari 14 and got a slightly different (but same) error:

`ReferenceError: Can't find variable: regeneratorRuntime`

[2021-04-13 20:12] todda00 commented on #153
FWIW we use babel 7 and webpack 5 to build our app

[2021-04-13 20:15] SupremeTechnopriest commented on #153
Okay thats helpful.  Will get back to you shortly.  In the mean time, would you mind testing `npm i react-idle-timer@next`?

[2021-04-13 20:22] todda00 commented on #153
Just tried `react-idle-timer@next` with the same resulting error.

[2021-04-13 20:22] SupremeTechnopriest commented on #153
Okay keep that installed for a bit.  I will push some fix attempts to that tag.

[2021-04-13 20:48] SupremeTechnopriest commented on #153
I just published `4.6.1-rc.4` that hopefully fixes your issue.  Can you give it a try on the `@next` tag?

[2021-04-13 20:52] todda00 commented on #153
🎉 🎉 🎉  `4.6.1-rc.4` fixed the issue!

[2021-04-13 20:54] todda00 commented on #153
Thanks for knocking that out super quick!

[2021-04-13 20:55] SupremeTechnopriest commented on #153
Awesome! I hope to release it today or tomorrow.  In the mean time you can just use the `next` tag and I will update here when it's been released.

[2021-04-13 20:56] SupremeTechnopriest commented on #147
@dreaken How are we looking (apart from the hot reload issue)?

[2021-04-13 21:00] SupremeTechnopriest commented on #153
No problem. This repo is my baby and I always stay on top of it 🙂

[2021-04-13 21:22] dreaken commented on #147
Sorry, i was not able to check it today, tomorrow will do for sure

[2021-04-13 21:23] SupremeTechnopriest commented on #147
No worries.  Let me know.  I think its ready to release and there a few other fixes I would like to get out asap.

[2021-04-13 21:57] annabrit opened #154 "Rehydrate a previous idle state after closing and opening page"
Thanks for adding multiple tab support!
Is there any way to work with the existing structure supporting multiple tabs to support resuming/rehydrating a previous idle state when all the tabs are closed and later, a new one is opened?
It looks like I can use `removeTimeout` to control the lifespan of the cross tab messaging with localStorage, but can I use the data in localStorage to set the interna

[2021-04-13 22:05] SupremeTechnopriest commented on #154
Hi @annabrit,

In its current form this isn't possible.  Tabs are given a unique Id when they are created so the old state wouldn't map back to the new state. How ever, if all you care about is the idle state of all tabs from the previous session I may be able to implement something for you.

[code]

Is that sort of what you want?

[2021-04-13 22:14] SupremeTechnopriest commented on #154
Though I kind of question why this would be needed.  The act of going back to the site kind of implies the user is active again.  Can you describe your use case a little?

[2021-04-13 22:15] annabrit commented on #154
Hi @SupremeTechnopriest
You are quick!

I figured it wouldn't be possible, but I thought I'd ask.
In my particular use case, I want to log users out after X minutes of inactivity. They might close all their tabs while they are still considered to be active, but if X minutes pass before they open a new tab, they should be logged out when they do open the tab (although possibly that is the wrong app

[2021-04-13 22:19] SupremeTechnopriest commented on #154
Hmm yeah I think JWT is better suited for that.  You could request a new JWT with an expiration of your timeout when the user closes all the tabs and then check the JWT against the server when they come back.  Going to close this issue, but if I can come up with another solution for you I will post it here.

[2021-04-13 22:19] #154 closed

[2021-04-14 17:15] ahayden-lg opened #155 "Idle timer not starting with crossTab without a usr mouse/keyboard event"
The recent crossTab feature is greatly appreciated, but I've found that if there is no mouse/keyboard event by the user after creating the react-idle-timer component that it appears that the idle timer never gets started (until a mouse/keyboard event is performed by the user).

I've tried to call start(), reset() and pause()/resume() in React's componentDidUpdate() method. But, without a user init

[2021-04-14 17:53] dreaken commented on #147
Im still getting this channel error, but synchronization works fine now. thank you

[2021-04-14 18:18] SupremeTechnopriest commented on #147
Great.  Let me see if i can fix the channel error on hot reload.

[2021-04-14 18:19] SupremeTechnopriest commented on #155
Hm thats a problem.  Let me look into that.

[2021-04-14 18:49] SupremeTechnopriest commented on #155
Hmmm, can you tell me what `timeoutValue` is? If its too low and idle is fired before the leader is elected then this might happen.  I just wrote a test:

[code]

When timeout is set to 500 it works fine.  If its set to 200, the leader hasn't been elected yet and onIdle does not fire.

[2021-04-14 19:34] ahayden-lg commented on #155
The recent testing has been 6000. I noticed that once I move my mouse (for an event) I see the onAction event trigger and then it proceeds to timeout when idle as expected.

[2021-04-14 19:39] SupremeTechnopriest commented on #155
Thats very odd.  Can you do me a favor and try with the next release `npm i react-idle-timer@next`?  There have been some changes there that might fix this for you and thats the code I'm testing against.

[2021-04-14 19:56] SupremeTechnopriest commented on #147
@dreaken I published `4.6.1-rc.5` to the `@next` tag.  Instead of throwing an error when the channel is closed, I log to the console.  This will make it so the app does not crash and provide me with a little better debugging info.  Can you test it and paste the console.error here?  It will tell me which message is failing to send in time and I should be able to fix it with that info.

[2021-04-14 20:22] dreaken commented on #147
I still get this error
![image](https://user-images.githubusercontent.com/6353443/114773779-c19aa400-9d6f-11eb-9730-9d57ce9d32eb.png)
![image](https://user-images.githubusercontent.com/6353443/114773827-d119ed00-9d6f-11eb-906f-3934cf54e0ef.png)

[2021-04-14 20:24] SupremeTechnopriest commented on #147
Hmm something is messed up one sec.

[2021-04-14 20:31] ahayden-lg commented on #155
Sure. I'm also trying to recreate it in a simple react app.

[2021-04-14 20:38] SupremeTechnopriest commented on #147
Is your project something you can share with me?  I cant reproduce this in my sandboxes.

[2021-04-14 20:55] SupremeTechnopriest commented on #147
@dreaken pushed another fix attempt. `4.6.1-rc.6` can you test?

[2021-04-14 21:04] dreaken commented on #147
i catched this error on rc5
![image](https://user-images.githubusercontent.com/6353443/114778471-2d334000-9d75-11eb-88c3-7354cbc2d815.png)
But there is nothing interested. I think, i get this error less often than earlier.

In my project to reproduce it, i have to open app two tabs, wait for authorization layer(cancellation request is running and one item from localstorage is cleared) then im refr

[2021-04-14 21:21] SupremeTechnopriest commented on #147
Yeah try rc6 and see if that mitigates it. If you are using automatic method selection and you are using a modern browser, it should be using a BroadcastChannel, so localStorage wouldnt really effect anything.

It would be helpful if I knew which message it was trying to send when it failed.

[2021-04-14 21:53] dreaken commented on #147
i have catch something for you
![image](https://user-images.githubusercontent.com/6353443/114785187-95395480-9d7c-11eb-9620-4d52f494e7e3.png)

[2021-04-14 21:57] dreaken commented on #147
maybe its correlated with error above?
![image](https://user-images.githubusercontent.com/6353443/114785490-142e8d00-9d7d-11eb-8729-851434d87bf8.png)

(but without react-idle-timer its not crashing)

[2021-04-14 21:58] SupremeTechnopriest commented on #147
I dont think the errors are related, but that's definitely helpful.  Let me see what I can find.

[2021-04-14 22:03] dreaken commented on #147
I think, it might be correlated, becouse if errors above are fixed, then it works

[2021-04-14 22:04] dreaken commented on #147
which channel are these messages sent through?

[2021-04-14 22:09] SupremeTechnopriest commented on #147
In this case it would be a BroadcastChannel called `idle-timer`.

[2021-04-14 22:12] dreaken commented on #147
ah, yea. I thought it might be something like sockets, becouse there was one error about it

[2021-04-14 22:13] SupremeTechnopriest commented on #147
Does the component get unmounted when it hits that error?

[2021-04-14 22:20] dreaken commented on #147
Component with idle-timer is almost on the top of structure. i checked with simple
![image](https://user-images.githubusercontent.com/6353443/114787581-59a08980-9d80-11eb-81c6-56109038bce8.png)
and there was no "unmounted" in the console

[2021-04-14 22:26] dreaken commented on #147
After this error, there are still "internal" messages
![image](https://user-images.githubusercontent.com/6353443/114788091-2a3e4c80-9d81-11eb-9901-3c3d146bef36.png)

[2021-04-14 22:28] dreaken commented on #147
so it was able to reconnect i think. So only issue is, so the only problem I guess is that nothing catches this error

[2021-04-14 22:31] SupremeTechnopriest commented on #147
Yeah this is the leader elector trying to elect a new leader tab.  We need to figure out why the channel is being closed.

[2021-04-14 22:32] SupremeTechnopriest commented on #147
I can def catch the error, but the error shouldn't be occurring in the first place.

[2021-04-14 22:34] dreaken commented on #147
True, i will try fnd out, after fixing which above error it will stop crashing

[2021-04-15 04:45] ahayden-lg commented on #155
I create a sample app with `create-react-app` and also installed the next release with `yarn upgrade react-idle-timer@next`.

App.js
[code]

IdleTimeout.js
[code]

**Without crossTab** everything runs as expected on a single tab, such as...

1. Run the app (`yarn start`)
2. Load it into chrome (http://localhost:3000/)
3. Press the refresh button, being careful to keep the mouse from entering the w

[2021-04-15 04:46] SupremeTechnopriest commented on #155
Thanks for the detailed breakdown!  I will get into it tomorrow.

[2021-04-15 06:40] ahayden-lg commented on #155
There were a couple times when I did see the onIdle trigger with crosstab but am having a hard time detailing it / recreating it.
I did notice that with 2 windows open on the web page, the broadcastChannel-idle-timer local storage seems change rapidly...much more than with just one tab/window.

[2021-04-15 18:43] ahayden-lg commented on #155
Testing a bigger web app, I reduced removeTimeout time to be 10 sec while timeout is 15 sec with emitOnAllTabs: true. After logging in to the web app and being careful to keep the mouse out of the web page itself, the onInit did not trigger (waited > 15 sec) until I moved my mouse into the page. As soon as I moved the mouse onto the page...
- the onAction triggered (in the handler getRemainingTime

[2021-04-15 19:21] SupremeTechnopriest commented on #155
@ahayden-lg Which browser are you testing this in?  The localStorage method should only be used on older browsers that don't support BroadcastChannels.

[2021-04-15 19:23] SupremeTechnopriest commented on #155
Ah I've managed to reproduce it.  It's definitely related to the localStorage method.  Investigating now.

[2021-04-15 19:42] ahayden-lg commented on #155
Great! I've been using Chrome.

[2021-04-15 19:44] SupremeTechnopriest commented on #155
Im hot on the trail, should have a fix shortly.  Good catch on this.  Im surprised the tests didnt catch it.

[2021-04-15 20:37] ahayden-lg commented on #155
Great! If I can help test it let me know. Again very useful component and great responsiveness too!

[2021-04-15 21:39] SupremeTechnopriest commented on #155
Hey @ahayden-lg  I just pushed `4.6.1-rc.7` to the `@next` tag.  Can you test it out?  I think I solved it.

[2021-04-15 22:03] ahayden-lg commented on #155
Yes, I'll give it a try.

[2021-04-16 17:37] SupremeTechnopriest commented on #155
Hey @ahayden-lg were you able to test the new patch?  This is the last fix for the next release. Would like to get it out today if possible.

[2021-04-16 22:32] ahayden-lg commented on #155
I am sorry for the delay! I've been testing it. I tested it on the small test app that I had shared about and the problem has been fixed.

The thing that took me more time was testing it the other react app we are using react-idle-timer in which is more complex/bigger. For some reason on that later react app, the onIdle handler timeout did not trigger if there was no mouse/keyboard events (move mo

[2021-04-16 23:13] SupremeTechnopriest commented on #155
Hmm,  and you're sure you've updated to the latest patch?  What makes the other app more complex?  Is it complexity in how you use IdleTimer or just complexity in general?

[2021-04-16 23:18] ahayden-lg commented on #155
Here is a little more information... I noticed you note about 4.6.1 where `reset()` would fire `onActive`, so I found that by adding `reset()` to componentDidUpdate(), then `onIdle` would be fired without the need for any mouse/keyboard events.
[code]

[2021-04-16 23:27] ahayden-lg commented on #155
It is more complex in general, the use of react-idle-timer is the same, other than what I mentioned about of when it is instantiated (after login occurs). And we checked a few times to make sure I had 4.6.1-rc7, including removing the node_modules folder and rerunning `yarn install`, then rechecking (but good question).

[2021-04-16 23:36] SupremeTechnopriest commented on #155
Can you share your onActive handler for the bigger app?  Sounds like something is depending on that being called.

[2021-04-16 23:46] ahayden-lg commented on #155
Yes...here is what I just tested with:
[code]
and here is how <IdleTimer> was setup:
[code]

[2021-04-16 23:51] SupremeTechnopriest commented on #155
On your simple test project, were you passing in the timeout from state or was it hard coded?

[2021-04-16 23:53] ahayden-lg commented on #155
Both used the state:
[code]

[2021-04-16 23:56] SupremeTechnopriest commented on #155
Hmmmm... Im close to running out of ideas.  Is your app something you can share?  If you want to add me to the repo I can clone it and help debug.

[2021-04-17 00:03] ahayden-lg commented on #155
Also out of ideas...I've been continuing to run some tests while we've been chatting. Can't share the bigger app itself, sorry...and don't want to use your time up either. By adding in the `this.idleTimer.reset();` to the `componentDidUpdate()` it resolved the issue for the bigger app.
But, I was hoping to get you add'l info that might be of help you with any add'l work you might have wanted to do

[2021-04-17 00:11] SupremeTechnopriest commented on #155
Sure no problem.  Im just having a hard time understanding why that would be.  All calling `reset` would do is recreate the timer and fire an `onActive` event.  The `start` method is called automatically as long as `startOnMount` is not `false` and `startManually` is not true.

Inside the `IdleTimer.componentDidUpdate` I check for `idle` and and updated `timeout` and call `reset()` automatically:

[2021-04-17 00:19] SupremeTechnopriest commented on #153
`4.6.1`  is released to NPM.  You can switch back to the `latest` tag now.

[2021-04-17 00:19] SupremeTechnopriest commented on #153
`4.6.1`  is released to NPM.  You can switch back to the `latest` tag now.

[2021-04-17 00:19] #153 closed

[2021-04-17 00:20] SupremeTechnopriest commented on #147
`4.6.1`  is released to NPM.  You can switch back to the `latest` tag now.

[2021-04-17 00:21] SupremeTechnopriest commented on #127
`4.6.1`  is released to NPM.  You can switch back to the `latest` tag now.  You don't have to change your source code at all.  Managed to support anonymous, unwrapped callback functions.

[2021-04-17 00:21] SupremeTechnopriest commented on #155
`4.6.1`  is released to NPM.  You can switch back to the `latest` tag now.

[2021-04-17 00:24] ahayden-lg commented on #155
Great! Thanks again, and I've also noticed 4.6.1 is more stable as I've been using the release candicates and will switch back to latest. 🙂  Also, `crosstab` was the feature that really made the different for us to be able to use the component, thanks!

[2021-04-17 00:32] SupremeTechnopriest commented on #155
Glad its being put to good use 🙂

[2021-04-18 07:36] dreaken commented on #147
Do you catched this error in new version? Becouse even on stage serwer i get crashes becouse of it, time to time when i switch page. Additionaly, i need method, to run onActive mannualy, becouse if i get authorization layer on one page, and i open new tab with classic login page and i log in, then i am not able to hide authorization layer for previous tabs.

[2021-04-18 07:39] dreaken commented on #147
hmm. maybe i can just use reset instead of start? I have to check it

[2021-04-18 17:22] SupremeTechnopriest commented on #147
Yeah you can use reset for that. I didn't catch that error in this release because I thought you said it was related to another error. If that's not the case we can continue the hunt.

[2021-04-19 18:38] ahayden-lg commented on #155
On a test app which creates the <IdleTimer> when app is loaded, has only one local storage element if channelName is changed from default as expected. On the bigger web app there are two local storage entries, I'm seeing an entry for the default name ('idle-timer') and one being explicitly named in channelName attribute ('test-idle-timerd'). Thought this might be of help if this is issue is revisi

[2021-04-19 18:40] SupremeTechnopriest commented on #155
Yeah changing the channelName wont remove the old localStorage entry key, but only one should be getting updated by the Tab Manager.

[2021-04-19 23:30] nathanielhunter opened #156 "TabManager locks in onActive and other callbacks."
I was trying to integrate using crosstab support, and I found that it doesn't support updating the onActive (and other) function callbacks. For example if the activity callback depends on local state such as the login status, the initial login status is retained throughout the lifecycle of the crosstab timer with respect to the callback.

[2021-04-19 23:55] SupremeTechnopriest commented on #156
You mean changing the callback functions?

[2021-04-19 23:57] ad9999 commented on #149
Some reading regarding setTimeout and sleep mode would help understand upto certain extend

https://stackoverflow.com/questions/6346849/what-happens-to-settimeout-when-the-computer-goes-to-sleep

[2021-04-20 00:01] SupremeTechnopriest commented on #149
Ive thought about capturing timestamps and using them for a sanity check.  Maybe I'll get this in the next release.

[2021-04-20 00:17] nathanielhunter commented on #156
Technically, yes. I'm not actually changing the function just the data captured in closure, but I guess it's true the function itself has to change to make that happen.

[2021-04-20 01:01] SupremeTechnopriest commented on #156
Are you using the hook or the component?

[2021-04-20 01:02] nathanielhunter commented on #156
The component currently, if the hook behaves differently I could try that instead.

[2021-04-20 01:04] SupremeTechnopriest commented on #156
The hook should use the most recent functions.  I see if I can make the component do the same.

[2021-04-20 01:48] SupremeTechnopriest commented on #156
Think I have a patch that will support this in the Component.  Just writing some tests and ill push a revision to the `@next` tag.

[2021-04-20 02:22] SupremeTechnopriest commented on #156
Can you test out `4.6.2-rc.1` by installing from `npm i react-idle-timer@next`?  Let me know if that fixed the issue for you and I will publish it to the `latest` tag.

[2021-04-20 15:46] nathanielhunter commented on #156
Now I'm not observing events at all.

[2021-04-21 18:53] v1v2v3vv55 opened #157 "Question about start() vs. reset()"
So according to the document when onActive is being called then reset() will be called, so if I use start, does the previous timer still counting down or it will setup a new timer with timeout and previous one will be gone?

Another question, for my tag IdleTimer , if I don't put in onActive as prop, does the reset() will still be called? What I mean is that how to not triggered reset() if reset()

[2021-04-21 19:06] SupremeTechnopriest commented on #157
`onActive` does not call `reset`.  It's the other way around.  Calling `reset` will fire the `onActive` event if you are in the idle state.  `start` will just re start the timer without firing `onActive`

[2021-04-21 19:06] #157 closed

[2021-04-21 19:20] v1v2v3vv55 opened #158 "Continuous question on #157"
Hi thanks for answering on that one, it is quick and I really appreciate it! But I still feel unclear since I don't call reset() when user is idling:

When I testing my app the timer will be reset when there's a mouse movement/click or input from keyboard, and these actions trigger onActive, which triggered the reset(), to clarify, can I prevent the situation that automatically calling onActive or

[2021-04-21 19:25] SupremeTechnopriest commented on #158
Yeah you can set `stopOnIdle` to `true` and when the user becomes Idle, you will have to manually call `reset` or `start` to start the timer again.  Does this help?

[2021-04-21 19:33] v1v2v3vv55 commented on #158
Hi thanks! But if I set `stopOnIdle` to` true`, the timer will be paused right? For my app I do want the timer continue counting down when user is idling but not reset timer if user simply moving the mouse and pressing a single button on the keyboard. Which means the timer will reset only when `startOnMount` being called.

[2021-04-21 19:50] SupremeTechnopriest commented on #158
The timer will count down with `stopOnIdle` set, it just wont reset on user activity once idle.  You would have to call `start` or `reset` manually to restart the timer.  Im pretty sure this is what you want.

[2021-04-21 19:53] v1v2v3vv55 commented on #158
Thanks a lot!

[2021-04-21 22:30] SupremeTechnopriest commented on #156
Hmm.  I'll dig more into this when I have a chance. Probably this weekend.

[2021-04-22 16:52] v1v2v3vv55 commented on #158
Hi sorry for reopening this issue, I have set `stopOnIdle` to `true`, however the timer will still get reset once I move my mouse for a little bit without doing left/right click regardless of idling or not, since I hope the timer to reset only when users doing mouse click and pressing key , what I tried is changing the default events like this in order to prevent the listener retrieve some events

[2021-04-22 18:07] v1v2v3vv55 commented on #158
Sorry it is resolved now, I forgot it sure be a string, false alarm. Thanks again.

[2021-04-22 18:07] #158 closed

[2021-04-27 21:45] SupremeTechnopriest commented on #156
@nathanielhunter Sorry for the delay, work got busy.  Can you try `4.6.2-rc.2` published to `@next`?  Tried a different approach.

[2021-04-29 18:57] SupremeTechnopriest commented on #156
Just checking in, did you have a chance to test this?  Seems to be working for me.

[2021-04-29 21:02] nathanielhunter commented on #156
No, I haven't had time to get back to it. We changed tact on our project and don't know if we need this anymore.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Randy Lebeau ***@***.***>
Sent: Thursday, April 29, 2021 12:57:41 PM
To: SupremeTechnopriest/react-idle-timer ***@***.***>
Cc: Nathaniel Hunter ***@***.***>; Mention ***@***.***>
Subject: Re: [Supre

[2021-04-29 21:29] SupremeTechnopriest commented on #156
Okay Im going to roll out the change and close this issue then.  Thanks for the report.

[2021-04-29 21:29] #156 closed

[2021-04-29 22:18] SupremeTechnopriest commented on #156
Published `4.6.2` to npm.  Added tests to cover this use case.  Should be good to go should you decide to use the component again. 👍

[2021-05-04 20:56] ch-tactica opened #159 "Doesn't support screen readers?"
It seems that if there is a screen reader actively reading text on the page, it doesn't prevent the idle timer from firing. This is easily reproducible if you have a lot of text on the page and set a short-lived timer expiration.

[2021-05-05 02:59] SupremeTechnopriest commented on #159
Hmmm interesting problem. I will have to look into how the screen reader works. It's likely a separate frame. Might need to file a bug on the browser vendors. I'll do some tests and see what I can come up with.

[2021-05-10 15:22] lengockyquang opened #160 "Need support for crosstab trigger action"
Are there any option for crosstab action, to make sure that all tabs are not going to idle state if a tab is still active. ??
For example, I have 3 tabs such as tab A, B and C. A is the leader then user duplicate tab B and C from A, so tab B and C is not the leader tab. If we can make tab A or B or C is still active (action is trigger frequently) so other tabs are not going to idle state.

With im

[2021-05-10 18:34] SupremeTechnopriest commented on #160
Hello @lengockyquang,  Action is currently not supported on the cross tab manager. Only `onActive` and `onIdle` are replicated across tab.  The reasoning behind this was two fold.  Firstly, I didn't want to saturate the message layer with onAction events.  Especially since the localStorage fallback method is blocking.  Secondly I couldn't think of a good reason why you would want this. Really, you

[2021-05-11 01:05] #160 closed, assigned to nobody

[2021-05-17 14:40] mellis481 commented on #89
@SupremeTechnopriest If I'm understanding correctly, I believe the author is calling out how the execution of `setTimeout`, etal can be affected when a tab is inactive.  After running into this recently with my implementation of react-idle-timer, it seems like the recommended solution is to use web workers.  That approach is described here: https://stackoverflow.com/a/12522580/1315956

It's my und

[2021-05-17 18:15] mellis481 opened #163 "Function to call each time a remaining second elapses?"
I'm looking for a piece of functionality in react-idle-timer that doesn't seem to be present and that is a way to define a function/callback each time a remaining second elapses.

Here is an example use-case:  I want the log out a user if they have been idle for 30 minutes, but want to pop up a dialog in the last 60 seconds of that 30 minutes with a countdown timer, warning he/she that they will b

[2021-05-17 18:35] mellis481 commented on #163
I'm seeing this appears to be possible in one of the examples: https://github.com/SupremeTechnopriest/react-idle-timer/blob/master/examples/hook-ts/src/App.tsx